{
    "swagger": "2.0",
    "info": {
        "title": "Payment Initiation API",
        "description": "Swagger for Payment Initiation API Specification",
        "termsOfService": "https://www.openbanking.org.uk/terms",
        "contact": {
            "name": "Service Desk",
            "url": "/sso-login?redirectUrl=https%3A%2F%2Fnatwest-bankofapi-servicemanagement.atlassian.net%2Fservicedesk%2Fcustomer%2Fportals"
        },
        "license": {
            "name": "open-licence",
            "url": "https://www.openbanking.org.uk/open-licence"
        },
        "version": "v3.1.11"
    },
    "basePath": "/open-banking/v3.1/pisp",
    "host": "api.natwest.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json; charset=utf-8"
    ],
    "produces": [
        "application/json; charset=utf-8"
    ],
    "paths": {
        "/domestic-payment-consents": {
            "post": {
                "tags": [
                    "Domestic Payments"
                ],
                "summary": "Create Domestic Payment Consents",
                "description": "Create Domestic Payment Consents",
                "operationId": "CreateDomesticPaymentConsents",
                "parameters": [
                    {
                        "name": "OBWriteDomesticConsent4",
                        "in": "body",
                        "description": "Create a Domestic Payment Consent",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Data": {
                                    "type": "object",
                                    "properties": {
                                        "ReadRefundAccount": {
                                            "description": "Specifies to share the refund account details with PISP",
                                            "type": "string",
                                            "enum": [
                                                "No",
                                                "Yes"
                                            ]
                                        },
                                        "Initiation": {
                                            "description": "The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single domestic payment.",
                                            "type": "object",
                                            "properties": {
                                                "InstructionIdentification": {
                                                    "description": "Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction.\nUsage: the  instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "EndToEndIdentification": {
                                                    "description": "Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.\nUsage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.\nOB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.\nOB: For CHAPS payment scheme can only access 30 characters for EndToEndIdentification field.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "LocalInstrument": {
                                                    "description": "User community specific instrument.",
                                                    "type": "string",
                                                    "example": [
                                                        "UK.OBIE.FPS",
                                                        "UK.OBIE.CHAPS"
                                                    ],
                                                    "minLength": 1,
                                                    "maxLength": 50
                                                },
                                                "InstructedAmount": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Amount": {
                                                            "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.",
                                                            "type": "string",
                                                            "pattern": "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                                                        },
                                                        "Currency": {
                                                            "type": "string",
                                                            "pattern": "^[A-Z]{3,3}$"
                                                        }
                                                    },
                                                    "required": [
                                                        "Amount",
                                                        "Currency"
                                                    ]
                                                },
                                                "DebtorAccount": {
                                                    "description": "Provides the details to identify the debtor account.",
                                                    "type": "object",
                                                    "properties": {
                                                        "SchemeName": {
                                                            "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                            "type": "string",
                                                            "example": [
                                                                "UK.OBIE.SortCodeAccountNumber",
                                                                "SortCodeAccountNumber"
                                                            ],
                                                            "minLength": 1,
                                                            "maxLength": 40
                                                        },
                                                        "Identification": {
                                                            "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 14
                                                        },
                                                        "Name": {
                                                            "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 70
                                                        },
                                                        "SecondaryIdentification": {
                                                            "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 34
                                                        }
                                                    },
                                                    "required": [
                                                        "SchemeName",
                                                        "Identification"
                                                    ]
                                                },
                                                "CreditorAccount": {
                                                    "description": "Provides the details to identify the beneficiary account.",
                                                    "type": "object",
                                                    "properties": {
                                                        "SchemeName": {
                                                            "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                            "type": "string",
                                                            "example": [
                                                                "UK.OBIE.SortCodeAccountNumber",
                                                                "SortCodeAccountNumber"
                                                            ],
                                                            "minLength": 1,
                                                            "maxLength": 40
                                                        },
                                                        "Identification": {
                                                            "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 14
                                                        },
                                                        "Name": {
                                                            "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.\nOB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 70
                                                        },
                                                        "SecondaryIdentification": {
                                                            "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 34
                                                        }
                                                    },
                                                    "required": [
                                                        "SchemeName",
                                                        "Identification",
                                                        "Name"
                                                    ]
                                                },
                                                "CreditorPostalAddress": {
                                                    "description": "Information that locates and identifies a specific address, as defined by postal services. This field is supported for CHAPS payments only.",
                                                    "type": "object",
                                                    "properties": {
                                                        "StreetName": {
                                                            "description": "Name of a street or thoroughfare.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 66
                                                        },
                                                        "TownName": {
                                                            "description": "Name of a built-up area, with defined boundaries, and a local government.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 30
                                                        },
                                                        "Country": {
                                                            "description": "Nation with its own government.",
                                                            "type": "string",
                                                            "pattern": "^[A-Z]{2,2}$"
                                                        }
                                                    }
                                                },
                                                "RemittanceInformation": {
                                                    "description": "Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.",
                                                    "type": "object",
                                                    "properties": {
                                                        "Unstructured": {
                                                            "description": "Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form. We do not make use of the ExtendedPurpose field. Information about the purpose of the payment must be added to the RemittanceInformation unstructured field.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 140
                                                        },
                                                        "Reference": {
                                                            "description": "Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.\nUsage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.\nIf the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor's reference or payment remittance identification should be quoted in the end-to-end transaction identification.\nOB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.nOB: The CHAPS Payments Scheme can only accept 16 characters for the ReferenceInformation field.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 35
                                                        }
                                                    }
                                                }
                                            },
                                            "required": [
                                                "InstructionIdentification",
                                                "EndToEndIdentification",
                                                "InstructedAmount",
                                                "CreditorAccount"
                                            ]
                                        },
                                        "Authorisation": {
                                            "description": "The authorisation type request from the TPP.",
                                            "type": "object",
                                            "properties": {
                                                "AuthorisationType": {
                                                    "description": "Type of authorisation flow requested.",
                                                    "type": "string",
                                                    "enum": [
                                                        "Any",
                                                        "Single"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "AuthorisationType"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "Initiation"
                                    ]
                                },
                                "Risk": {
                                    "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Payments.",
                                    "type": "object",
                                    "properties": {
                                        "PaymentContextCode": {
                                            "description": "Specifies the payment context",
                                            "type": "string",
                                            "enum": [
                                                "BillingGoodsAndServicesInAdvance",
                                                "BillingGoodsAndServicesInArrears",
                                                "PispPayee",
                                                "EcommerceMerchantInitiatedPayment",
                                                "FaceToFacePointOfSale",
                                                "TransferToSelf",
                                                "TransferToThirdParty",
                                                "BillPayment",
                                                "EcommerceGoods",
                                                "EcommerceServices",
                                                "Other",
                                                "PartyToParty"
                                            ]
                                        },
                                        "MerchantCategoryCode": {
                                            "description": "Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.",
                                            "type": "string",
                                            "minLength": 3,
                                            "maxLength": 4
                                        },
                                        "MerchantCustomerIdentification": {
                                            "description": "The unique customer identifier of the PSU with the merchant.",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 70
                                        },
                                        "ContractPresentInidicator": {
                                            "type": "boolean",
                                            "description": "Indicates if Payee has a contractual relationship with the PISP."
                                        },
                                        "BeneficiaryPrepopulatedIndicator": {
                                            "type": "boolean",
                                            "description": "Indicates if PISP has immutably prepopulated payment details in for the PSU."
                                        },
                                        "PaymentPurposeCode": {
                                            "type": "string",
                                            "minLength": 3,
                                            "maxLength": 4,
                                            "description": "Category code, related to the type of services or goods that corresponds to the underlying purpose of the payment that conforms to Recommended UK Purpose Code in ISO 20022 Payment Messaging List"
                                        },
                                        "DeliveryAddress": {
                                            "description": "Information that locates and identifies a specific address, as defined by postal services or in free format text.",
                                            "type": "object",
                                            "properties": {
                                                "AddressLine": {
                                                    "items": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 70
                                                    },
                                                    "type": "array",
                                                    "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                                                    "minItems": 0,
                                                    "maxItems": 2
                                                },
                                                "StreetName": {
                                                    "description": "Name of a street or thoroughfare.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                },
                                                "BuildingNumber": {
                                                    "description": "Number that identifies the position of a building on a street.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 16
                                                },
                                                "PostCode": {
                                                    "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 16
                                                },
                                                "TownName": {
                                                    "description": "Name of a built-up area, with defined boundaries, and a local government.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "CountrySubDivision": {
                                                    "description": "Identifies a subdivision of a country, for instance state, region, county.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "Country": {
                                                    "description": "Nation with its own government, occupying a particular territory.",
                                                    "type": "string",
                                                    "pattern": "^[A-Z]{2,2}$"
                                                }
                                            },
                                            "required": [
                                                "TownName",
                                                "Country"
                                            ]
                                        }
                                    }
                                }
                            },
                            "required": [
                                "Data",
                                "Risk"
                            ],
                            "example": {
                                "Data": {
                                    "Initiation": {
                                        "InstructionIdentification": "6767842bc9864fa181cc57ae",
                                        "EndToEndIdentification": "1793a7f5-eed6-430b-8980-92436f385414",
                                        "LocalInstrument": "UK.OBIE.FPS",
                                        "InstructedAmount": {
                                            "Amount": "0.01",
                                            "Currency": "GBP"
                                        },
                                        "DebtorAccount": {
                                            "SchemeName": "UK.OBIE.SortCodeAccountNumber",
                                            "Identification": "60225392909531"
                                        },
                                        "CreditorAccount": {
                                            "SchemeName": "UK.OBIE.SortCodeAccountNumber",
                                            "Identification": "60225392909544",
                                            "Name": "ABC Name"
                                        },
                                        "RemittanceInformation": {
                                            "Reference": "EXAMPLE REF"
                                        }
                                    }
                                },
                                "Risk": {
                                    "PaymentContextCode": "PartyToParty",
                                    "MerchantCategoryCode": "1234"
                                }
                            }
                        }
                    },
                    {
                        "name": "x-idempotency-key",
                        "in": "header",
                        "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
                        "required": true,
                        "type": "string",
                        "pattern": "^(?!\\s)(.*)(\\S)$",
                        "maxLength": 40
                    },
                    {
                        "in": "header",
                        "name": "x-fapi-auth-date",
                        "type": "string",
                        "required": false,
                        "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
                        "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
                    },
                    {
                        "in": "header",
                        "name": "x-fapi-customer-ip-address",
                        "type": "string",
                        "required": false,
                        "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
                    },
                    {
                        "in": "header",
                        "name": "x-fapi-interaction-id",
                        "type": "string",
                        "required": false,
                        "description": "An RFC4122 UID used as a correlation id."
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "type": "string",
                        "required": true,
                        "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750"
                    },
                    {
                        "in": "header",
                        "name": "x-jws-signature",
                        "type": "string",
                        "required": true,
                        "description": "Header containing a detached JWS signature of the body of the payload."
                    },
                    {
                        "in": "header",
                        "name": "x-customer-user-agent",
                        "type": "string",
                        "description": "Indicates the user-agent that the PSU is using.",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Domestic Payment Consents Created",
                        "headers": {
                            "x-fapi-interaction-id": {
                                "type": "string",
                                "description": "An RFC4122 UID used as a correlation id.",
                                "required": true
                            },
                            "x-jws-signature": {
                                "type": "string",
                                "description": "Header containing a detached JWS signature of the body of the payload.",
                                "required": true
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Data": {
                                    "type": "object",
                                    "properties": {
                                        "ConsentId": {
                                            "description": "OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 40
                                        },
                                        "CreationDateTime": {
                                            "description": "Date and time at which the resource was created.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "Status": {
                                            "description": "Specifies the status of Consent.",
                                            "type": "string",
                                            "enum": [
                                                "Authorised",
                                                "AwaitingAuthorisation",
                                                "Consumed",
                                                "Rejected"
                                            ]
                                        },
                                        "StatusUpdateDateTime": {
                                            "description": "Date and time at which the resource status was updated.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "ReadRefundAccount": {
                                            "description": "Specifies to share the refund account details with PISP",
                                            "type": "string",
                                            "enum": [
                                                "No",
                                                "Yes"
                                            ]
                                        },
                                        "Initiation": {
                                            "description": "The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single domestic payment.",
                                            "type": "object",
                                            "properties": {
                                                "InstructionIdentification": {
                                                    "description": "Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction.\nUsage: the  instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "EndToEndIdentification": {
                                                    "description": "Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.\nUsage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.\nOB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.\nOB: For CHAPS payment scheme can only access 30 characters for EndToEndIdentification field.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "LocalInstrument": {
                                                    "description": "User community specific instrument.",
                                                    "type": "string",
                                                    "example": [
                                                        "UK.OBIE.CHAPS",
                                                        "UK.OBIE.FPS"
                                                    ],
                                                    "minLength": 1,
                                                    "maxLength": 50
                                                },
                                                "InstructedAmount": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Amount": {
                                                            "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.",
                                                            "type": "string",
                                                            "pattern": "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                                                        },
                                                        "Currency": {
                                                            "type": "string",
                                                            "pattern": "^[A-Z]{3,3}$"
                                                        }
                                                    },
                                                    "required": [
                                                        "Amount",
                                                        "Currency"
                                                    ]
                                                },
                                                "DebtorAccount": {
                                                    "description": "Provides the details to identify the debtor account.",
                                                    "type": "object",
                                                    "properties": {
                                                        "SchemeName": {
                                                            "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                            "type": "string",
                                                            "example": [
                                                                "UK.OBIE.SortCodeAccountNumber"
                                                            ],
                                                            "minLength": 1,
                                                            "maxLength": 40
                                                        },
                                                        "Identification": {
                                                            "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 14
                                                        },
                                                        "Name": {
                                                            "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 70
                                                        },
                                                        "SecondaryIdentification": {
                                                            "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 34
                                                        }
                                                    },
                                                    "required": [
                                                        "SchemeName",
                                                        "Identification"
                                                    ]
                                                },
                                                "CreditorAccount": {
                                                    "description": "Provides the details to identify the beneficiary account.",
                                                    "type": "object",
                                                    "properties": {
                                                        "SchemeName": {
                                                            "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                            "type": "string",
                                                            "example": [
                                                                "UK.OBIE.SortCodeAccountNumber"
                                                            ],
                                                            "minLength": 1,
                                                            "maxLength": 40
                                                        },
                                                        "Identification": {
                                                            "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 14
                                                        },
                                                        "Name": {
                                                            "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.\nOB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 70
                                                        },
                                                        "SecondaryIdentification": {
                                                            "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 34
                                                        }
                                                    },
                                                    "required": [
                                                        "SchemeName",
                                                        "Identification",
                                                        "Name"
                                                    ]
                                                },
                                                "CreditorPostalAddress": {
                                                    "description": "Information that locates and identifies a specific address, as defined by postal services. This field is supported for CHAPS payments only.",
                                                    "type": "object",
                                                    "properties": {
                                                        "AddressType": {
                                                            "description": "Identifies the nature of the postal address.",
                                                            "type": "string",
                                                            "enum": [
                                                                "Business",
                                                                "Correspondence",
                                                                "DeliveryTo",
                                                                "MailTo",
                                                                "POBox",
                                                                "Postal",
                                                                "Residential",
                                                                "Statement"
                                                            ]
                                                        },
                                                        "StreetName": {
                                                            "description": "Name of a street or thoroughfare.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 66
                                                        },
                                                        "TownName": {
                                                            "description": "Name of a built-up area, with defined boundaries, and a local government.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 30
                                                        },
                                                        "Country": {
                                                            "description": "Nation with its own government.",
                                                            "type": "string",
                                                            "pattern": "^[A-Z]{2,2}$"
                                                        }
                                                    }
                                                },
                                                "RemittanceInformation": {
                                                    "description": "Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.",
                                                    "type": "object",
                                                    "properties": {
                                                        "Unstructured": {
                                                            "description": "Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form. We do not make use of the ExtendedPurpose field. Information about the purpose of the payment must be added to the RemittanceInformation unstructured field.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 140
                                                        },
                                                        "Reference": {
                                                            "description": "Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.\nUsage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.\nIf the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor's reference or payment remittance identification should be quoted in the end-to-end transaction identification.\nOB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.nOB: The CHAPS Payments Scheme can only accept 16 characters for the ReferenceInformation field.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 35
                                                        }
                                                    }
                                                }
                                            },
                                            "required": [
                                                "InstructionIdentification",
                                                "EndToEndIdentification",
                                                "InstructedAmount",
                                                "CreditorAccount"
                                            ]
                                        },
                                        "Authorisation": {
                                            "description": "The authorisation type request from the TPP.",
                                            "type": "object",
                                            "properties": {
                                                "AuthorisationType": {
                                                    "description": "Type of authorisation flow requested.",
                                                    "type": "string",
                                                    "enum": [
                                                        "Any",
                                                        "Single"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "AuthorisationType"
                                            ]
                                        },
                                        "Debtor": {
                                            "type": "object",
                                            "description": "Set of elements used to identify a person or an organisation.",
                                            "properties": {
                                                "SchemeName": {
                                                    "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                    "type": "string",
                                                    "example": [
                                                        "UK.OBIE.SortCodeAccountNumber",
                                                        "SortCodeAccountNumber"
                                                    ],
                                                    "minLength": 1,
                                                    "maxLength": 40
                                                },
                                                "Identification": {
                                                    "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 256
                                                },
                                                "Name": {
                                                    "type": "string",
                                                    "description": "The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                },
                                                "SecondaryIdentification": {
                                                    "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 34
                                                }
                                            },
                                            "required": [
                                                "SchemeName",
                                                "Identification"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ConsentId",
                                        "CreationDateTime",
                                        "Status",
                                        "StatusUpdateDateTime",
                                        "Initiation"
                                    ]
                                },
                                "Risk": {
                                    "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Payments.",
                                    "type": "object",
                                    "properties": {
                                        "PaymentContextCode": {
                                            "description": "Specifies the payment context",
                                            "type": "string",
                                            "enum": [
                                                "BillingGoodsAndServicesInAdvance",
                                                "BillingGoodsAndServicesInArrears",
                                                "PispPayee",
                                                "EcommerceMerchantInitiatedPayment",
                                                "FaceToFacePointOfSale",
                                                "TransferToSelf",
                                                "TransferToThirdParty",
                                                "BillPayment",
                                                "EcommerceGoods",
                                                "EcommerceServices",
                                                "Other",
                                                "PartyToParty"
                                            ]
                                        },
                                        "MerchantCategoryCode": {
                                            "description": "Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.",
                                            "type": "string",
                                            "minLength": 3,
                                            "maxLength": 4
                                        },
                                        "MerchantCustomerIdentification": {
                                            "description": "The unique customer identifier of the PSU with the merchant.",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 70
                                        },
                                        "ContractPresentInidicator": {
                                            "type": "boolean",
                                            "description": "Indicates if Payee has a contractual relationship with the PISP."
                                        },
                                        "BeneficiaryPrepopulatedIndicator": {
                                            "type": "boolean",
                                            "description": "Indicates if PISP has immutably prepopulated payment details in for the PSU."
                                        },
                                        "PaymentPurposeCode": {
                                            "type": "string",
                                            "minLength": 3,
                                            "maxLength": 4,
                                            "description": "Category code, related to the type of services or goods that corresponds to the underlying purpose of the payment that conforms to Recommended UK Purpose Code in ISO 20022 Payment Messaging List"
                                        },
                                        "DeliveryAddress": {
                                            "description": "Information that locates and identifies a specific address, as defined by postal services or in free format text.",
                                            "type": "object",
                                            "properties": {
                                                "AddressLine": {
                                                    "items": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 70
                                                    },
                                                    "type": "array",
                                                    "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                                                    "minItems": 0,
                                                    "maxItems": 2
                                                },
                                                "StreetName": {
                                                    "description": "Name of a street or thoroughfare.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                },
                                                "BuildingNumber": {
                                                    "description": "Number that identifies the position of a building on a street.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 16
                                                },
                                                "PostCode": {
                                                    "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 16
                                                },
                                                "TownName": {
                                                    "description": "Name of a built-up area, with defined boundaries, and a local government.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "CountrySubDivision": {
                                                    "description": "Identifies a subdivision of a country, for instance state, region, county.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "Country": {
                                                    "description": "Nation with its own government, occupying a particular territory.",
                                                    "type": "string",
                                                    "pattern": "^[A-Z]{2,2}$"
                                                }
                                            },
                                            "required": [
                                                "TownName",
                                                "Country"
                                            ]
                                        }
                                    }
                                },
                                "Links": {
                                    "type": "object",
                                    "description": "Links relevant to the payload",
                                    "properties": {
                                        "Self": {
                                            "type": "string",
                                            "format": "uri"
                                        }
                                    },
                                    "required": [
                                        "Self"
                                    ]
                                },
                                "Meta": {
                                    "title": "MetaData",
                                    "type": "object",
                                    "description": "Meta Data relevant to the payload",
                                    "properties": {
                                        "TotalPages": {
                                            "type": "integer",
                                            "format": "int32"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "Data",
                                "Risk",
                                "Links",
                                "Meta"
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid request parameters passed.\n"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "405": {
                        "description": "Method Not Allowed"
                    },
                    "406": {
                        "description": "Not Acceptable"
                    },
                    "415": {
                        "description": "Unsupported Media Type"
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {
                            "Retry-After": {
                                "description": "Number in seconds to wait",
                                "type": "integer"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "payments"
                        ]
                    }
                ]
            }
        },
        "/domestic-payment-consents/{ConsentId}": {
            "get": {
                "tags": [
                    "Domestic Payments"
                ],
                "summary": "Get Domestic Payment Consents",
                "description": "Get Domestic Payment Consents",
                "operationId": "GetDomesticPaymentConsentsConsentId",
                "parameters": [
                    {
                        "in": "path",
                        "name": "ConsentId",
                        "description": "Unique identification as assigned by the ASPSP to uniquely identify the consent resource.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "x-fapi-auth-date",
                        "type": "string",
                        "required": false,
                        "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
                        "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
                    },
                    {
                        "in": "header",
                        "name": "x-fapi-customer-ip-address",
                        "type": "string",
                        "required": false,
                        "description": "The PSU's IP address if the PSU is currently logged in with the TPP."
                    },
                    {
                        "in": "header",
                        "name": "x-fapi-interaction-id",
                        "type": "string",
                        "required": false,
                        "description": "An RFC4122 UID used as a correlation id."
                    },
                    {
                        "in": "header",
                        "name": "Authorization",
                        "type": "string",
                        "required": true,
                        "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750"
                    },
                    {
                        "in": "header",
                        "name": "x-customer-user-agent",
                        "type": "string",
                        "description": "Indicates the user-agent that the PSU is using.",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Domestic Payment Consents Read",
                        "headers": {
                            "x-fapi-interaction-id": {
                                "type": "string",
                                "description": "An RFC4122 UID used as a correlation id.",
                                "required": true
                            },
                            "x-jws-signature": {
                                "type": "string",
                                "description": "Header containing a detached JWS signature of the body of the payload.",
                                "required": true
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Data": {
                                    "type": "object",
                                    "properties": {
                                        "ConsentId": {
                                            "description": "OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 40
                                        },
                                        "CreationDateTime": {
                                            "description": "Date and time at which the resource was created.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "Status": {
                                            "description": "Specifies the status of Consent.",
                                            "type": "string",
                                            "enum": [
                                                "Authorised",
                                                "AwaitingAuthorisation",
                                                "Consumed",
                                                "Rejected"
                                            ]
                                        },
                                        "StatusUpdateDateTime": {
                                            "description": "Date and time at which the resource status was updated.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "ReadRefundAccount": {
                                            "description": "Specifies to share the refund account details with PISP",
                                            "type": "string",
                                            "enum": [
                                                "No",
                                                "Yes"
                                            ]
                                        },
                                        "Initiation": {
                                            "description": "The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a single domestic payment.",
                                            "type": "object",
                                            "properties": {
                                                "InstructionIdentification": {
                                                    "description": "Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction.\nUsage: the  instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "EndToEndIdentification": {
                                                    "description": "Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.\nUsage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.\nOB: The Faster Payments Scheme can only access 31 characters for the EndToEndIdentification field.\nOB: For CHAPS payment scheme can only access 30 characters for EndToEndIdentification field.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 35
                                                },
                                                "LocalInstrument": {
                                                    "description": "User community specific instrument.",
                                                    "type": "string",
                                                    "example": [
                                                        "UK.OBIE.FPS",
                                                        "UK.OBIE.CHAPS"
                                                    ],
                                                    "minLength": 1,
                                                    "maxLength": 50
                                                },
                                                "InstructedAmount": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Amount": {
                                                            "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.",
                                                            "type": "string",
                                                            "pattern": "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                                                        },
                                                        "Currency": {
                                                            "type": "string",
                                                            "pattern": "^[A-Z]{3,3}$"
                                                        }
                                                    },
                                                    "required": [
                                                        "Amount",
                                                        "Currency"
                                                    ]
                                                },
                                                "DebtorAccount": {
                                                    "description": "Provides the details to identify the debtor account.",
                                                    "type": "object",
                                                    "properties": {
                                                        "SchemeName": {
                                                            "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                            "type": "string",
                                                            "example": [
                                                                "UK.OBIE.SortCodeAccountNumber",
                                                                "SortCodeAccountNUmber"
                                                            ],
                                                            "minLength": 1,
                                                            "maxLength": 40
                                                        },
                                                        "Identification": {
                                                            "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 14
                                                        },
                                                        "Name": {
                                                            "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 70
                                                        },
                                                        "SecondaryIdentification": {
                                                            "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 34
                                                        }
                                                    },
                                                    "required": [
                                                        "SchemeName",
                                                        "Identification"
                                                    ]
                                                },
                                                "CreditorAccount": {
                                                    "description": "Provides the details to identify the beneficiary account.",
                                                    "type": "object",
                                                    "properties": {
                                                        "SchemeName": {
                                                            "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                            "type": "string",
                                                            "example": [
                                                                "UK.OBIE.SortCodeAccountNumber",
                                                                "SortCodeAccountNUmber"
                                                            ],
                                                            "minLength": 1,
                                                            "maxLength": 40
                                                        },
                                                        "Identification": {
                                                            "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 14
                                                        },
                                                        "Name": {
                                                            "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.\nOB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 70
                                                        },
                                                        "SecondaryIdentification": {
                                                            "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 34
                                                        }
                                                    },
                                                    "required": [
                                                        "SchemeName",
                                                        "Identification",
                                                        "Name"
                                                    ]
                                                },
                                                "CreditorPostalAddress": {
                                                    "description": "Information that locates and identifies a specific address, as defined by postal services. This field is supported for CHAPS payments only.",
                                                    "type": "object",
                                                    "properties": {
                                                        "AddressType": {
                                                            "description": "Identifies the nature of the postal address.",
                                                            "type": "string",
                                                            "enum": [
                                                                "Business",
                                                                "Correspondence",
                                                                "DeliveryTo",
                                                                "MailTo",
                                                                "POBox",
                                                                "Postal",
                                                                "Residential",
                                                                "Statement"
                                                            ]
                                                        },
                                                        "StreetName": {
                                                            "description": "Name of a street or thoroughfare.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 66
                                                        },
                                                        "TownName": {
                                                            "description": "Name of a built-up area, with defined boundaries, and a local government.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 30
                                                        },
                                                        "Country": {
                                                            "description": "Nation with its own government.",
                                                            "type": "string",
                                                            "pattern": "^[A-Z]{2,2}$"
                                                        }
                                                    }
                                                },
                                                "RemittanceInformation": {
                                                    "description": "Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.",
                                                    "type": "object",
                                                    "properties": {
                                                        "Unstructured": {
                                                            "description": "Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form. We do not make use of the ExtendedPurpose field. Information about the purpose of the payment must be added to the RemittanceInformation unstructured field.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 140
                                                        },
                                                        "Reference": {
                                                            "description": "Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.\nUsage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.\nIf the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor's reference or payment remittance identification should be quoted in the end-to-end transaction identification.\nOB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.nOB: The CHAPS Payments Scheme can only accept 16 characters for the ReferenceInformation field.",
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 35
                                                        }
                                                    }
                                                }
                                            },
                                            "required": [
                                                "InstructionIdentification",
                                                "EndToEndIdentification",
                                                "InstructedAmount",
                                                "CreditorAccount"
                                            ]
                                        },
                                        "Authorisation": {
                                            "description": "The authorisation type request from the TPP.",
                                            "type": "object",
                                            "properties": {
                                                "AuthorisationType": {
                                                    "description": "Type of authorisation flow requested.",
                                                    "type": "string",
                                                    "enum": [
                                                        "Any",
                                                        "Single"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "AuthorisationType"
                                            ]
                                        },
                                        "Debtor": {
                                            "type": "object",
                                            "description": "Set of elements used to identify a person or an organisation.",
                                            "properties": {
                                                "SchemeName": {
                                                    "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                                    "type": "string",
                                                    "example": [
                                                        "UK.OBIE.SortCodeAccountNumber",
                                                        "SortCodeAccountNumber"
                                                    ],
                                                    "minLength": 1,
                                                    "maxLength": 40
                                                },
                                                "Identification": {
                                                    "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 256
                                                },
                                                "Name": {
                                                    "type": "string",
                                                    "description": "The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels. Note, the account name is not the product name or the nickname of the account.",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                },
                                                "SecondaryIdentification": {
                                                    "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 34
                                                }
                                            },
                                            "required": [
                                                "SchemeName",
                                                "Identification"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ConsentId",
                                        "CreationDateTime",
                                        "Status",
                                        "StatusUpdateDateTime",
                                        "Initiation"
                                    ]
                                },
                                "Risk": {
                                    "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Payments.",
                                    "type": "object",
                                    "properties": {
                                        "PaymentContextCode": {
                                            "description": "Specifies the payment context",
                                            "type": "string",
                                            "enum": [
                                                "BillingGoodsAndServicesInAdvance",
                                                "BillingGoodsAndServicesInArrears",
                                                "PispPayee",
                                                "EcommerceMerchantInitiatedPayment",
                                                "FaceToFacePointOfSale",
                                                "TransferToSelf",
                                                "TransferToThirdParty",
                                                "BillPayment",
                                                "EcommerceGoods",
                                                "EcommerceServices",
                                                "Other",
                                                "PartyToParty"
                                            ]
                                        },
                                        "MerchantCategoryCode": {
                                            "description": "Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.",
                                            "type": "string",
                                            "minLength": 3,
                                            "maxLength": 4
                                        },
                                        "MerchantCustomerIdentification": {
                                            "description": "The unique customer identifier of the PSU with the merchant.",
                                            "type": "string",
                                            "minLength": 1,
[...]
