{"openapi":"3.0.0","info":{"title":" Barclays Bank Ireland Confirmation of Funds","description":"This is an open banking API, which lets third-party providers access to confirmation-of-funds services for Barclays Bank Ireland clients. ","version":"v1.3.0"},"servers":[{"url":"https://sandbox.api.barclays:443/pbe/confirmationoffunds/v1.3"}],"paths":{"/consents/confirmation-of-funds":{"post":{"description":"Create a consent resource to register a TPP for the confirmation of funds service for a given account by a PSU for a given PSU ID","operationId":"post_consents_confirmation-of-funds","parameters":[{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"PSU-IP-Address","in":"header","description":"The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.","required":true,"schema":{"maxLength":39,"minLength":2,"pattern":"^((?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])))$","type":"string","description":"The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP."}},{"name":"PSU-ID","in":"header","description":"Client ID of the PSU in the ASPSP client interface.","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"Client ID of the PSU in the ASPSP client interface."}},{"name":"PSU-ID-Type","in":"header","description":"Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility.","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."}},{"name":"PSU-Corporate-ID","in":"header","description":"Corporate ID - Only used in a corporate context.","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"Corporate ID - Only used in a corporate context."}},{"name":"PSU-Corporate-ID-Type","in":"header","description":"Type of corporate - Only used in a corporate context.","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"Type of corporate - Only used in a corporate context."}},{"name":"TPP-Redirect-Preferred","in":"header","description":"If it equals true, the TPP prefers a Redirect over Decoupled SCA approach. If it equals false, Decoupled SCA Approach will be applied.\nIMPORTANT: Currently, Implicit Redirect SCA Approach is supported, so TPP-Redirect-Preferred must equal true.","required":false,"schema":{"type":"boolean","description":"If it equals true, the TPP prefers a Redirect over Decoupled SCA approach. If it equals false, Decoupled SCA Approach will be applied.\nIMPORTANT: Currently, Implicit Redirect SCA Approach is supported, so TPP-Redirect-Preferred must equal true.\n"}},{"name":"TPP-Redirect-URI","in":"header","description":"URI of the TPP, where the transaction flow shall be redirected to after a Redirect. It is mandatory for the Redirect SCA Approach (including OAuth2 SCA approach).","required":true,"schema":{"maxLength":1000,"minLength":12,"pattern":"^[hH][tT][tT][pP][sS]?:\\/\\/([wW]{3}\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&\\/\\\\={}()]*)$","type":"string","description":"URI of the TPP, where the transaction flow shall be redirected to after a Redirect. It is mandatory for the Redirect SCA Approach (including OAuth2 SCA approach)."}},{"name":"TPP-Nok-Redirect-URI","in":"header","description":"If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.","required":false,"schema":{"maxLength":1000,"minLength":12,"pattern":"^[hH][tT][tT][pP][sS]?:\\/\\/([wW]{3}\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&\\/\\\\={}()]*)$","type":"string","description":"If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method."}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_cof_consent_request"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_cof_consent_response"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response"}}}}}}},"/consents/confirmation-of-funds/{consentId}":{"get":{"description":"Returns the content of a Confirmation of Funds Consent object. This is returning the data for the TPP especially in cases, where the consent was directly managed between ASPSP and PSU e.g. in a re-direct SCA Approach","operationId":"get_consents_confirmation-of-funds__consentId_","parameters":[{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"consentId","in":"path","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_cof_consent_details_response"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response"}}}}}},"delete":{"description":"Delete a Confirmation of Funds Consent object","operationId":"delete_consents_confirmation-of-funds__consentId_","parameters":[{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"consentId","in":"path","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request"}}],"responses":{"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}},"204":{"description":"","content":{"application/json":{}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteConsentsConfirmationOfFundsConsentid409Response"}}}}}}},"/consents/confirmation-of-funds/{consentId}/authorisations":{"get":{"description":"Return a list of all authorisation subresources IDs which have been created. This function returns an array of hyperlinks to all generated authorisation sub-resources.","operationId":"get_consents_confirmation-of-funds__consentId__authorisations","parameters":[{"name":"PSU-IP-Address","in":"header","description":"Consists of the corresponding HTTP request IP Address field between PSU and TPP. It shall be contained if and only if this request was actively initiated by the PSU","required":false,"schema":{"maxLength":39,"minLength":2,"pattern":"^((?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])))$","type":"string","description":"Consists of the corresponding HTTP request IP Address field between PSU and TPP. It shall be contained if and only if this request was actively initiated by the PSU"}},{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"PSU-IP-Port","in":"header","description":"The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.","required":false,"schema":{"maxLength":10,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#\\/]{1,10})$","type":"string","description":"The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."}},{"name":"PSU-Accept","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available","required":false,"schema":{"maxLength":100,"minLength":1,"type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available"}},{"name":"PSU-Accept-Charset","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."}},{"name":"PSU-Accept-Encoding","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available"}},{"name":"PSU-User-Agent","in":"header","description":"The forwarded Agent header field of the HTTP request between PSU and TPP, if available.","required":false,"schema":{"maxLength":200,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,200})$","type":"string","description":"The forwarded Agent header field of the HTTP request between PSU and TPP, if available."}},{"name":"PSU-Accept-Language","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.","required":false,"schema":{"maxLength":100,"minLength":1,"type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."}},{"name":"PSU-Http-Method","in":"header","description":"HTTP method used at the interface between PSU and TPP, if available. Valid values are:\n- GET\n- POST\n- PUT\n- PATCH\n- DELETE","required":false,"schema":{"type":"string","description":"HTTP method used at the interface between PSU and TPP, if available. Valid values are:\n- GET\n- POST\n- PUT\n- PATCH\n- DELETE\n","enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"PSU-Device-ID","in":"header","description":"UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available. UUID identifies either a device or a device dependent application installation. In case of an installation identification this ID needs to be unaltered until removal from device.","required":false,"schema":{"maxLength":36,"minLength":36,"pattern":"^(?!\\s)[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available. UUID identifies either a device or a device dependent application installation. In case of an installation identification this ID needs to be unaltered until removal from device."}},{"name":"PSU-Geo-Location","in":"header","description":"The forwarded Geo Location of the corresponding HTTP request between PSU and TPP if available","required":false,"schema":{"maxLength":27,"minLength":23,"pattern":"^(?!\\s)(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}","type":"string","description":"The forwarded Geo Location of the corresponding HTTP request between PSU and TPP if available"}},{"name":"consentId","in":"path","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_cof_consent_authorisations_response"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response"}}}}}}},"/consents/confirmation-of-funds/{consentId}/authorisations/{authorisationId}":{"get":{"description":"Returns the SCA status of a Confirmation of Funds Consent initiation's authorisation sub-resource.","operationId":"get_consents_confirmation-of-funds__consentId__authorisations__authorisationId_","parameters":[{"name":"PSU-IP-Address","in":"header","description":"Consists of the corresponding HTTP request IP Address field between PSU and TPP. It shall be contained if and only if this request was actively initiated by the PSU","required":false,"schema":{"maxLength":39,"minLength":2,"pattern":"^((?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])))$","type":"string","description":"Consists of the corresponding HTTP request IP Address field between PSU and TPP. It shall be contained if and only if this request was actively initiated by the PSU"}},{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"PSU-IP-Port","in":"header","description":"The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available.","required":false,"schema":{"maxLength":10,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#\\/]{1,10})$","type":"string","description":"The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."}},{"name":"PSU-Accept","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available","required":false,"schema":{"maxLength":100,"minLength":1,"type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available"}},{"name":"PSU-Accept-Charset","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."}},{"name":"PSU-Accept-Encoding","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available","required":false,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available"}},{"name":"PSU-User-Agent","in":"header","description":"The forwarded Agent header field of the HTTP request between PSU and TPP, if available.","required":false,"schema":{"maxLength":200,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,200})$","type":"string","description":"The forwarded Agent header field of the HTTP request between PSU and TPP, if available."}},{"name":"PSU-Accept-Language","in":"header","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available.","required":false,"schema":{"maxLength":100,"minLength":1,"type":"string","description":"The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."}},{"name":"PSU-Http-Method","in":"header","description":"HTTP method used at the interface between PSU and TPP, if available. Valid values are:\n- GET\n- POST\n- PUT\n- PATCH\n- DELETE","required":false,"schema":{"type":"string","description":"HTTP method used at the interface between PSU and TPP, if available. Valid values are:\n- GET\n- POST\n- PUT\n- PATCH\n- DELETE\n","enum":["GET","POST","PUT","PATCH","DELETE"]}},{"name":"PSU-Device-ID","in":"header","description":"UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available. UUID identifies either a device or a device dependent application installation. In case of an installation identification this ID needs to be unaltered until removal from device.","required":false,"schema":{"maxLength":36,"minLength":36,"pattern":"^(?!\\s)[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available. UUID identifies either a device or a device dependent application installation. In case of an installation identification this ID needs to be unaltered until removal from device."}},{"name":"PSU-Geo-Location","in":"header","description":"The forwarded Geo Location of the corresponding HTTP request between PSU and TPP if available","required":false,"schema":{"maxLength":27,"minLength":23,"pattern":"^(?!\\s)(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}","type":"string","description":"The forwarded Geo Location of the corresponding HTTP request between PSU and TPP if available"}},{"name":"authorisationId","in":"path","description":"Resource Identification of the related SCA","required":true,"schema":{"maxLength":2,"minLength":1,"pattern":"^\\d{1,2}$","type":"string","description":"Resource Identification of the related SCA"}},{"name":"consentId","in":"path","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_cof_consent_authorisation_details_response"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response"}}}}}}},"/consents/confirmation-of-funds/{consentId}/status":{"get":{"description":"Returns the status of a Confirmation of Funds Consent object.","operationId":"get_consents_confirmation-of-funds__consentId__status","parameters":[{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"consentId","in":"path","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the corresponding consent object as returned by an Confirmation of Funds Consent Request"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_cof_consent_status_response"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response"}}}}}}},"/funds-confirmations":{"post":{"description":"Creates a confirmation of funds request. Checks whether a specific amount is available at point of time of the request on an account linked to a given tuple card issuer(TPP)/card number, or addressed by IBAN and TPP respectively.","operationId":"post_funds-confirmations","parameters":[{"name":"Content-Type","in":"header","description":"Content Type header","required":true,"schema":{"maxLength":100,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,100})$","type":"string","description":"Content Type header"}},{"name":"X-Request-ID","in":"header","description":"ID of the request, unique to the call, as determined by the initiating party.","required":true,"schema":{"maxLength":36,"minLength":36,"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","description":"ID of the request, unique to the call, as determined by the initiating party."}},{"name":"Digest","in":"header","description":"Is contained only if the \"Signature\" element is contained in the header of the request","required":false,"schema":{"maxLength":100,"minLength":1,"type":"string","description":"Is contained only if the \"Signature\" element is contained in the header of the request"}},{"name":"Signature","in":"header","description":"A signature of the request by the TPP on application level.","required":false,"schema":{"maxLength":1000,"minLength":1,"type":"string","description":"A signature of the request by the TPP on application level."}},{"name":"TPP-Signature-Certificate","in":"header","description":"The certificate used for signing the request, in base64 encoding. Must be contained if a signature is contained","required":false,"schema":{"maxLength":4000,"minLength":1,"type":"string","description":"The certificate used for signing the request, in base64 encoding. Must be contained if a signature is contained"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_cof_request"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/create_cof_response"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response"}}}}}}}},"components":{"schemas":{"create_cof_response":{"required":["fundsAvailable"],"type":"object","properties":{"fundsAvailable":{"type":"boolean"}}},"GetConsentsConfirmationOfFundsConsentidAuthorisations404Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"GetConsentsConfirmationOfFundsConsentid400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"GetConsentsConfirmationOfFundsConsentidStatus400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"create_cof_request":{"required":["account","instructedAmount"],"type":"object","properties":{"payee":{"maxLength":70,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,70})$","type":"string"},"instructedAmount":{"required":["amount","currency"],"type":"object","properties":{"amount":{"maxLength":19,"minLength":1,"pattern":"^(?!\\s)-?[0-9]{1,14}(\\.[0-9]{1,3})?$","type":"string"},"currency":{"maxLength":3,"minLength":3,"pattern":"^[A-Z]{3}$","type":"string"}}},"cardNumber":{"maxLength":20,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,20})$","type":"string"},"account":{"type":"object","properties":{"bban":{"maxLength":30,"minLength":0,"pattern":"^[a-zA-Z0-9]{0,30}$","type":"string"},"iban":{"maxLength":34,"minLength":0,"pattern":"^[a-zA-Z0-9]{0,34}$","type":"string"},"currency":{"maxLength":3,"minLength":3,"pattern":"^[A-Z]{3}$","type":"string"}}}}},"GetConsentsConfirmationOfFundsConsentidAuthorisations400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"get_cof_consent_authorisation_details_response":{"required":["scaStatus"],"type":"object","properties":{"scaStatus":{"type":"string"}}},"GetConsentsConfirmationOfFundsConsentidAuthorisationsAuthorisationid404Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"create_cof_consent_request":{"type":"object","properties":{"registrationInformation":{"maxLength":140,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,140})$","type":"string"},"cardInformation":{"maxLength":140,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,140})$","type":"string"},"account":{"type":"object","properties":{"bban":{"maxLength":30,"minLength":0,"pattern":"^[a-zA-Z0-9]{0,30}$","type":"string"},"iban":{"maxLength":34,"minLength":0,"pattern":"^[a-zA-Z0-9]{0,34}$","type":"string"},"currency":{"maxLength":3,"minLength":3,"pattern":"^[A-Z]{3}$","type":"string"}}},"cardNumber":{"maxLength":20,"minLength":1,"pattern":"^(?!\\s)([a-zA-Z0-9-., '()=\"_@£$#/]{1,20})$","type":"string"},"cardExpiryDate":{"type":"string","format":"date"}}},"get_cof_consent_authorisations_response":{"required":["authorisationIds"],"type":"object","properties":{"authorisationIds":{"type":"array","items":{"type":"string"}}}},"get_cof_consent_details_response":{"required":["account","consentStatus"],"type":"object","properties":{"consentStatus":{"type":"string"},"registrationInformation":{"type":"string"},"cardInformation":{"type":"string"},"account":{"type":"object","properties":{"bban":{"type":"string"},"iban":{"type":"string"},"currency":{"type":"string"}}},"cardNumber":{"type":"string"},"cardExpiryDate":{"type":"string","format":"date-time"}}},"DeleteConsentsConfirmationOfFundsConsentid400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"DeleteConsentsConfirmationOfFundsConsentid409Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"PostConsentsConfirmationOfFunds404Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"create_cof_consent_response":{"required":["_links","consentId","consentStatus"],"type":"object","properties":{"consentId":{"type":"string"},"_links":{"type":"object","properties":{"scaStatus":{"type":"object","properties":{"href":{"type":"string"}}},"scaRedirect":{"type":"object","properties":{"href":{"type":"string"}}},"self":{"type":"object","properties":{"href":{"type":"string"}}},"startAuthorisation":{"type":"object","properties":{"href":{"type":"string"}}},"status":{"type":"object","properties":{"href":{"type":"string"}}}}},"consentStatus":{"type":"string"}}},"PostConsentsConfirmationOfFunds400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"GetConsentsConfirmationOfFundsConsentid404Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"get_cof_consent_status_response":{"required":["consentStatus"],"type":"object","properties":{"consentStatus":{"type":"string"}}},"GetConsentsConfirmationOfFundsConsentidStatus404Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"PostFundsConfirmations400Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}},"DeleteConsentsConfirmationOfFundsConsentid404Response":{"required":["code","type"],"type":"object","properties":{"code":{"type":"string"},"additionalErrors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"detail":{"type":"string"},"title":{"type":"string"}}}},"detail":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"}}}}}}