{
  "openapi": "3.0.0",
  "info": {
    "title": "Confirmation of Funds API Specification for Sainsburys Bank",
    "description": "Open API for Confirmation of Funds API Specification, note that this is NOT the same as the Open Banking API in that the consent part mimics Account Information",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://ob.sainsburysbank.co.uk/open-banking/v1.0.0/cbpii"
    }
  ],
  "paths": {
    "/funds-confirm-consents": {
      "post": {
        "tags": [
          "Funds Confirmations"
        ],
        "summary": "Create Funds Confirmation Consent",
        "operationId": "CreateFundsConfirmationConsents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-fapi-financial-id-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-last-logged-time-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id-Param"
          },
          {
            "$ref": "#/components/parameters/AuthorizationParam"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent-Param"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/SBReadConsent1"
              }
            }
          },
          "description": "Default",
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201FundsConfirmationConsentsCreated"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "405": {
            "$ref": "#/components/responses/405ErrorResponse"
          },
          "406": {
            "$ref": "#/components/responses/406ErrorResponse"
          },
          "415": {
            "$ref": "#/components/responses/415ErrorResponse"
          }
        }
      }
    },
    "/funds-confirm-consents/{ConsentId}": {
      "get": {
        "tags": [
          "Funds Confirmations"
        ],
        "summary": "Get Funds Confirmation Consent",
        "operationId": "GetFundsConfirmationConsentsConsentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConsentId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-financial-id-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-last-logged-time-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id-Param"
          },
          {
            "$ref": "#/components/parameters/AuthorizationParam"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent-Param"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200FundsConfirmationConsentsConsentIdRead"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "405": {
            "$ref": "#/components/responses/405ErrorResponse"
          },
          "406": {
            "$ref": "#/components/responses/406ErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/422ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Funds Confirmations"
        ],
        "summary": "Delete Funds Confirmation Consent",
        "operationId": "DeleteFundsConfirmationConsentsConsentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConsentId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-financial-id-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-last-logged-time-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id-Param"
          },
          {
            "$ref": "#/components/parameters/AuthorizationParam"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent-Param"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204FundsConfirmationConsentsConsentIdDeleted"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "405": {
            "$ref": "#/components/responses/405ErrorResponse"
          },
          "406": {
            "$ref": "#/components/responses/406ErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/422ErrorResponse"
          }
        }
      }
    },
    "/funds-confirmations": {
      "post": {
        "tags": [
          "Funds Confirmations"
        ],
        "summary": "Create Funds Confirmation",
        "operationId": "CreateFundsConfirmations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-fapi-financial-id-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-last-logged-time-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address-Param"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id-Param"
          },
          {
            "$ref": "#/components/parameters/AuthorizationParam"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent-Param"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/OBFundsConfirmation1"
              }
            }
          },
          "description": "Default",
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201FundsConfirmationsCreated"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "405": {
            "$ref": "#/components/responses/405ErrorResponse"
          },
          "406": {
            "$ref": "#/components/responses/406ErrorResponse"
          },
          "415": {
            "$ref": "#/components/responses/415ErrorResponse"
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "fundsconfirmations"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "x-fapi-financial-id-Param": {
        "in": "header",
        "name": "x-fapi-financial-id",
        "required": true,
        "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
        "schema": {
          "type": "string"
        }
      },
      "x-fapi-customer-ip-address-Param": {
        "in": "header",
        "name": "x-fapi-customer-ip-address",
        "required": false,
        "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
        "schema": {
          "type": "string"
        }
      },
      "x-fapi-interaction-id-Param": {
        "in": "header",
        "name": "x-fapi-interaction-id",
        "required": false,
        "description": "An RFC4122 UID used as a correlation id.",
        "schema": {
          "type": "string"
        }
      },
      "x-fapi-customer-last-logged-time-Param": {
        "in": "header",
        "name": "x-fapi-customer-last-logged-time",
        "required": false,
        "description": "The time when the PSU last logged in with the TPP. All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: Sun, 10 Sep 2017 19:43:31UTC",
        "schema": {
          "type": "string",
          "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2}(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\\d{4}\\d{2}:\\d{2}:\\d{2}(GMT|UTC)$"
        }
      },
      "AuthorizationParam": {
        "in": "header",
        "name": "Authorization",
        "required": true,
        "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
        "schema": {
          "type": "string"
        }
      },
      "ConsentId": {
        "name": "ConsentId",
        "in": "path",
        "description": "ConsentId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "x-customer-user-agent-Param": {
        "in": "header",
        "name": "x-customer-user-agent",
        "description": "Indicates the user-agent that the PSU is using.",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "200FundsConfirmationConsentsConsentIdRead": {
        "description": "Funds Confirmation Consent Read",
        "headers": {
          "x-fapi-interaction-id": {
            "description": "An RFC4122 UID used as a correlation id.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "$ref": "#/components/schemas/SBReadConsentResponse1"
            }
          }
        }
      },
      "201FundsConfirmationConsentsCreated": {
        "description": "Funds Confirmation Created",
        "headers": {
          "x-fapi-interaction-id": {
            "description": "An RFC4122 UID used as a correlation id.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "$ref": "#/components/schemas/SBReadConsentResponse1"
            }
          }
        }
      },
      "201FundsConfirmationsCreated": {
        "description": "Funds Confirmation Created",
        "headers": {
          "x-fapi-interaction-id": {
            "description": "An RFC4122 UID used as a correlation id.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "$ref": "#/components/schemas/OBFundsConfirmationResponse1"
            }
          }
        }
      },
      "204FundsConfirmationConsentsConsentIdDeleted": {
        "description": "Funds Confirmation Consent Deleted",
        "headers": {
          "x-fapi-interaction-id": {
            "description": "An RFC4122 UID used as a correlation id.",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "400ErrorResponse": {
        "description": "Bad request",
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "$ref": "#/components/schemas/OBErrorResponse1"
            }
          }
        }
      },
      "401ErrorResponse": {
        "description": "Unauthorized"
      },
      "403ErrorResponse": {
        "description": "Forbidden"
      },
      "404ErrorResponse": {
        "description": "Not found"
      },
      "405ErrorResponse": {
        "description": "Method Not Allowed"
      },
      "406ErrorResponse": {
        "description": "Not Acceptable"
      },
      "415ErrorResponse": {
        "description": "Unsupported Media Type"
      },
      "422ErrorResponse": {
        "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors."
      }
    },
    "schemas": {
      "ISODateTime": {
        "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below: 2017-04-05T10: 43: 07+00: 00",
        "type": "string",
        "format": "date-time"
      },
      "Links": {
        "type": "object",
        "description": "Links relevant to the payload",
        "properties": {
          "Self": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": false,
        "required": [
          "Self"
        ],
        "example": "https://api.alphabank.com/open-banking/v3.1/cbpii/funds-confirmation-consents/88379"
      },
      "Meta": {
        "title": "MetaData",
        "type": "object",
        "description": "Meta Data relevant to the payload",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "$ref": "#/components/schemas/ISODateTime"
          },
          "LastAvailableDateTime": {
            "$ref": "#/components/schemas/ISODateTime"
          }
        },
        "additionalProperties": false
      },
      "OBError1": {
        "type": "object",
        "properties": {
          "ErrorCode": {
            "description": "Low level textual error code, e.g., UK.OBIE.Field.Missing",
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "example": "UK.OBIE.Resource.InvalidFormat"
          },
          "Message": {
            "description": "A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future'\nOBIE doesn't standardise this field",
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "example": "Payload schema does not match to the endpoint."
          },
          "Path": {
            "description": "Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency",
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "example": "Data.InstructedAmount.Currency"
          },
          "Url": {
            "description": "URL to help remediate the problem, or provide more information, or to API Reference, or help etc",
            "type": "string",
            "example": "https://developer.sainsburysbank.co.uk/apis"
          }
        },
        "required": [
          "ErrorCode",
          "Message"
        ],
        "additionalProperties": false,
        "minProperties": 1
      },
      "OBErrorResponse1": {
        "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
        "type": "object",
        "properties": {
          "Code": {
            "description": "High level textual error code, to help categorize the errors.",
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "example": "400 Bad Request"
          },
          "Id": {
            "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "example": "abc7421"
          },
          "Message": {
            "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "example": "There is something wrong with the request parameters provided"
          },
          "Errors": {
            "items": {
              "$ref": "#/components/schemas/OBError1"
            },
            "type": "array",
            "minItems": 1
          }
        },
        "required": [
          "Code",
          "Message",
          "Errors"
        ],
        "additionalProperties": false
      },
      "OBExternalRequestStatus1Code": {
        "description": "Specifies the status of consent resource in code form.",
        "type": "string",
        "enum": [
          "Authorised",
          "AwaitingAuthorisation",
          "Rejected",
          "Revoked"
        ]
      },
      "OBFundsConfirmation1": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/OBFundsConfirmationData1"
          }
        },
        "required": [
          "Data"
        ],
        "additionalProperties": false
      },
      "OBFundsConfirmationData1": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.",
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "example": 88379
          },
          "Reference": {
            "description": "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.",
            "type": "string",
            "minLength": 1,
            "maxLength": 35,
            "example": "Purchase01"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/SBActiveOrHistoricCurrencyAndAmount"
          }
        },
        "required": [
          "ConsentId",
          "Reference",
          "InstructedAmount"
        ],
        "additionalProperties": false
      },
      "OBFundsConfirmationDataResponse1": {
        "type": "object",
        "properties": {
          "FundsConfirmationId": {
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation resource.",
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "example": 123456
          },
          "ConsentId": {
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.",
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "example": 83379
          },
          "CreationDateTime": {
            "description": "Date and time at which the resource was created.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
            "type": "string",
            "format": "date-time"
          },
          "FundsAvailable": {
            "description": "Flag to indicate the result of a confirmation of funds check.",
            "type": "boolean",
            "example": true
          },
          "Reference": {
            "description": "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.",
            "type": "string",
            "minLength": 1,
            "maxLength": 35
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/SBActiveOrHistoricCurrencyAndAmount"
          }
        },
        "required": [
          "FundsConfirmationId",
          "ConsentId",
          "CreationDateTime",
          "FundsAvailable",
          "Reference",
          "InstructedAmount"
        ],
        "additionalProperties": false
      },
      "OBFundsConfirmationResponse1": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/OBFundsConfirmationDataResponse1"
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "type": "object"
          }
        },
        "required": [
          "Data",
          "Links"
        ],
        "additionalProperties": false
      },
      "SBActiveCurrencyAndAmount_SimpleType": {
        "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.",
        "type": "string",
        "pattern": "^\\d{1,13}\\.\\d{1,5}$",
        "example": 20.0
      },
      "SBActiveOrHistoricCurrencyAndAmount": {
        "description": "Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency.",
        "type": "object",
        "properties": {
          "Amount": {
            "$ref": "#/components/schemas/SBActiveCurrencyAndAmount_SimpleType"
          },
          "Currency": {
            "description": "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\". Note for Sainsburys Bank we ONLY support GBP so this has been redefined as an enum",
            "type": "string",
            "enum": [
              "GBP"
            ],
            "example": "GBP"
          }
        },
        "required": [
          "Amount",
          "Currency"
        ],
        "additionalProperties": false
      },
      "SBReadConsent1": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/SBReadData1"
          },
          "Risk": {
            "$ref": "#/components/schemas/OBRisk2"
          }
        },
        "required": [
          "Data",
          "Risk"
        ],
        "additionalProperties": false
      },
      "OBRisk2": {
        "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.",
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "SBExternalPermissions1Code": {
        "description": "Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the Sainsburys Bank. Note this is a subset of the Sainsburys Bank specific permissions.",
        "type": "string",
        "enum": [
          "ReadFundsAvailability"
        ]
      },
      "SBReadConsentResponse1": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "description": "Unique identification as assigned to identify the account access consent resource.",
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "example": 88677
              },
              "CreationDateTime": {
                "description": "Date and time at which the resource was created.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below: 2017-04-05T10: 43: 07+00: 00",
                "type": "string",
                "format": "date-time"
              },
              "Status": {
                "$ref": "#/components/schemas/OBExternalRequestStatus1Code"
              },
              "StatusUpdateDateTime": {
                "description": "Date and time at which the resource status was updated.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below: 2017-04-05T10: 43: 07+00: 00",
                "type": "string",
                "format": "date-time"
              },
              "Permissions": {
                "items": {
                  "$ref": "#/components/schemas/SBExternalPermissions1Code"
                },
                "type": "array",
                "description": "Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP.",
                "minItems": 1
              },
              "ExpirationDateTime": {
                "description": "Specified date and time the permissions will expire.\nIf this is not populated, the permissions will be open ended.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below: 2017-04-05T10: 43: 07+00: 00",
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "ConsentId",
              "CreationDateTime",
              "Status",
              "StatusUpdateDateTime",
              "Permissions"
            ],
            "additionalProperties": false
          },
          "Risk": {
            "$ref": "#/components/schemas/OBRisk2"
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "Data",
          "Risk",
          "Links",
          "Meta"
        ],
        "additionalProperties": false
      },
      "SBReadData1": {
        "type": "object",
        "properties": {
          "Permissions": {
            "items": {
              "$ref": "#/components/schemas/SBExternalPermissions1Code"
            },
            "type": "array",
            "description": "Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP.",
            "minItems": 1
          },
          "ExpirationDateTime": {
            "description": "Specified date and time the permissions will expire.\nIf this is not populated, the permissions will be open ended.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below: 2017-04-05T10: 43: 07+00: 00",
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "Permissions"
        ],
        "additionalProperties": false
      }
    }
  }
}