{
    "openapi": "3.0.0",
    "info": {
        "title": "ConfirmationOfFundsAPI",
        "description": "Swagger for Confirmation of Funds API Specification",
        "termsOfService": "https://www.openbanking.org.uk/terms",
        "contact": {
            "name": "Service Desk",
            "email": "ServiceDesk@openbanking.org.uk"
        },
        "license": {
            "name": "open-licence",
            "url": "https://www.openbanking.org.uk/open-licence"
        },
        "version": "v3.1"
    },
    "servers": [
        {
            "url": "https://developer.caterallen.co.uk/open-banking/v3.1/cbpii"
        }
    ],
    "paths": {
        "/funds-confirmation-consents": {
            "post": {
                "tags": [
                    "Funds Confirmations"
                ],
                "summary": "Create Funds Confirmation Consent",
                "operationId": "CreateFundsConfirmationConsents",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-fapi-auth-date"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-customer-ip-address"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-interaction-id"
                    },
                    {
                        "$ref": "#/components/parameters/Authorization"
                    },
                    {
                        "$ref": "#/components/parameters/x-customer-user-agent"
                    }
                ],
                "requestBody": {
                    "description": "Default",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OBFundsConfirmationConsent1"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "$ref": "#/components/responses/201FundsConfirmationConsentsCreated"
                    },
                    "400": {
                        "description": "",
                        "$ref": "#/components/responses/400Error"
                    },
                    "401": {
                        "description": "",
                        "$ref": "#/components/responses/401Error"
                    },
                    "403": {
                        "description": "",
                        "$ref": "#/components/responses/403Error"
                    },
                    "405": {
                        "description": "",
                        "$ref": "#/components/responses/405Error"
                    },
                    "406": {
                        "description": "",
                        "$ref": "#/components/responses/406Error"
                    },
                    "415": {
                        "description": "",
                        "$ref": "#/components/responses/415Error"
                    },
                    "429": {
                        "description": "",
                        "$ref": "#/components/responses/429Error"
                    },
                    "500": {
                        "description": "",
                        "$ref": "#/components/responses/500Error"
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "fundsconfirmations"
                        ]
                    },
                    {
                        "default": [
                            "fundsconfirmations"
                        ]
                    }
                ],
                "x-auth-type": "Application",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/funds-confirmation-consents/{ConsentId}": {
            "get": {
                "tags": [
                    "Funds Confirmations"
                ],
                "summary": "Get Funds Confirmation Consent",
                "operationId": "GetFundsConfirmationConsentsConsentId",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ConsentId"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-auth-date"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-customer-ip-address"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-interaction-id"
                    },
                    {
                        "$ref": "#/components/parameters/Authorization"
                    },
                    {
                        "$ref": "#/components/parameters/x-customer-user-agent"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "$ref": "#/components/responses/200FundsConfirmationConsentsConsentIdRead"
                    },
                    "400": {
                        "description": "",
                        "$ref": "#/components/responses/400Error"
                    },
                    "401": {
                        "description": "",
                        "$ref": "#/components/responses/401Error"
                    },
                    "403": {
                        "description": "",
                        "$ref": "#/components/responses/403Error"
                    },
                    "405": {
                        "description": "",
                        "$ref": "#/components/responses/405Error"
                    },
                    "406": {
                        "description": "",
                        "$ref": "#/components/responses/406Error"
                    },
                    "429": {
                        "description": "",
                        "$ref": "#/components/responses/429Error"
                    },
                    "500": {
                        "description": "",
                        "$ref": "#/components/responses/500Error"
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "fundsconfirmations"
                        ]
                    },
                    {
                        "default": [
                            "fundsconfirmations"
                        ]
                    }
                ],
                "x-auth-type": "Application",
                "x-throttling-tier": "Unlimited"
            },
            "delete": {
                "tags": [
                    "Funds Confirmations"
                ],
                "summary": "Delete Funds Confirmation Consent",
                "operationId": "DeleteFundsConfirmationConsentsConsentId",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ConsentId"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-auth-date"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-customer-ip-address"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-interaction-id"
                    },
                    {
                        "$ref": "#/components/parameters/Authorization"
                    },
                    {
                        "$ref": "#/components/parameters/x-customer-user-agent"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "",
                        "$ref": "#/components/responses/204FundsConfirmationConsentsConsentIdDeleted"
                    },
                    "400": {
                        "description": "",
                        "$ref": "#/components/responses/400Error"
                    },
                    "401": {
                        "description": "",
                        "$ref": "#/components/responses/401Error"
                    },
                    "403": {
                        "description": "",
                        "$ref": "#/components/responses/403Error"
                    },
                    "405": {
                        "description": "",
                        "$ref": "#/components/responses/405Error"
                    },
                    "406": {
                        "description": "",
                        "$ref": "#/components/responses/406Error"
                    },
                    "429": {
                        "description": "",
                        "$ref": "#/components/responses/429Error"
                    },
                    "500": {
                        "description": "",
                        "$ref": "#/components/responses/500Error"
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "fundsconfirmations"
                        ]
                    },
                    {
                        "default": [
                            "fundsconfirmations"
                        ]
                    }
                ],
                "x-auth-type": "Application",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/funds-confirmations": {
            "post": {
                "tags": [
                    "Funds Confirmations"
                ],
                "summary": "Create Funds Confirmation",
                "operationId": "CreateFundsConfirmations",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/x-fapi-auth-date"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-customer-ip-address"
                    },
                    {
                        "$ref": "#/components/parameters/x-fapi-interaction-id"
                    },
                    {
                        "$ref": "#/components/parameters/Authorization"
                    },
                    {
                        "$ref": "#/components/parameters/x-customer-user-agent"
                    }
                ],
                "requestBody": {
                    "description": "Default",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OBFundsConfirmation1"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "$ref": "#/components/responses/201FundsConfirmationsCreated"
                    },
                    "400": {
                        "description": "",
                        "$ref": "#/components/responses/400Error"
                    },
                    "401": {
                        "description": "",
                        "$ref": "#/components/responses/401Error"
                    },
                    "403": {
                        "description": "",
                        "$ref": "#/components/responses/403Error"
                    },
                    "405": {
                        "description": "",
                        "$ref": "#/components/responses/405Error"
                    },
                    "406": {
                        "description": "",
                        "$ref": "#/components/responses/406Error"
                    },
                    "415": {
                        "description": "",
                        "$ref": "#/components/responses/415Error"
                    },
                    "429": {
                        "description": "",
                        "$ref": "#/components/responses/429Error"
                    },
                    "500": {
                        "description": "",
                        "$ref": "#/components/responses/500Error"
                    }
                },
                "security": [
                    {
                        "PSUOAuth2Security": [
                            "fundsconfirmations"
                        ]
                    },
                    {
                        "default": [
                            "fundsconfirmations"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "components": {
        "schemas": {
            "ISODateTime": {
                "type": "string",
                "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                "format": "date-time"
            },
            "Links": {
                "required": [
                    "Self"
                ],
                "type": "object",
                "properties": {
                    "Self": {
                        "type": "string",
                        "format": "uri"
                    },
                    "First": {
                        "type": "string",
                        "format": "uri"
                    },
                    "Prev": {
                        "type": "string",
                        "format": "uri"
                    },
                    "Next": {
                        "type": "string",
                        "format": "uri"
                    },
                    "Last": {
                        "type": "string",
                        "format": "uri"
                    }
                },
                "additionalProperties": false,
                "description": "Links relevant to the payload"
            },
            "Meta": {
                "title": "MetaData",
                "type": "object",
                "properties": {
                    "TotalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "FirstAvailableDateTime": {
                        "$ref": "#/components/schemas/ISODateTime"
                    },
                    "LastAvailableDateTime": {
                        "$ref": "#/components/schemas/ISODateTime"
                    }
                },
                "additionalProperties": false,
                "description": "Meta Data relevant to the payload"
            },
            "OBError1": {
                "minProperties": 1,
                "required": [
                    "ErrorCode",
                    "Message"
                ],
                "type": "object",
                "properties": {
                    "ErrorCode": {
                        "type": "string",
                        "description": "Low level textual error code, e.g., UK.OBIE.Field.Missing",
                        "x-namespaced-enum": [
                            "UK.OBIE.Field.Expected",
                            "UK.OBIE.Field.Invalid",
                            "UK.OBIE.Field.InvalidDate",
                            "UK.OBIE.Field.Missing",
                            "UK.OBIE.Field.Unexpected",
                            "UK.OBIE.Header.Invalid",
                            "UK.OBIE.Header.Missing",
                            "UK.OBIE.Reauthenticate",
                            "UK.OBIE.Resource.ConsentMismatch",
                            "UK.OBIE.Resource.InvalidConsentStatus",
                            "UK.OBIE.Resource.InvalidFormat",
                            "UK.OBIE.Resource.NotFound",
                            "UK.OBIE.Rules.AfterCutOffDateTime",
                            "UK.OBIE.Rules.DuplicateReference",
                            "UK.OBIE.Signature.Invalid",
                            "UK.OBIE.Signature.InvalidClaim",
                            "UK.OBIE.Signature.Malformed",
                            "UK.OBIE.Signature.Missing",
                            "UK.OBIE.Signature.MissingClaim",
                            "UK.OBIE.Signature.Unexpected",
                            "UK.OBIE.UnexpectedError",
                            "UK.OBIE.Unsupported.AccountIdentifier",
                            "UK.OBIE.Unsupported.AccountSecondaryIdentifier",
                            "UK.OBIE.Unsupported.Currency",
                            "UK.OBIE.Unsupported.Frequency",
                            "UK.OBIE.Unsupported.LocalInstrument",
                            "UK.OBIE.Unsupported.Scheme"
                        ]
                    },
                    "Message": {
                        "maxLength": 500,
                        "minLength": 1,
                        "type": "string",
                        "description": "A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future'\nOBIE doesn't standardise this field"
                    },
                    "Path": {
                        "maxLength": 500,
                        "minLength": 1,
                        "type": "string",
                        "description": "Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency"
                    },
                    "Url": {
                        "type": "string",
                        "description": "URL to help remediate the problem, or provide more information, or to API Reference, or help etc"
                    }
                },
                "additionalProperties": false
            },
            "OBErrorResponse1": {
                "required": [
                    "Code",
                    "Errors",
                    "Message"
                ],
                "type": "object",
                "properties": {
                    "Code": {
                        "maxLength": 40,
                        "minLength": 1,
                        "type": "string",
                        "description": "High level textual error code, to help categorize the errors."
                    },
                    "Id": {
                        "maxLength": 40,
                        "minLength": 1,
                        "type": "string",
                        "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors."
                    },
                    "Message": {
                        "maxLength": 500,
                        "minLength": 1,
                        "type": "string",
                        "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'"
                    },
                    "Errors": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OBError1"
                        }
                    }
                },
                "additionalProperties": false,
                "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
            },
            "OBFundsConfirmation1": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "ConsentId",
                            "InstructedAmount",
                            "Reference"
                        ],
                        "type": "object",
                        "properties": {
                            "ConsentId": {
                                "maxLength": 128,
                                "minLength": 1,
                                "type": "string",
                                "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource."
                            },
                            "Reference": {
                                "maxLength": 35,
                                "minLength": 1,
                                "type": "string",
                                "description": "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction."
                            },
                            "InstructedAmount": {
                                "required": [
                                    "Amount",
                                    "Currency"
                                ],
                                "type": "object",
                                "properties": {
                                    "Amount": {
                                        "pattern": "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$",
                                        "type": "string",
                                        "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                                    },
                                    "Currency": {
                                        "pattern": "^[A-Z]{3,3}$",
                                        "type": "string",
                                        "description": "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                                    }
                                },
                                "description": "Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency."
                            }
                        }
                    }
                },
                "additionalProperties": false
            },
            "OBFundsConfirmationConsent1": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "DebtorAccount"
                        ],
                        "type": "object",
                        "properties": {
                            "ExpirationDateTime": {
                                "type": "string",
                                "description": "Specified date and time the funds confirmation authorisation will expire.\n If this is not populated, the authorisation will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                "format": "date-time"
                            },
                            "DebtorAccount": {
                                "required": [
                                    "Identification",
                                    "SchemeName"
                                ],
                                "type": "object",
                                "properties": {
                                    "SchemeName": {
                                        "type": "string",
                                        "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                        "x-namespaced-enum": [
                                            "UK.OBIE.BBAN",
                                            "UK.OBIE.IBAN",
                                            "UK.OBIE.PAN",
                                            "UK.OBIE.Paym",
                                            "UK.OBIE.SortCodeAccountNumber"
                                        ]
                                    },
                                    "Identification": {
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string",
                                        "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner."
                                    },
                                    "Name": {
                                        "maxLength": 350,
                                        "minLength": 1,
                                        "type": "string",
                                        "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account."
                                    },
                                    "SecondaryIdentification": {
                                        "maxLength": 34,
                                        "minLength": 1,
                                        "type": "string",
                                        "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
                                    }
                                },
                                "description": "Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied."
                            }
                        }
                    }
                },
                "additionalProperties": false
            },
            "OBFundsConfirmationConsentResponse1": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "ConsentId",
                            "CreationDateTime",
                            "DebtorAccount",
                            "Status",
                            "StatusUpdateDateTime"
                        ],
                        "type": "object",
                        "properties": {
                            "ConsentId": {
                                "maxLength": 128,
                                "minLength": 1,
                                "type": "string",
                                "description": "Unique identification as assigned to identify the funds confirmation consent resource."
                            },
                            "CreationDateTime": {
                                "type": "string",
                                "description": "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                "format": "date-time"
                            },
                            "Status": {
                                "type": "string",
                                "description": "Specifies the status of consent resource in code form.",
                                "enum": [
                                    "Authorised",
                                    "AwaitingAuthorisation",
                                    "Rejected",
                                    "Revoked"
                                ]
                            },
                            "StatusUpdateDateTime": {
                                "type": "string",
                                "description": "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                "format": "date-time"
                            },
                            "ExpirationDateTime": {
                                "type": "string",
                                "description": "Specified date and time the funds confirmation authorisation will expire.\nIf this is not populated, the authorisation will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                "format": "date-time"
                            },
                            "DebtorAccount": {
                                "required": [
                                    "Identification",
                                    "SchemeName"
                                ],
                                "type": "object",
                                "properties": {
                                    "SchemeName": {
                                        "type": "string",
                                        "description": "Name of the identification scheme, in a coded form as published in an external list.",
                                        "x-namespaced-enum": [
                                            "UK.OBIE.BBAN",
                                            "UK.OBIE.IBAN",
                                            "UK.OBIE.PAN",
                                            "UK.OBIE.Paym",
                                            "UK.OBIE.SortCodeAccountNumber"
                                        ]
                                    },
                                    "Identification": {
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string",
                                        "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner."
                                    },
                                    "Name": {
                                        "maxLength": 350,
                                        "minLength": 1,
                                        "type": "string",
                                        "description": "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account."
                                    },
                                    "SecondaryIdentification": {
                                        "maxLength": 34,
                                        "minLength": 1,
                                        "type": "string",
                                        "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
                                    }
                                },
                                "description": "Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied."
                            }
                        }
                    },
                    "Links": {
                        "$ref": "#/components/schemas/Links"
                    },
                    "Meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                },
                "additionalProperties": false
            },
            "OBFundsConfirmationResponse1": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "ConsentId",
                            "CreationDateTime",
                            "FundsAvailable",
                            "FundsConfirmationId",
                            "InstructedAmount",
                            "Reference"
                        ],
                        "type": "object",
                        "properties": {
                            "FundsConfirmationId": {
                                "maxLength": 40,
                                "minLength": 1,
                                "type": "string",
                                "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation resource."
                            },
                            "ConsentId": {
                                "maxLength": 128,
                                "minLength": 1,
                                "type": "string",
                                "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource."
                            },
                            "CreationDateTime": {
                                "type": "string",
                                "description": "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                                "format": "date-time"
                            },
                            "FundsAvailable": {
                                "type": "boolean",
                                "description": "Flag to indicate the result of a confirmation of funds check."
                            },
                            "Reference": {
                                "maxLength": 35,
                                "minLength": 1,
                                "type": "string",
                                "description": "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction."
                            },
                            "InstructedAmount": {
                                "required": [
                                    "Amount",
                                    "Currency"
                                ],
                                "type": "object",
                                "properties": {
                                    "Amount": {
                                        "pattern": "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$",
                                        "type": "string",
                                        "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                                    },
                                    "Currency": {
                                        "pattern": "^[A-Z]{3,3}$",
                                        "type": "string",
                                        "description": "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                                    }
                                },
                                "description": "Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency."
                            }
                        }
                    },
                    "Links": {
                        "$ref": "#/components/schemas/Links"
                    },
                    "Meta": {
                        "$ref": "#/components/schemas/Meta"
                    }
                },
                "additionalProperties": false
            }
        },
        "responses": {
            "201FundsConfirmationConsentsCreated": {
                "description": "Funds Confirmation Consent Created",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "content": {
                    "application/json; charset=utf-8": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationConsentResponse1"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationConsentResponse1"
                        }
                    },
                    "application/jose+jwe": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationConsentResponse1"
                        }
                    }
                }
            },
            "200FundsConfirmationConsentsConsentIdRead": {
                "description": "Funds Confirmation Consent Read",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "content": {
                    "application/json; charset=utf-8": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationConsentResponse1"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationConsentResponse1"
                        }
                    },
                    "application/jose+jwe": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationConsentResponse1"
                        }
                    }
                }
            },
            "204FundsConfirmationConsentsConsentIdDeleted": {
                "description": "Funds Confirmation Consent Deleted",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "201FundsConfirmationsCreated": {
                "description": "Funds Confirmation Created",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "content": {
                    "application/json; charset=utf-8": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationResponse1"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationResponse1"
                        }
                    },
                    "application/jose+jwe": {
                        "schema": {
                            "$ref": "#/components/schemas/OBFundsConfirmationResponse1"
                        }
                    }
                }
            },
            "400Error": {
                "description": "Bad request",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "content": {
                    "application/json; charset=utf-8": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    },
                    "application/jose+jwe": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    }
                }
            },
            "401Error": {
                "description": "Unauthorized",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "403Error": {
                "description": "Forbidden",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "content": {
                    "application/json; charset=utf-8": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    },
                    "application/jose+jwe": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    }
                }
            },
            "404Error": {
                "description": "Not found",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "405Error": {
                "description": "Method Not Allowed",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "406Error": {
                "description": "Not Acceptable",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "415Error": {
                "description": "Unsupported Media Type",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "429Error": {
                "description": "Too Many Requests",
                "headers": {
                    "Retry-After": {
                        "description": "Number in seconds to wait",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "500Error": {
                "description": "Internal Server Error",
                "headers": {
                    "x-fapi-interaction-id": {
                        "description": "An RFC4122 UID used as a correlation id.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "content": {
                    "application/json; charset=utf-8": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    },
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    },
                    "application/jose+jwe": {
                        "schema": {
                            "$ref": "#/components/schemas/OBErrorResponse1"
                        }
                    }
                }
            }
        },
        "parameters": {
            "ConsentId": {
                "name": "ConsentId",
                "in": "path",
                "description": "ConsentId",
                "required": true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                }
            },
            "Authorization": {
                "name": "Authorization",
                "in": "header",
                "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
                "required": true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                }
            },
            "x-customer-user-agent": {
                "name": "x-customer-user-agent",
                "in": "header",
                "description": "Indicates the user-agent that the PSU is using.",
                "required": false,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                }
            },
            "x-fapi-customer-ip-address": {
                "name": "x-fapi-customer-ip-address",
                "in": "header",
                "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
                "required": false,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                }
            },
            "x-fapi-auth-date": {
                "name": "x-fapi-auth-date",
                "in": "header",
                "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
                "required": false,
                "style": "simple",
                "explode": false,
                "schema": {
                    "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$",
                    "type": "string"
                }
            },
            "x-fapi-interaction-id": {
                "name": "x-fapi-interaction-id",
                "in": "header",
                "description": "An RFC4122 UID used as a correlation id.",
                "required": false,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                }
            },
            "x-idempotency-key": {
                "name": "x-idempotency-key",
                "in": "header",
                "description": "Every request will be processed only once per x-idempotency-key.  The\nIdempotency Key will be valid for 24 hours.\n",
                "required": true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "maxLength": 40,
                    "pattern": "^(?!\\s)(.*)(\\S)$",
                    "type": "string"
                }
            },
            "x-jws-signature": {
                "name": "x-jws-signature",
                "in": "header",
                "description": "A detached JWS signature of the body of the payload.",
                "required": true,
                "style": "simple",
                "explode": false,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "TPPOAuth2Security": {
                "type": "oauth2",
                "description": "TPP client credential authorisation flow with the ASPSP",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https://authserver.example/token",
                        "scopes": {
                            "fundsconfirmations": "Funds confirmation entitlement"
                        }
                    }
                }
            },
            "PSUOAuth2Security": {
                "type": "oauth2",
                "description": "OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://authserver.example/authorization",
                        "tokenUrl": "https://authserver.example/token",
                        "scopes": {
                            "fundsconfirmations": "Funds confirmation entitlement"
                        }
                    }
                }
            },
            "default": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://developer.caterallen.co.uk/authorize",
                        "scopes": {
                            "fundsconfirmations": "Funds confirmation entitlement"
                        },
                        "x-scopes-bindings": {
                            "fundsconfirmations": "Internal/everyone"
                        }
                    }
                },
                "x-wso2-security": {
                    "apim": {
                        "description": "This scope will group the ConfirmationOfFundsAPI related operations.",
                        "x-wso2-scopes": [
                            {
                                "name": "fundsconfirmations",
                                "key": "fundsconfirmations",
                                "roles": "Internal/everyone"
                            }
                        ]
                    }
                }
            }
        }
    }
}