{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "PaymentInitiationAPI",
    "description" : "Swagger for Payment Initiation API Specification",
    "termsOfService" : "https://www.openbanking.org.uk/terms",
    "contact" : {
      "name" : "Service Desk",
      "email" : "ServiceDesk@openbanking.org.uk"
    },
    "license" : {
      "name" : "open-licence",
      "url" : "https://www.openbanking.org.uk/open-licence"
    },
    "version" : "v3.1"
  },
  "servers" : [ {
    "url" : "https://developer.caterallen.co.uk/open-banking/v3.1/pisp"
  } ],
  "paths" : {
    "/domestic-payment-consents" : {
      "post" : {
        "tags" : [ "Domestic Payments" ],
        "summary" : "Create Domestic Payment Consents",
        "operationId" : "CreateDomesticPaymentConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticConsent4"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticConsent4"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticConsent4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201DomesticPaymentConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-payment-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "Domestic Payments" ],
        "summary" : "Get Domestic Payment Consents",
        "operationId" : "GetDomesticPaymentConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticPaymentConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-payment-consents/{ConsentId}/funds-confirmation" : {
      "get" : {
        "tags" : [ "Domestic Payments" ],
        "summary" : "Get Domestic Payment Consents Funds Confirmation",
        "operationId" : "GetDomesticPaymentConsentsConsentIdFundsConfirmation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticPaymentConsentsConsentIdFundsConfirmationRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-payments" : {
      "post" : {
        "tags" : [ "Domestic Payments" ],
        "summary" : "Create Domestic Payments",
        "operationId" : "CreateDomesticPayments",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomestic2"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomestic2"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomestic2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201DomesticPaymentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-payments/{DomesticPaymentId}" : {
      "get" : {
        "tags" : [ "Domestic Payments" ],
        "summary" : "Get Domestic Payments",
        "operationId" : "GetDomesticPaymentsDomesticPaymentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DomesticPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticPaymentsDomesticPaymentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-payments/{DomesticPaymentId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetDomesticPaymentsDomesticPaymentIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DomesticPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticPaymentsDomesticPaymentIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-scheduled-payment-consents" : {
      "post" : {
        "tags" : [ "Domestic Scheduled Payments" ],
        "summary" : "Create Domestic Scheduled Payment Consents",
        "operationId" : "CreateDomesticScheduledPaymentConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticScheduledConsent4"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticScheduledConsent4"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticScheduledConsent4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201DomesticScheduledPaymentConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-scheduled-payment-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "Domestic Scheduled Payments" ],
        "summary" : "Get Domestic Scheduled Payment Consents",
        "operationId" : "GetDomesticScheduledPaymentConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticScheduledPaymentConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-scheduled-payments" : {
      "post" : {
        "tags" : [ "Domestic Scheduled Payments" ],
        "summary" : "Create Domestic Scheduled Payments",
        "operationId" : "CreateDomesticScheduledPayments",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticScheduled2"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticScheduled2"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticScheduled2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201DomesticScheduledPaymentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-scheduled-payments/{DomesticScheduledPaymentId}" : {
      "get" : {
        "tags" : [ "Domestic Scheduled Payments" ],
        "summary" : "Get Domestic Scheduled Payments",
        "operationId" : "GetDomesticScheduledPaymentsDomesticScheduledPaymentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DomesticScheduledPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-scheduled-payments/{DomesticScheduledPaymentId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetDomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DomesticScheduledPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-standing-order-consents" : {
      "post" : {
        "tags" : [ "Domestic Standing Orders" ],
        "summary" : "Create Domestic Standing Order Consents",
        "operationId" : "CreateDomesticStandingOrderConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticStandingOrderConsent5"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticStandingOrderConsent5"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticStandingOrderConsent5"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201DomesticStandingOrderConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-standing-order-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "Domestic Standing Orders" ],
        "summary" : "Get Domestic Standing Order Consents",
        "operationId" : "GetDomesticStandingOrderConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticStandingOrderConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-standing-orders" : {
      "post" : {
        "tags" : [ "Domestic Standing Orders" ],
        "summary" : "Create Domestic Standing Orders",
        "operationId" : "CreateDomesticStandingOrders",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticStandingOrder3"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticStandingOrder3"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteDomesticStandingOrder3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201DomesticStandingOrdersCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-standing-orders/{DomesticStandingOrderId}" : {
      "get" : {
        "tags" : [ "Domestic Standing Orders" ],
        "summary" : "Get Domestic Standing Orders",
        "operationId" : "GetDomesticStandingOrdersDomesticStandingOrderId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DomesticStandingOrderId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/domestic-standing-orders/{DomesticStandingOrderId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetDomesticStandingOrdersDomesticStandingOrderIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/DomesticStandingOrderId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payment-consents" : {
      "post" : {
        "tags" : [ "File Payments" ],
        "summary" : "Create File Payment Consents",
        "operationId" : "CreateFilePaymentConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteFileConsent3"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteFileConsent3"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteFileConsent3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201FilePaymentConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payment-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "File Payments" ],
        "summary" : "Get File Payment Consents",
        "operationId" : "GetFilePaymentConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200FilePaymentConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payment-consents/{ConsentId}/file" : {
      "get" : {
        "tags" : [ "File Payments" ],
        "summary" : "Get File Payment Consents",
        "operationId" : "GetFilePaymentConsentsConsentIdFile",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200FilePaymentConsentsConsentIdFileRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      },
      "post" : {
        "tags" : [ "File Payments" ],
        "summary" : "Create File Payment Consents",
        "operationId" : "CreateFilePaymentConsentsConsentIdFile",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/File"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200FilePaymentConsentsConsentIdFileCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payments" : {
      "post" : {
        "tags" : [ "File Payments" ],
        "summary" : "Create File Payments",
        "operationId" : "CreateFilePayments",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteFile2"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteFile2"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteFile2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201FilePaymentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payments/{FilePaymentId}" : {
      "get" : {
        "tags" : [ "File Payments" ],
        "summary" : "Get File Payments",
        "operationId" : "GetFilePaymentsFilePaymentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/FilePaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200FilePaymentsFilePaymentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payments/{FilePaymentId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetFilePaymentsFilePaymentIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/FilePaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200FilePaymentsFilePaymentIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/file-payments/{FilePaymentId}/report-file" : {
      "get" : {
        "tags" : [ "File Payments" ],
        "summary" : "Get File Payments",
        "operationId" : "GetFilePaymentsFilePaymentIdReportFile",
        "parameters" : [ {
          "$ref" : "#/components/parameters/FilePaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200FilePaymentsFilePaymentIdReportFileRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-payment-consents" : {
      "post" : {
        "tags" : [ "International Payments" ],
        "summary" : "Create International Payment Consents",
        "operationId" : "CreateInternationalPaymentConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalConsent5"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalConsent5"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalConsent5"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201InternationalPaymentConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-payment-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "International Payments" ],
        "summary" : "Get International Payment Consents",
        "operationId" : "GetInternationalPaymentConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalPaymentConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-payment-consents/{ConsentId}/funds-confirmation" : {
      "get" : {
        "tags" : [ "International Payments" ],
        "summary" : "Get International Payment Consents Funds Confirmation",
        "operationId" : "GetInternationalPaymentConsentsConsentIdFundsConfirmation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalPaymentConsentsConsentIdFundsConfirmationRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-payments" : {
      "post" : {
        "tags" : [ "International Payments" ],
        "summary" : "Create International Payments",
        "operationId" : "CreateInternationalPayments",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternational3"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternational3"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternational3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201InternationalPaymentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-payments/{InternationalPaymentId}" : {
      "get" : {
        "tags" : [ "International Payments" ],
        "summary" : "Get International Payments",
        "operationId" : "GetInternationalPaymentsInternationalPaymentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InternationalPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalPaymentsInternationalPaymentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-payments/{InternationalPaymentId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetInternationalPaymentsInternationalPaymentIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InternationalPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalPaymentsInternationalPaymentIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-scheduled-payment-consents" : {
      "post" : {
        "tags" : [ "International Scheduled Payments" ],
        "summary" : "Create International Scheduled Payment Consents",
        "operationId" : "CreateInternationalScheduledPaymentConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalScheduledConsent5"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalScheduledConsent5"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalScheduledConsent5"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201InternationalScheduledPaymentConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-scheduled-payment-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "International Scheduled Payments" ],
        "summary" : "Get International Scheduled Payment Consents",
        "operationId" : "GetInternationalScheduledPaymentConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalScheduledPaymentConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-scheduled-payment-consents/{ConsentId}/funds-confirmation" : {
      "get" : {
        "tags" : [ "International Scheduled Payments" ],
        "summary" : "Get International Scheduled Payment Consents Funds Confirmation",
        "operationId" : "GetInternationalScheduledPaymentConsentsConsentIdFundsConfirmation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-scheduled-payments" : {
      "post" : {
        "tags" : [ "International Scheduled Payments" ],
        "summary" : "Create International Scheduled Payments",
        "operationId" : "CreateInternationalScheduledPayments",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalScheduled3"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalScheduled3"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalScheduled3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201InternationalScheduledPaymentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-scheduled-payments/{InternationalScheduledPaymentId}" : {
      "get" : {
        "tags" : [ "International Scheduled Payments" ],
        "summary" : "Get International Scheduled Payments",
        "operationId" : "GetInternationalScheduledPaymentsInternationalScheduledPaymentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InternationalScheduledPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-scheduled-payments/{InternationalScheduledPaymentId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetInternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InternationalScheduledPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-standing-order-consents" : {
      "post" : {
        "tags" : [ "International Standing Orders" ],
        "summary" : "Create International Standing Order Consents",
        "operationId" : "CreateInternationalStandingOrderConsents",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalStandingOrderConsent6"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalStandingOrderConsent6"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalStandingOrderConsent6"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201InternationalStandingOrderConsentsCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-standing-order-consents/{ConsentId}" : {
      "get" : {
        "tags" : [ "International Standing Orders" ],
        "summary" : "Get International Standing Order Consents",
        "operationId" : "GetInternationalStandingOrderConsentsConsentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/ConsentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalStandingOrderConsentsConsentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-standing-orders" : {
      "post" : {
        "tags" : [ "International Standing Orders" ],
        "summary" : "Create International Standing Orders",
        "operationId" : "CreateInternationalStandingOrders",
        "parameters" : [ {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-idempotency-key"
        }, {
          "$ref" : "#/components/parameters/x-jws-signature"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "requestBody" : {
          "description" : "Default",
          "content" : {
            "application/json; charset=utf-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalStandingOrder4"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalStandingOrder4"
              }
            },
            "application/jose+jwe" : {
              "schema" : {
                "$ref" : "#/components/schemas/OBWriteInternationalStandingOrder4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "$ref" : "#/components/responses/201InternationalStandingOrdersCreated"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "415" : {
            "description" : "",
            "$ref" : "#/components/responses/415Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "PSUOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-standing-orders/{InternationalStandingOrderPaymentId}" : {
      "get" : {
        "tags" : [ "International Standing Orders" ],
        "summary" : "Get International Standing Orders",
        "operationId" : "GetInternationalStandingOrdersInternationalStandingOrderPaymentId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InternationalStandingOrderPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/international-standing-orders/{InternationalStandingOrderPaymentId}/payment-details" : {
      "get" : {
        "tags" : [ "Payment Details" ],
        "summary" : "Get Payment Details",
        "operationId" : "GetInternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetails",
        "parameters" : [ {
          "$ref" : "#/components/parameters/InternationalStandingOrderPaymentId"
        }, {
          "$ref" : "#/components/parameters/x-fapi-auth-date"
        }, {
          "$ref" : "#/components/parameters/x-fapi-customer-ip-address"
        }, {
          "$ref" : "#/components/parameters/x-fapi-interaction-id"
        }, {
          "$ref" : "#/components/parameters/Authorization"
        }, {
          "$ref" : "#/components/parameters/x-customer-user-agent"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "$ref" : "#/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetailsRead"
          },
          "400" : {
            "description" : "",
            "$ref" : "#/components/responses/400Error"
          },
          "401" : {
            "description" : "",
            "$ref" : "#/components/responses/401Error"
          },
          "403" : {
            "description" : "",
            "$ref" : "#/components/responses/403Error"
          },
          "404" : {
            "description" : "",
            "$ref" : "#/components/responses/404Error"
          },
          "405" : {
            "description" : "",
            "$ref" : "#/components/responses/405Error"
          },
          "406" : {
            "description" : "",
            "$ref" : "#/components/responses/406Error"
          },
          "429" : {
            "description" : "",
            "$ref" : "#/components/responses/429Error"
          },
          "500" : {
            "description" : "",
            "$ref" : "#/components/responses/500Error"
          }
        },
        "security" : [ {
          "TPPOAuth2Security" : [ "payments" ]
        }, {
          "default" : [ "payments" ]
        } ],
        "x-auth-type" : "Application",
        "x-throttling-tier" : "Unlimited"
      }
    }
  },
  "components" : {
    "schemas" : {
      "ActiveOrHistoricCurrencyCode" : {
        "pattern" : "^[A-Z]{3,3}$",
        "type" : "string",
[...]
