 {"swagger":"2.0","info":{"description":"Swagger for Event Subscription API Specification - ASPSP Endpoints","version":"v3.1","title":"EventSubscriptionsAPI","termsOfService":"https://www.openbanking.org.uk/terms","contact":{"name":"Service Desk","email":"ServiceDesk@openbanking.org.uk"},"license":{"name":"open-licence","url":"https://www.openbanking.org.uk/open-licence"}},"host":"developer.caterallen.co.uk","basePath":"/open-banking/v3.1","schemes":["https"],"consumes":["application/json; charset=utf-8","application/jose+jwe"],"produces":["application/json; charset=utf-8","application/jose+jwe"],"security":[{"default":[]}],"paths":{"/event-subscriptions/{EventSubscriptionId}":{"put":{"tags":["Event Subscriptions"],"summary":"Change Event Subscription","operationId":"ChangeEventSubscriptionsEventSubscriptionId","parameters":[{"in":"body","name":"OBEventSubscriptionResponse1Param","description":"Default","required":true,"schema":{"$ref":"#/definitions/OBEventSubscriptionResponse1"}},{"name":"EventSubscriptionId","in":"path","description":"EventSubscriptionId","required":true,"type":"string"},{"name":"x-fapi-auth-date","in":"header","description":"The time when the PSU last logged in with the TPP.\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\nSun, 10 Sep 2017 19:43:31 UTC","required":false,"type":"string","pattern":"^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"},{"name":"x-fapi-customer-ip-address","in":"header","description":"The PSU's IP address if the PSU is currently logged in with the TPP.","required":false,"type":"string"},{"name":"x-fapi-interaction-id","in":"header","description":"An RFC4122 UID used as a correlation id.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"An Authorisation Token as per https://tools.ietf.org/html/rfc6750","required":true,"type":"string"},{"name":"x-jws-signature","in":"header","description":"A detached JWS signature of the body of the payload.","required":true,"type":"string"}],"responses":{"200":{"description":"Event Subscription Changed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."},"x-jws-signature":{"type":"string","description":"Header containing a detached JWS signature of the body of the payload.\n"}},"schema":{"$ref":"#/definitions/OBEventSubscriptionResponse1"}},"400":{"description":"Bad request","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"401":{"description":"Unauthorized","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"403":{"description":"Forbidden","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"404":{"description":"Not found","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"405":{"description":"Method Not Allowed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"406":{"description":"Not Acceptable","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"429":{"description":"Too Many Requests","headers":{"Retry-After":{"type":"integer","description":"Number in seconds to wait"},"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"500":{"description":"Internal Server Error","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}}},"security":[{"TPPOAuth2Security":["accounts","payments","fundsconfirmations"]},{"default":[]}],"x-auth-type":"Application","x-throttling-tier":"Unlimited"},"delete":{"tags":["Event Subscriptions"],"summary":"Delete Event Subscription","operationId":"DeleteEventSubscriptionsEventSubscriptionId","parameters":[{"name":"EventSubscriptionId","in":"path","description":"EventSubscriptionId","required":true,"type":"string"},{"name":"x-fapi-auth-date","in":"header","description":"The time when the PSU last logged in with the TPP.\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\nSun, 10 Sep 2017 19:43:31 UTC","required":false,"type":"string","pattern":"^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"},{"name":"x-fapi-customer-ip-address","in":"header","description":"The PSU's IP address if the PSU is currently logged in with the TPP.","required":false,"type":"string"},{"name":"x-fapi-interaction-id","in":"header","description":"An RFC4122 UID used as a correlation id.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"An Authorisation Token as per https://tools.ietf.org/html/rfc6750","required":true,"type":"string"}],"responses":{"204":{"description":"Event Subscription Deleted","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"400":{"description":"Bad request","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"401":{"description":"Unauthorized","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"403":{"description":"Forbidden","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"404":{"description":"Not found","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"405":{"description":"Method Not Allowed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"406":{"description":"Not Acceptable","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"429":{"description":"Too Many Requests","headers":{"Retry-After":{"type":"integer","description":"Number in seconds to wait"},"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"500":{"description":"Internal Server Error","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}}},"security":[{"TPPOAuth2Security":["accounts","payments","fundsconfirmations"]},{"default":[]}],"x-auth-type":"Application","x-throttling-tier":"Unlimited"}},"/event-subscriptions":{"get":{"tags":["Event Subscriptions"],"summary":"Get Event Subscription","operationId":"GetEventSubscriptions","parameters":[{"name":"x-fapi-auth-date","in":"header","description":"The time when the PSU last logged in with the TPP.\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\nSun, 10 Sep 2017 19:43:31 UTC","required":false,"type":"string","pattern":"^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"},{"name":"x-fapi-customer-ip-address","in":"header","description":"The PSU's IP address if the PSU is currently logged in with the TPP.","required":false,"type":"string"},{"name":"x-fapi-interaction-id","in":"header","description":"An RFC4122 UID used as a correlation id.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"An Authorisation Token as per https://tools.ietf.org/html/rfc6750","required":true,"type":"string"}],"responses":{"200":{"description":"Event Subscription Read","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."},"x-jws-signature":{"type":"string","description":"Header containing a detached JWS signature of the body of the payload.\n"}},"schema":{"$ref":"#/definitions/OBEventSubscriptionsResponse1"}},"400":{"description":"Bad request","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"401":{"description":"Unauthorized","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"403":{"description":"Forbidden","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"404":{"description":"Not found","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"405":{"description":"Method Not Allowed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"406":{"description":"Not Acceptable","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"429":{"description":"Too Many Requests","headers":{"Retry-After":{"type":"integer","description":"Number in seconds to wait"},"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"500":{"description":"Internal Server Error","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}}},"security":[{"TPPOAuth2Security":["accounts","payments","fundsconfirmations"]},{"default":[]}],"x-auth-type":"Application","x-throttling-tier":"Unlimited"},"post":{"tags":["Event Subscriptions"],"summary":"Create Event Subscription","operationId":"CreateEventSubscriptions","parameters":[{"in":"body","name":"OBEventSubscription1Param","description":"Default","required":true,"schema":{"$ref":"#/definitions/OBEventSubscription1"}},{"name":"x-fapi-auth-date","in":"header","description":"The time when the PSU last logged in with the TPP.\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\nSun, 10 Sep 2017 19:43:31 UTC","required":false,"type":"string","pattern":"^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"},{"name":"x-fapi-customer-ip-address","in":"header","description":"The PSU's IP address if the PSU is currently logged in with the TPP.","required":false,"type":"string"},{"name":"x-fapi-interaction-id","in":"header","description":"An RFC4122 UID used as a correlation id.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"An Authorisation Token as per https://tools.ietf.org/html/rfc6750","required":true,"type":"string"},{"name":"x-jws-signature","in":"header","description":"A detached JWS signature of the body of the payload.","required":true,"type":"string"}],"responses":{"201":{"description":"Event Subscription Created","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."},"x-jws-signature":{"type":"string","description":"Header containing a detached JWS signature of the body of the payload.\n"}},"schema":{"$ref":"#/definitions/OBEventSubscriptionResponse1"}},"400":{"description":"Bad request","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"401":{"description":"Unauthorized","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"403":{"description":"Forbidden","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"404":{"description":"Not found","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"405":{"description":"Method Not Allowed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"406":{"description":"Not Acceptable","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"429":{"description":"Too Many Requests","headers":{"Retry-After":{"type":"integer","description":"Number in seconds to wait"},"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"500":{"description":"Internal Server Error","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}}},"security":[{"TPPOAuth2Security":["accounts","payments","fundsconfirmations"]},{"default":[]}],"x-auth-type":"Application","x-throttling-tier":"Unlimited"}}},"securityDefinitions":{"TPPOAuth2Security":{"description":"TPP client credential authorisation flow with the ASPSP","type":"oauth2","tokenUrl":"https://authserver.example/token","flow":"application","scopes":{"accounts":"Ability to read Accounts information","fundsconfirmations":"Ability to confirm funds","payments":"Generic payment scope"}},"default":{"type":"oauth2","authorizationUrl":"https://developer.caterallen.co.uk/authorize","flow":"implicit"}},"definitions":{"ISODateTime":{"type":"string","format":"date-time","description":"All dates in the JSON payloads are represented in ISO 8601 date-time format.\nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"},"Links":{"type":"object","required":["Self"],"properties":{"Self":{"type":"string","format":"uri"},"First":{"type":"string","format":"uri"},"Prev":{"type":"string","format":"uri"},"Next":{"type":"string","format":"uri"},"Last":{"type":"string","format":"uri"}},"description":"Links relevant to the payload"},"Meta":{"type":"object","properties":{"TotalPages":{"type":"integer","format":"int32"},"FirstAvailableDateTime":{"$ref":"#/definitions/ISODateTime"},"LastAvailableDateTime":{"$ref":"#/definitions/ISODateTime"}},"title":"MetaData","description":"Meta Data relevant to the payload"},"OBError1":{"type":"object","required":["ErrorCode","Message"],"properties":{"ErrorCode":{"type":"string","description":"Low level textual error code, e.g., UK.OBIE.Field.Missing","x-namespaced-enum":["UK.OBIE.Field.Expected","UK.OBIE.Field.Invalid","UK.OBIE.Field.InvalidDate","UK.OBIE.Field.Missing","UK.OBIE.Field.Unexpected","UK.OBIE.Header.Invalid","UK.OBIE.Header.Missing","UK.OBIE.Reauthenticate","UK.OBIE.Resource.ConsentMismatch","UK.OBIE.Resource.InvalidConsentStatus","UK.OBIE.Resource.InvalidFormat","UK.OBIE.Resource.NotFound","UK.OBIE.Rules.AfterCutOffDateTime","UK.OBIE.Rules.DuplicateReference","UK.OBIE.Signature.Invalid","UK.OBIE.Signature.InvalidClaim","UK.OBIE.Signature.Malformed","UK.OBIE.Signature.Missing","UK.OBIE.Signature.MissingClaim","UK.OBIE.Signature.Unexpected","UK.OBIE.UnexpectedError","UK.OBIE.Unsupported.AccountIdentifier","UK.OBIE.Unsupported.AccountSecondaryIdentifier","UK.OBIE.Unsupported.Currency","UK.OBIE.Unsupported.Frequency","UK.OBIE.Unsupported.LocalInstrument","UK.OBIE.Unsupported.Scheme"]},"Message":{"type":"string","description":"A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future'\nOBIE doesn't standardise this field","minLength":1,"maxLength":500},"Path":{"type":"string","description":"Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency","minLength":1,"maxLength":500},"Url":{"type":"string","description":"URL to help remediate the problem, or provide more information, or to API Reference, or help etc"}}},"OBErrorResponse1":{"type":"object","required":["Code","Errors","Message"],"properties":{"Code":{"type":"string","description":"High level textual error code, to help categorize the errors.","minLength":1,"maxLength":40},"Id":{"type":"string","description":"A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.","minLength":1,"maxLength":40},"Message":{"type":"string","description":"Brief Error message, e.g., 'There is something wrong with the request parameters provided'","minLength":1,"maxLength":500},"Errors":{"type":"array","items":{"$ref":"#/definitions/OBError1"},"minItems":1}},"description":"An array of detail error codes, and messages, and URLs to documentation to help remediation."},"OBEventSubscription1":{"type":"object","required":["Data"],"properties":{"Data":{"$ref":"#/definitions/OBEventSubscription1Data"}}},"OBEventSubscriptionResponse1":{"type":"object","required":["Data"],"properties":{"Data":{"$ref":"#/definitions/OBEventSubscriptionResponse1Data"},"Links":{"$ref":"#/definitions/Links"},"Meta":{"$ref":"#/definitions/Meta"}}},"OBEventSubscriptionsResponse1":{"type":"object","required":["Data"],"properties":{"Data":{"type":"object","properties":{"EventSubscription":{"type":"array","items":{"type":"object","properties":{"EventSubscriptionId":{"type":"string","description":"Unique identification as assigned by the ASPSP to uniquely identify the callback url resource.","minLength":1,"maxLength":40},"CallbackUrl":{"type":"string","format":"uri","description":"Callback URL for a TPP hosted service. Will be used by ASPSPs, in conjunction with the resource name, to construct a URL to send event notifications to."},"Version":{"$ref":"#/definitions/Version"},"EventTypes":{"type":"array","items":{"type":"string","description":"Array of event types the subscription applies to."}}},"required":["EventSubscriptionId","Version"]}}}},"Links":{"$ref":"#/definitions/Links"},"Meta":{"$ref":"#/definitions/Meta"}}},"OBEventSubscription1Data":{"type":"object","required":["Version"],"properties":{"CallbackUrl":{"type":"string","format":"uri","description":"Callback URL for a TPP hosted service. Will be used by ASPSPs, in conjunction with the resource name, to construct a URL to send event notifications to."},"Version":{"$ref":"#/definitions/Version"},"EventTypes":{"type":"array","items":{"type":"string","description":"Array of event types the subscription applies to."}}}},"OBEventSubscriptionResponse1Data":{"type":"object","required":["EventSubscriptionId","Version"],"properties":{"EventSubscriptionId":{"type":"string","description":"Unique identification as assigned by the ASPSP to uniquely identify the callback URL resource.","minLength":1,"maxLength":40},"CallbackUrl":{"type":"string","format":"uri","description":"Callback URL for a TPP hosted service. Will be used by ASPSPs, in conjunction with the resource name, to construct a URL to send event notifications to."},"Version":{"$ref":"#/definitions/Version"},"EventTypes":{"type":"array","items":{"type":"string","description":"Array of event types the subscription applies to."}}}},"Version":{"type":"string","minLength":1,"maxLength":10,"description":"Version for the event notification."}},"parameters":{"OBEventSubscription1Param":{"in":"body","name":"OBEventSubscription1Param","description":"Default","required":true,"schema":{"$ref":"#/definitions/OBEventSubscription1"}},"EventSubscriptionId":{"name":"EventSubscriptionId","in":"path","description":"EventSubscriptionId","required":true,"type":"string"},"OBEventSubscriptionResponse1Param":{"in":"body","name":"OBEventSubscriptionResponse1Param","description":"Default","required":true,"schema":{"$ref":"#/definitions/OBEventSubscriptionResponse1"}},"Authorization":{"name":"Authorization","in":"header","description":"An Authorisation Token as per https://tools.ietf.org/html/rfc6750","required":true,"type":"string"},"x-customer-user-agent":{"name":"x-customer-user-agent","in":"header","description":"Indicates the user-agent that the PSU is using.","required":false,"type":"string"},"x-fapi-customer-ip-address":{"name":"x-fapi-customer-ip-address","in":"header","description":"The PSU's IP address if the PSU is currently logged in with the TPP.","required":false,"type":"string"},"x-fapi-auth-date":{"name":"x-fapi-auth-date","in":"header","description":"The time when the PSU last logged in with the TPP.\nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:\nSun, 10 Sep 2017 19:43:31 UTC","required":false,"type":"string","pattern":"^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"},"x-fapi-interaction-id":{"name":"x-fapi-interaction-id","in":"header","description":"An RFC4122 UID used as a correlation id.","required":false,"type":"string"},"x-idempotency-key":{"name":"x-idempotency-key","in":"header","description":"Every request will be processed only once per x-idempotency-key.  The\nIdempotency Key will be valid for 24 hours.\n","required":true,"type":"string","maxLength":40,"pattern":"^(?!\\s)(.*)(\\S)$"},"x-jws-signature":{"name":"x-jws-signature","in":"header","description":"A detached JWS signature of the body of the payload.","required":true,"type":"string"}},"responses":{"200EventSubscriptionsEventSubscriptionIdChanged":{"description":"Event Subscription Changed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."},"x-jws-signature":{"type":"string","description":"Header containing a detached JWS signature of the body of the payload.\n"}},"schema":{"$ref":"#/definitions/OBEventSubscriptionResponse1"}},"200EventSubscriptionsRead":{"description":"Event Subscription Read","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."},"x-jws-signature":{"type":"string","description":"Header containing a detached JWS signature of the body of the payload.\n"}},"schema":{"$ref":"#/definitions/OBEventSubscriptionsResponse1"}},"201EventSubscriptionsCreated":{"description":"Event Subscription Created","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."},"x-jws-signature":{"type":"string","description":"Header containing a detached JWS signature of the body of the payload.\n"}},"schema":{"$ref":"#/definitions/OBEventSubscriptionResponse1"}},"204EventSubscriptionsEventSubscriptionIdDeleted":{"description":"Event Subscription Deleted","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"400Error":{"description":"Bad request","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"401Error":{"description":"Unauthorized","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"403Error":{"description":"Forbidden","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}},"404Error":{"description":"Not found","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"405Error":{"description":"Method Not Allowed","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"406Error":{"description":"Not Acceptable","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"415Error":{"description":"Unsupported Media Type","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"429Error":{"description":"Too Many Requests","headers":{"Retry-After":{"type":"integer","description":"Number in seconds to wait"},"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}}},"500Error":{"description":"Internal Server Error","headers":{"x-fapi-interaction-id":{"type":"string","description":"An RFC4122 UID used as a correlation id."}},"schema":{"$ref":"#/definitions/OBErrorResponse1"}}}}