{
  "openapi": "3.0.1",
  "info": {
    "title": "Triodos Auth service",
    "description": "Triodos Auth service",
    "termsOfService": "https://www.triodos.com",
    "contact": {
      "name": "Triodos Support",
      "url": "https://www.triodos.com",
      "email": "info@triodos.com"
    },
    "license": {
      "name": "Creative Commons Attribution 4.0 International Public License",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "description": "OpenID Connect 1.0 specifications",
    "url": "https://openid.net/connect/"
  },
  "servers": [
    {
      "url": "https://xs2a-sandbox.triodos.com/auth",
      "description": "Triodos Auth Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Client Registration Endpoint",
      "description": "The Client Registration Endpoint performs registration of the client.",
      "externalDocs": {
        "description": "OpenID Connect Dynamic Client Registration 1.0 - Chapter 3 Client Registration Endpoint",
        "url": "https://openid.net/specs/openid-connect-registration-1_0.html"
      }
    },
    {
      "name": "Configuration Endpoint",
      "description": "The Configuration Endpoint provides configuration information about this OpenID service.",
      "externalDocs": {
        "description": "OpenID Connect Dynamic Client Registration 1.0 - Chapter 4 Client Configuration Endpoint",
        "url": "https://openid.net/specs/openid-connect-registration-1_0.html"
      }
    },
    {
      "name": "Authorization Endpoint",
      "description": "The Authorization Endpoint performs authentication of the end-user.",
      "externalDocs": {
        "description": "OpenID Connect Core 1.0 - Chapter 3.1.2 Authorization Endpoint",
        "url": "https://openid.net/specs/openid-connect-core-1_0.html"
      }
    },
    {
      "name": "Token Endpoint",
      "description": "The Token Endpoint provides and revokes access tokens and refresh tokens.",
      "externalDocs": {
        "description": "OpenID Connect Core 1.0 - Chapter 3.1.3 Token Endpoint",
        "url": "https://openid.net/specs/openid-connect-core-1_0.html"
      }
    },
    {
      "name": "UserInfo Endpoint",
      "description": "The UserInfo Endpoint provides information about the authenticated end-user.",
      "externalDocs": {
        "description": "OpenID Connect Core 1.0 - Chapter 5.3 UserInfo Endpoint",
        "url": "https://openid.net/specs/openid-connect-core-1_0.html"
      }
    }
  ],
  "paths": {
    "/{tenant}/v1/auth": {
      "get": {
        "tags": [
          "Authorization Endpoint"
        ],
        "summary": "Authorize end-user",
        "description": "The Authorization Endpoint performs Authentication of the End-User. This is done by sending the User Agent to the Authorization Server's Authorization Endpoint for Authentication and Authorization, using request parameters defined by OAuth 2.0 and additional parameters and parameter values defined by OpenID Connect.",
        "operationId": "authorizeGet",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Branch of the request.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "uk",
                "nl",
                "be_fr",
                "be_nl"
              ]
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Not supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_uri",
            "in": "query",
            "description": "Not supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registration",
            "in": "query",
            "description": "Not supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "Always set to \"code\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "OAuth 2.0 Client Identifier valid at the Authorization Server.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of RFC3986 (Simple String Comparison). When using this flow, the Redirection URI SHOULD use the https scheme; however, it MAY use the http scheme, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection URIs in this case. The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "OpenID Connect requests MUST contain the openid scope value. Scope values used that are not understood by an implementation SHOULD be ignored. See OpenID Connect Core 1.0 - Sections 5.4 and 11 for additional scope values defined by this specification.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "types": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "OPENID",
                      "OFFLINE_ACCESS",
                      "ACCESS_ACCOUNTS",
                      "EXECUTE_PAYMENTS",
                      "CANCEL_PAYMENTS",
                      "CONFIRMATION_OF_FUNDS"
                    ]
                  }
                },
                "applicationValue": {
                  "type": "string"
                },
                "applicationType": {
                  "type": "string",
                  "enum": [
                    "OPENID",
                    "OFFLINE_ACCESS",
                    "ACCESS_ACCOUNTS",
                    "EXECUTE_PAYMENTS",
                    "CANCEL_PAYMENTS",
                    "CONFIRMATION_OF_FUNDS"
                  ]
                }
              }
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Opaque value used to maintain state between the request and the callback. Typically, Cross-Site Request Forgery (CSRF, XSRF) mitigation is done by cryptographically binding the value of this parameter with a browser cookie.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "String value used to associate a Client session with an ID Token, and to mitigate replay attacks. The value is passed through unmodified from the Authentication Request to the ID Token. Sufficient entropy MUST be present in the nonce values used to prevent attackers from guessing values. For implementation notes, see Section 15.5.2.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_mode",
            "in": "query",
            "description": "Informs the Authorization Server of the mechanism to be used for returning parameters from the Authorization Endpoint. This use of this parameter is NOT RECOMMENDED when the Response Mode that would be requested is the default mode specified for the Response Type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prompt",
            "in": "query",
            "description": "Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_age",
            "in": "query",
            "description": "Maximum Authentication Age. Specifies the allowable elapsed time in seconds since the last time the End-User was actively authenticated by the OP. If the elapsed time is greater than this value, the OP MUST attempt to actively re-authenticate the End-User. (The max_age request parameter corresponds to the OpenID 2.0 PAPE max_auth_age request parameter.) When max_age is used, the ID Token returned MUST include an auth_time Claim Value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "description": "Code challenge, see RFC7636 for more information.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "description": "Always set to \"S256\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_token_hint",
            "in": "query",
            "description": "ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response; otherwise, it returns an error. When possible, an id_token_hint SHOULD be present when prompt=none is used and an invalid_request error MAY be returned if it is not; however, the server SHOULD respond successfully when possible, even if it is not present. The Authorization Server need not be listed as an audience of the ID Token when it is used as an id_token_hint value. If the ID Token received by the RP from the OP is encrypted, to use it as an id_token_hint, the Client MUST decrypt the signed ID Token contained within the encrypted ID Token. The Client MAY re-encrypt the signed ID token to the Authentication Server using a key that enables the server to decrypt the ID Token, and use the re-encrypted ID token as the id_token_hint value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "An Authentication Response is an OAuth 2.0 Authorization Response message returned from the OP's Authorization Endpoint in response to the Authorization Request message sent by the RP."
          },
          "400": {
            "description": "Invalid client id, TPP with client id not found, TPP with client id not found, invalid redirect uri, unregistered redirect_uri, invalid subject in id_token_hint, invalid_request, consent_required, unsupported_response_type, request_not_supported, request_uri_not_supported, registration_not_supported or invalid_scope"
          }
        }
      },
      "post": {
        "tags": [
          "Authorization Endpoint"
        ],
        "summary": "Authorize end-user",
        "description": "The Authorization Endpoint performs Authentication of the End-User. This is done by sending the User Agent to the Authorization Server's Authorization Endpoint for Authentication and Authorization, using request parameters defined by OAuth 2.0 and additional parameters and parameter values defined by OpenID Connect.",
        "operationId": "authorizePost",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Branch of the request.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "uk",
                "nl",
                "be_fr",
                "be_nl"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "required": [
                  "client_id",
                  "code_challenge",
                  "code_challenge_method",
                  "redirect_uri",
                  "response_type",
                  "scope"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "type": "string",
                    "description": "Not supported."
                  },
                  "request_uri": {
                    "type": "string",
                    "description": "Not supported."
                  },
                  "registration": {
                    "type": "string",
                    "description": "Not supported."
                  },
                  "response_type": {
                    "type": "string",
                    "description": "Always set to \"code\"."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OAuth 2.0 Client Identifier valid at the Authorization Server."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of RFC3986 (Simple String Comparison). When using this flow, the Redirection URI SHOULD use the https scheme; however, it MAY use the http scheme, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection URIs in this case. The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application."
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "types": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "OPENID",
                            "OFFLINE_ACCESS",
                            "ACCESS_ACCOUNTS",
                            "EXECUTE_PAYMENTS",
                            "CANCEL_PAYMENTS",
                            "CONFIRMATION_OF_FUNDS"
                          ]
                        }
                      },
                      "applicationValue": {
                        "type": "string"
                      },
                      "applicationType": {
                        "type": "string",
                        "enum": [
                          "OPENID",
                          "OFFLINE_ACCESS",
                          "ACCESS_ACCOUNTS",
                          "EXECUTE_PAYMENTS",
                          "CANCEL_PAYMENTS",
                          "CONFIRMATION_OF_FUNDS"
                        ]
                      }
                    }
                  },
                  "state": {
                    "type": "string",
                    "description": "Opaque value used to maintain state between the request and the callback. Typically, Cross-Site Request Forgery (CSRF, XSRF) mitigation is done by cryptographically binding the value of this parameter with a browser cookie."
                  },
                  "nonce": {
                    "type": "string",
                    "description": "String value used to associate a Client session with an ID Token, and to mitigate replay attacks. The value is passed through unmodified from the Authentication Request to the ID Token. Sufficient entropy MUST be present in the nonce values used to prevent attackers from guessing values. For implementation notes, see Section 15.5.2."
                  },
                  "response_mode": {
                    "type": "string",
                    "description": "Informs the Authorization Server of the mechanism to be used for returning parameters from the Authorization Endpoint. This use of this parameter is NOT RECOMMENDED when the Response Mode that would be requested is the default mode specified for the Response Type."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent."
                  },
                  "max_age": {
                    "type": "string",
                    "description": "Maximum Authentication Age. Specifies the allowable elapsed time in seconds since the last time the End-User was actively authenticated by the OP. If the elapsed time is greater than this value, the OP MUST attempt to actively re-authenticate the End-User. (The max_age request parameter corresponds to the OpenID 2.0 PAPE max_auth_age request parameter.) When max_age is used, the ID Token returned MUST include an auth_time Claim Value."
                  },
                  "code_challenge": {
                    "type": "string",
                    "description": "Code challenge, see RFC7636 for more information."
                  },
                  "code_challenge_method": {
                    "type": "string",
                    "description": "Always set to \"S256\"."
                  },
                  "id_token_hint": {
                    "type": "string",
                    "description": "ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client. If the End-User identified by the ID Token is logged in or is logged in by the request, then the Authorization Server returns a positive response; otherwise, it returns an error. When possible, an id_token_hint SHOULD be present when prompt=none is used and an invalid_request error MAY be returned if it is not; however, the server SHOULD respond successfully when possible, even if it is not present. The Authorization Server need not be listed as an audience of the ID Token when it is used as an id_token_hint value. If the ID Token received by the RP from the OP is encrypted, to use it as an id_token_hint, the Client MUST decrypt the signed ID Token contained within the encrypted ID Token. The Client MAY re-encrypt the signed ID token to the Authentication Server using a key that enables the server to decrypt the ID Token, and use the re-encrypted ID token as the id_token_hint value."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "302": {
            "description": "An Authentication Response is an OAuth 2.0 Authorization Response message returned from the OP's Authorization Endpoint in response to the Authorization Request message sent by the RP."
          },
          "400": {
            "description": "Invalid client id, TPP with client id not found, TPP with client id not found, invalid redirect uri, unregistered redirect_uri, invalid subject in id_token_hint, invalid_request, consent_required, unsupported_response_type, request_not_supported, request_uri_not_supported, registration_not_supported or invalid_scope"
          }
        }
      }
    },
    "/{tenant}/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "Configuration Endpoint"
        ],
        "summary": "Get configuration",
        "description": "The Configuration Endpoint allows the OpenID Provider's configuration information to be retrieved.",
        "operationId": "configuration",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Branch of the request.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "uk",
                "nl",
                "be_fr",
                "be_nl"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The response is a set of Claims about the OpenID Provider's configuration, including all necessary endpoints and public key location information. Contains a set of Claims as its members that are a subset of the Metadata values defined in OpenID Connect Discovery 1.0 - Section 3. Other Claims MAY also be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issuer": {
                      "type": "string"
                    },
                    "authorization_endpoint": {
                      "type": "string"
                    },
                    "token_endpoint": {
                      "type": "string"
                    },
                    "userinfo_endpoint": {
                      "type": "string"
                    },
                    "revocation_endpoint": {
                      "type": "string"
                    },
                    "registration_endpoint": {
                      "type": "string"
                    },
                    "jwks_uri": {
                      "type": "string"
                    },
                    "request_parameter_supported": {
                      "type": "boolean"
                    },
                    "request_uri_parameter_supported": {
                      "type": "boolean"
                    },
                    "claims_parameter_supported": {
                      "type": "boolean"
                    },
                    "require_request_uri_registration": {
                      "type": "boolean"
                    },
                    "mutual_tls_sender_constrained_access_tokens": {
                      "type": "boolean"
                    },
                    "response_types_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "response_modes_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "display_values_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subject_types_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scopes_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "claims_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "claim_types_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "grant_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "token_endpoint_auth_methods_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "token_endpoint_auth_signing_alg_values_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "revocation_endpoint_auth_methods_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "revocation_endpoint_auth_signing_alg_values_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "code_challenge_methods_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "id_token_signing_alg_values_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "userinfo_signing_alg_values_supported": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{tenant}/v1/registration": {
      "post": {
        "tags": [
          "Client Registration Endpoint"
        ],
        "summary": "Register client",
        "description": "The Client Registration Endpoint is an OAuth 2.0 Protected Resource through which a new Client registration can be requested. The OpenID Provider requires an Initial Access Token that is provisioned in the service the client wants to access, to restrict registration requests to only authorized Clients or developers.",
        "operationId": "authorizePost_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Branch of the request.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "uk",
                "nl",
                "be_fr",
                "be_nl"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "required": [
                  "redirect_uris"
                ],
                "type": "object",
                "properties": {
                  "sector_identifier_uri": {
                    "type": "string",
                    "description": "This parameter defines the sector identifier URI."
                  },
                  "redirect_uris": {
                    "type": "array",
                    "description": "This parameter defines the used redirect URIs.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upon successful registration, the Client Registration Endpoint returns the newly-created Client Identifier and a Client Secret, along with all registered Metadata about this Client, including any fields provisioned by the Authorization Server itself. The Authorization Server MAY reject or replace any of the Client's requested field values and substitute them with suitable values. If this happens, the Authorization Server MUST include these fields in the response to the Client. An Authorization Server MAY ignore values provided by the client, and MUST ignore any fields sent by the Client that it does not understand.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "scope": {
                          "type": "array",
                          "properties": {
                            "empty": {
                              "type": "boolean"
                            }
                          },
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "responseTypes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "array",
                            "properties": {
                              "empty": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "grantTypes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string"
                              },
                              "scopeRequirementInTokenRequest": {
                                "type": "string",
                                "enum": [
                                  "REQUIRED",
                                  "OPTIONAL",
                                  "NOT_ALLOWED"
                                ]
                              },
                              "requestParameterNames": {
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "nameEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "logoURIEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "policyURIEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "signedJWKSetURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "requestObjectURIs": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "requestObjectJWSAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "requestObjectJWEAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "requestObjectJWEEnc": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "softwareID": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "softwareVersion": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "softwareStatement": {
                          "type": "object",
                          "properties": {
                            "payload": {
                              "type": "object",
                              "properties": {
                                "origin": {
                                  "type": "string",
                                  "enum": [
                                    "JSON",
                                    "STRING",
                                    "BYTE_ARRAY",
                                    "BASE64URL",
                                    "JWS_OBJECT",
                                    "SIGNED_JWT"
                                  ]
                                }
                              }
                            },
                            "parsedParts": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "header": {
                              "type": "object",
                              "properties": {
                                "customParams": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "object"
                                  }
                                },
                                "parsedBase64URL": {
                                  "type": "object"
                                },
                                "jwk": {
                                  "type": "object",
                                  "properties": {
                                    "keyStore": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "provider": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "private": {
                                      "type": "boolean"
                                    },
                                    "algorithm": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "requirement": {
                                          "type": "string",
                                          "enum": [
                                            "REQUIRED",
                                            "RECOMMENDED",
                                            "OPTIONAL"
                                          ]
                                        }
                                      }
                                    },
                                    "keyType": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        },
                                        "requirement": {
                                          "type": "string",
                                          "enum": [
                                            "REQUIRED",
                                            "RECOMMENDED",
                                            "OPTIONAL"
                                          ]
                                        }
                                      }
                                    },
                                    "keyID": {
                                      "type": "string"
                                    },
                                    "keyUse": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "keyOperations": {
                                      "uniqueItems": true,
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "sign",
                                          "verify",
                                          "encrypt",
                                          "decrypt",
                                          "wrapKey",
                                          "unwrapKey",
                                          "deriveKey",
                                          "deriveBits"
                                        ]
                                      }
                                    },
                                    "parsedX509CertChain": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string"
                                          },
                                          "extendedKeyUsage": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "subjectAlternativeNames": {
                                            "type": "array",
                                            "items": {
                                              "type": "array",
                                              "items": {
                                                "type": "object"
                                              }
                                            }
                                          },
                                          "issuerAlternativeNames": {
                                            "type": "array",
                                            "items": {
                                              "type": "array",
                                              "items": {
                                                "type": "object"
                                              }
                                            }
                                          },
                                          "sigAlgName": {
                                            "type": "string"
                                          },
                                          "sigAlgParams": {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "format": "byte"
                                            }
                                          },
                                          "tbscertificate": {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "format": "byte"
                                            }
                                          },
                                          "issuerDN": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "subjectDN": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "sigAlgOID": {
                                            "type": "string"
                                          },
                                          "issuerUniqueID": {
                                            "type": "array",
                                            "items": {
                                              "type": "boolean"
                                            }
                                          },
                                          "subjectUniqueID": {
                                            "type": "array",
                                            "items": {
                                              "type": "boolean"
                                            }
                                          },
                                          "signature": {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "format": "byte"
                                            }
                                          },
                                          "basicConstraints": {
                                            "type": "integer",
                                            "format": "int32"
                                          },
                                          "issuerX500Principal": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string"
                                              },
                                              "encoded": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string",
                                                  "format": "byte"
                                                }
                                              }
                                            }
                                          },
                                          "subjectX500Principal": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string"
                                              },
                                              "encoded": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string",
                                                  "format": "byte"
                                                }
                                              }
                                            }
                                          },
                                          "version": {
                                            "type": "integer",
                                            "format": "int32"
                                          },
                                          "serialNumber": {
                                            "type": "integer"
                                          },
                                          "notAfter": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "notBefore": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "keyUsage": {
                                            "type": "array",
                                            "items": {
                                              "type": "boolean"
                                            }
                                          },
                                          "criticalExtensionOIDs": {
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "nonCriticalExtensionOIDs": {
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "encoded": {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "format": "byte"
                                            }
                                          },
                                          "publicKey": {
                                            "type": "object",
                                            "properties": {
                                              "encoded": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string",
                                                  "format": "byte"
                                                }
                                              },
                                              "format": {
                                                "type": "string"
                                              },
                                              "algorithm": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "keyRevocation": {
                                      "type": "object",
                                      "properties": {
                                        "reason": {
                                          "type": "object",
                                          "properties": {
                                            "value": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "revocationTime": {
                                          "type": "string",
                                          "format": "date-time"
                                        }
                                      }
                                    },
                                    "requiredParams": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "type": "object"
                                      }
                                    },
                                    "x509CertURL": {
                                      "type": "string",
                                      "format": "uri"
                                    },
                                    "x509CertThumbprint": {
                                      "type": "object"
                                    },
                                    "x509CertSHA256Thumbprint": {
                                      "type": "object"
                                    },
                                    "x509CertChain": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    },
                                    "expirationTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "notBeforeTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "issueTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "algorithm": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "requirement": {
                                      "type": "string",
                                      "enum": [
                                        "REQUIRED",
                                        "RECOMMENDED",
                                        "OPTIONAL"
                                      ]
                                    }
                                  }
                                },
                                "base64URLEncodePayload": {
                                  "type": "boolean"
                                },
                                "includedParams": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "keyID": {
                                  "type": "string"
                                },
                                "jwkurl": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "x509CertURL": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "x509CertThumbprint": {
                                  "type": "object"
                                },
                                "x509CertSHA256Thumbprint": {
                                  "type": "object"
                                },
                                "x509CertChain": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "criticalParams": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "contentType": {
                                  "type": "string"
                                }
                              }
                            },
                            "signature": {
                              "type": "object"
                            },
                            "state": {
                              "type": "string",
                              "enum": [
                                "UNSIGNED",
                                "SIGNED",
                                "VERIFIED"
                              ]
                            },
                            "jwtclaimsSet": {
                              "type": "object",
                              "properties": {
                                "claims": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "object"
                                  }
                                },
                                "subject": {
                                  "type": "string"
                                },
                                "issuer": {
                                  "type": "string"
                                },
                                "audience": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "expirationTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "notBeforeTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "issueTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "jwtid": {
                                  "type": "string"
                                }
                              }
                            },
                            "parsedString": {
                              "type": "string"
                            },
                            "signingInput": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "byte"
                              }
                            }
                          }
                        },
                        "backChannelTokenDeliveryMode": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "backChannelClientNotificationEndpoint": {
                          "type": "string",
                          "format": "uri"
                        },
                        "backChannelAuthRequestJWSAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "clientRegistrationTypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "organizationName": {
                          "type": "string"
                        },
                        "customFields": {
                          "type": "object",
                          "properties": {
                            "empty": {
                              "type": "boolean"
                            }
                          },
                          "additionalProperties": {
                            "type": "object"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "uri": {
                          "type": "string",
                          "format": "uri"
                        },
                        "redirectionURIs": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "emailContacts": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "urientries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "termsOfServiceURIEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "tokenEndpointAuthJWSAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "tokenEndpointAuthMethod": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "tlsclientCertificateBoundAccessTokens": {
                          "type": "boolean"
                        },
                        "tlsclientAuthSubjectDN": {
                          "type": "string"
                        },
                        "tlsclientAuthSanDNS": {
                          "type": "string"
                        },
                        "tlsclientAuthSanURI": {
                          "type": "string"
                        },
                        "tlsclientAuthSanIP": {
                          "type": "string"
                        },
                        "tlsclientAuthSanEmail": {
                          "type": "string"
                        },
                        "dpoPBoundAccessTokens": {
                          "type": "boolean"
                        },
                        "authorizationJWSAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "authorizationJWEAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "authorizationJWEEnc": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "authorizationDetailsTypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        },
                        "logoURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "policyURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "termsOfServiceURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "jwksetURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "jwkset": {
                          "type": "object",
                          "properties": {
                            "keys": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "keyStore": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "provider": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "private": {
                                    "type": "boolean"
                                  },
                                  "algorithm": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "requirement": {
                                        "type": "string",
                                        "enum": [
                                          "REQUIRED",
                                          "RECOMMENDED",
                                          "OPTIONAL"
                                        ]
                                      }
                                    }
                                  },
                                  "keyType": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "string"
                                      },
                                      "requirement": {
                                        "type": "string",
                                        "enum": [
                                          "REQUIRED",
                                          "RECOMMENDED",
                                          "OPTIONAL"
                                        ]
                                      }
                                    }
                                  },
                                  "keyID": {
                                    "type": "string"
                                  },
                                  "keyUse": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "keyOperations": {
                                    "uniqueItems": true,
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "sign",
                                        "verify",
                                        "encrypt",
                                        "decrypt",
                                        "wrapKey",
                                        "unwrapKey",
                                        "deriveKey",
                                        "deriveBits"
                                      ]
                                    }
                                  },
                                  "parsedX509CertChain": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "extendedKeyUsage": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "subjectAlternativeNames": {
                                          "type": "array",
                                          "items": {
                                            "type": "array",
                                            "items": {
                                              "type": "object"
                                            }
                                          }
                                        },
                                        "issuerAlternativeNames": {
                                          "type": "array",
                                          "items": {
                                            "type": "array",
                                            "items": {
                                              "type": "object"
                                            }
                                          }
                                        },
                                        "sigAlgName": {
                                          "type": "string"
                                        },
                                        "sigAlgParams": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "format": "byte"
                                          }
                                        },
                                        "tbscertificate": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "format": "byte"
                                          }
                                        },
                                        "issuerDN": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "subjectDN": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "sigAlgOID": {
                                          "type": "string"
                                        },
                                        "issuerUniqueID": {
                                          "type": "array",
                                          "items": {
                                            "type": "boolean"
                                          }
                                        },
                                        "subjectUniqueID": {
                                          "type": "array",
                                          "items": {
                                            "type": "boolean"
                                          }
                                        },
                                        "signature": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "format": "byte"
                                          }
                                        },
                                        "basicConstraints": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "issuerX500Principal": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "encoded": {
                                              "type": "array",
                                              "items": {
                                                "type": "string",
                                                "format": "byte"
                                              }
                                            }
                                          }
                                        },
                                        "subjectX500Principal": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "encoded": {
                                              "type": "array",
                                              "items": {
                                                "type": "string",
                                                "format": "byte"
                                              }
                                            }
                                          }
                                        },
                                        "version": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "serialNumber": {
                                          "type": "integer"
                                        },
                                        "notAfter": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "notBefore": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "keyUsage": {
                                          "type": "array",
                                          "items": {
                                            "type": "boolean"
                                          }
                                        },
                                        "criticalExtensionOIDs": {
                                          "uniqueItems": true,
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "nonCriticalExtensionOIDs": {
                                          "uniqueItems": true,
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "encoded": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "format": "byte"
                                          }
                                        },
                                        "publicKey": {
                                          "type": "object",
                                          "properties": {
                                            "encoded": {
                                              "type": "array",
                                              "items": {
                                                "type": "string",
                                                "format": "byte"
                                              }
                                            },
                                            "format": {
                                              "type": "string"
                                            },
                                            "algorithm": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "keyRevocation": {
                                    "type": "object",
                                    "properties": {
                                      "reason": {
                                        "type": "object",
                                        "properties": {
                                          "value": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "revocationTime": {
                                        "type": "string",
                                        "format": "date-time"
                                      }
                                    }
                                  },
                                  "requiredParams": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "object"
                                    }
                                  },
                                  "x509CertURL": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "x509CertThumbprint": {
                                    "type": "object"
                                  },
                                  "x509CertSHA256Thumbprint": {
                                    "type": "object"
                                  },
                                  "x509CertChain": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "expirationTime": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "notBeforeTime": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "issueTime": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              }
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "additionalMembers": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object"
                              }
                            }
                          }
                        },
                        "supportsBackChannelUserCodeParam": {
                          "type": "boolean",
                          "writeOnly": true
                        },
                        "redirectionURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "redirectionURIStrings": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "mutualTLSSenderConstrainedAccessTokens": {
                          "type": "boolean"
                        }
                      }
                    },
                    "secret": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "expirationDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "sha256": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "byte"
                          }
                        },
                        "valueBytes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "byte"
                          }
                        }
                      }
                    },
                    "registrationURI": {
                      "type": "string",
                      "format": "uri"
                    },
                    "oidcmetadata": {
                      "type": "object",
                      "properties": {
                        "scope": {
                          "type": "array",
                          "properties": {
                            "empty": {
                              "type": "boolean"
                            }
                          },
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "responseTypes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "array",
                            "properties": {
                              "empty": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "grantTypes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string"
                              },
                              "scopeRequirementInTokenRequest": {
                                "type": "string",
                                "enum": [
                                  "REQUIRED",
                                  "OPTIONAL",
                                  "NOT_ALLOWED"
                                ]
                              },
                              "requestParameterNames": {
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "nameEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "logoURIEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "policyURIEntries": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "signedJWKSetURI": {
                          "type": "string",
                          "format": "uri"
                        },
                        "requestObjectURIs": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "requestObjectJWSAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "requestObjectJWEAlg": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "requestObjectJWEEnc": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "requirement": {
                              "type": "string",
                              "enum": [
                                "REQUIRED",
                                "RECOMMENDED",
                                "OPTIONAL"
                              ]
                            }
                          }
                        },
                        "softwareID": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "softwareVersion": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "softwareStatement": {
                          "type": "object",
                          "properties": {
                            "payload": {
                              "type": "object",
                              "properties": {
                                "origin": {
                                  "type": "string",
                                  "enum": [
                                    "JSON",
                                    "STRING",
                                    "BYTE_ARRAY",
                                    "BASE64URL",
                                    "JWS_OBJECT",
                                    "SIGNED_JWT"
                                  ]
                                }
                              }
                            },
                            "parsedParts": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "header": {
                              "type": "object",
                              "properties": {
                                "customParams": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "object"
                                  }
                                },
                                "parsedBase64URL": {
                                  "type": "object"
                                },
                                "jwk": {
                                  "type": "object",
                                  "properties": {
                                    "keyStore": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "provider": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "private": {
                                      "type": "boolean"
                                    },
                                    "algorithm": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "requirement": {
                                          "type": "string",
                                          "enum": [
                                            "REQUIRED",
                                            "RECOMMENDED",
                                            "OPTIONAL"
                                          ]
                                        }
                                      }
                                    },
                                    "keyType": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        },
                                        "requirement": {
                                          "type": "string",
                                          "enum": [
                                            "REQUIRED",
                                            "RECOMMENDED",
                                            "OPTIONAL"
                                          ]
                                        }
                                      }
                                    },
                                    "keyID": {
                                      "type": "string"
                                    },
                                    "keyUse": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "keyOperations": {
                                      "uniqueItems": true,
                                      "type": "array",
                                      "items": {
[...]
