{
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "in": "header",
      "name": "Authorization",
      "description": "The authorization request header should use the Bearer authorization scheme followed by the access token. Example: 'Bearer c2ebc483a02985ca9ae6f5f17ef3f454'",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "basePath": "/ach/v2",
  "host": "api.wellsfargo.com",
  "schemes": [
    "https"
  ],
  "info": {
    "title": "ACH Payments",
    "version": "v2",
    "description": "The Automated Clearing House (ACH) Payments API v2 allows you to initiate an ACH credit transaction to a creditor or beneficiary, initiate an ACH debit transaction to collect from a debtor or payer, and check an ACH credit or debit transaction status using a payment identification. ACH Payments API v2 validates your ACH credit or debit requests and sends accepted requests to Wells Fargo\u2019s ACH processing application or ACH processor for transaction execution. ",
    "x-termsAndConditions": "https://developer.wellsfargo.com/tac/",
    "contact": {
      "name": "Wells Fargo Gateway Support",
      "url": "http://developer.wellsfargo.com/contact-us",
      "email": "gateway@wellsfargo.com"
    }
  },
  "paths": {
    "/payments/credit-transfers": {
      "post": {
        "operationId": "post_credit_transfers",
        "description": "Pay a creditor or beneficiary using ACH credit.",
        "parameters": [
          {
            "$ref": "#/parameters/authorization_HEADER"
          },
          {
            "$ref": "#/parameters/content-type_HEADER"
          },
          {
            "$ref": "#/parameters/client-request-id_HEADER"
          },
          {
            "$ref": "#/parameters/gateway-entity-id_HEADER"
          },
          {
            "$ref": "#/parameters/ceo-company-id_HEADER"
          },
          {
            "$ref": "#/parameters/idempotency-key_HEADER"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credit_transfer_request_DEF"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "client-request-id": {
                "maxLength": 36,
                "minLength": 36,
                "type": "string",
                "description": "A value you generate to track each API call. A UUID value compliant with RFC 4122 is required. Echoed back in the response header."
              },
              "gateway-request-id": {
                "maxLength": 36,
                "minLength": 36,
                "type": "string",
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response."
              },
              "content-type": {
                "type": "string",
                "description": "Describes the data in the body of your request."
              },
              "date": {
                "example": "Mon, 27 Nov 2023 21:35:08 GMT",
                "type": "string",
                "description": "Response date time (GMT)"
              }
            },
            "schema": {
              "$ref": "#/definitions/credit_transfer_response_DEF"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "401": {
            "description": "Authentication Failed",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "403": {
            "description": "No authorization for the requested resource",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "404": {
            "description": "Requested resource cannot be found",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "405": {
            "description": "Requested method (e.g. GET/POST/PUT/DELETE) not available",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "408": {
            "description": "Request timed out",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "409": {
            "description": "Requests conflicts with another request",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "504": {
            "description": "Response timeout",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "520": {
            "description": "Unknown error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "default": {
            "description": "unexpected error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          }
        },
        "tags": [
          "credit-transfers"
        ],
        "x-scope": "ach_payments",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payments/direct-debits": {
      "post": {
        "operationId": "post_direct_debits",
        "description": "Collect from a debtor or payer using ACH debit.",
        "parameters": [
          {
            "$ref": "#/parameters/authorization_HEADER"
          },
          {
            "$ref": "#/parameters/content-type_HEADER"
          },
          {
            "$ref": "#/parameters/client-request-id_HEADER"
          },
          {
            "$ref": "#/parameters/gateway-entity-id_HEADER"
          },
          {
            "$ref": "#/parameters/ceo-company-id_HEADER"
          },
          {
            "$ref": "#/parameters/idempotency-key_HEADER"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/direct_debit_request_DEF"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "client-request-id": {
                "maxLength": 36,
                "minLength": 36,
                "type": "string",
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header."
              },
              "gateway-request-id": {
                "maxLength": 36,
                "minLength": 1,
                "type": "string",
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response."
              },
              "content-type": {
                "type": "string",
                "description": "The Content-Type header is used to indicate the media type of the resource. Requests must have the value application/json.Requests require an <<*application/json*>> value (Not applicable to <<*GET*>> requests).Indicates the media type of the request body. Requests must have the value application/json."
              },
              "date": {
                "example": "Mon, 27 Nov 2023 21:35:08 GMT",
                "maxLength": 35,
                "minLength": 1,
                "type": "string",
                "description": "Response date time (GMT)"
              }
            },
            "schema": {
              "$ref": "#/definitions/direct_debit_response_DEF"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "401": {
            "description": "Authentication Failed",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "403": {
            "description": "No authorization for the requested resource",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "404": {
            "description": "Requested resource cannot be found",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "405": {
            "description": "Requested method (e.g. GET/POST/PUT/DELETE) not available",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "408": {
            "description": "Request timed out",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "409": {
            "description": "Requests conflicts with another request",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "504": {
            "description": "Response timeout",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "520": {
            "description": "Unknown error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "default": {
            "description": "unexpected error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          }
        },
        "tags": [
          "direct-debits"
        ],
        "x-scope": "ach_payments",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/payments/{payment_id}": {
      "get": {
        "operationId": "get_payments_payment_id",
        "description": "Get status and other parameters of a transaction you successfully initiated at ACH v2.",
        "parameters": [
          {
            "$ref": "#/parameters/Authorization_HEADER"
          },
          {
            "$ref": "#/parameters/Content-Type_HEADER"
          },
          {
            "$ref": "#/parameters/client-request-id_HEADER"
          },
          {
            "$ref": "#/parameters/gateway-entity-id_HEADER"
          },
          {
            "in": "path",
            "maxLength": 35,
            "name": "payment_id",
            "minLength": 1,
            "type": "string",
            "description": "Wells Fargo\u2019s reference for the transaction",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK or Successful Response",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/retrieve_ach_payments_response_DEF"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "401": {
            "description": "Authentication Failed",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "403": {
            "description": "No authorization for the requested resource",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "404": {
            "description": "Requested resource cannot be found",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "405": {
            "description": "Requested method (e.g. GET/POST/PUT/DELETE) not available",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "408": {
            "description": "Request timed out",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "409": {
            "description": "Requests conflicts with another request",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "503": {
            "description": "Service Unavailable",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "504": {
            "description": "Response timeout",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "520": {
            "description": "Unknown error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          },
          "default": {
            "description": "unexpected error",
            "headers": {
              "client-request-id": {
                "description": "Value you generate to track each API call. A UUID value compliant with RFC 4122 is required. The value is echoed back in the response header.",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "A unique value generated by Wells Fargo Gateway to track the API request. It will be returned in the header of the response.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            }
          }
        },
        "tags": [
          "retrieve-ach-payments"
        ],
        "x-scope": "ach_payments",
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "parameters": {
    "authorization_HEADER": {
      "in": "header",
      "maxLength": 35,
      "name": "authorization",
      "minLength": 35,
      "type": "string",
      "description": "Access token\n\u201cBearer\u201d is the token type.",
      "required": true
    },
    "content-type_HEADER": {
      "in": "header",
      "name": "content-type",
      "type": "string",
      "description": "Media type",
      "required": true,
      "enum": [
        "application/json"
      ]
    },
    "client-request-id_HEADER": {
      "in": "header",
      "maxLength": 36,
      "name": "client-request-id",
      "minLength": 36,
      "type": "string",
      "description": "Your request identification in universally unique identifier version 4 (UUID v4) and variant RFC4122 format",
      "required": true
    },
    "gateway-entity-id_HEADER": {
      "in": "header",
      "maxLength": 22,
      "name": "gateway-entity-id",
      "minLength": 22,
      "type": "string",
      "description": "Wells Fargo Gateway entity identification\n\nWells Fargo generates your Gateway entity identification during your onboarding to our API services.",
      "required": true
    },
    "gateway-request-id_HEADER": {
      "in": "header",
      "maxLength": 36,
      "name": "gateway-request-id",
      "minLength": 1,
      "type": "string",
      "description": "Wells Fargo Gateway\u2019s identification, in universally unique identifier version 4 (UUID v4) and variant RFC4122 format, for your request",
      "required": true
    },
    "ceo-company-id_HEADER": {
      "in": "header",
      "maxLength": 36,
      "name": "ceo-company-id",
      "minLength": 1,
      "type": "string",
      "description": "Wells Fargo CEO company identification\n\nIf you\u2019re a Wells Fargo client, it\u2019s optional for you to provide your CEO company identification. If you\u2019re a third-party service provider, initiating request for a Wells Fargo client, provide the CEO company identification of the Wells Fargo client."
    },
    "Authorization_HEADER": {
      "in": "header",
      "maxLength": 35,
      "name": "Authorization",
      "minLength": 35,
      "type": "string",
      "description": "Access token\n\n\u201cBearer\u201d is the token type.\n",
      "required": true
    },
    "Content-Type_HEADER": {
      "name": "Content-Type",
      "description": "Media type",
      "in": "header",
      "type": "string",
      "required": true
    },
    "idempotency-key_HEADER": {
      "in": "header",
      "maxLength": 36,
      "name": "idempotency-key",
      "minLength": 36,
      "type": "string",
      "description": "Your idempotency identification in universally unique identifier version 4 (UUID v4) and variant RFC4122 format\n\nProvide a unique value for each Credit or Debit request allowing us to identify PROCESSED/ACCEPTED transactions within a 24-hour time frame. If an Idempotent transaction is identified, ACH v2 responds with the same payment_id each time so you may safely retry transactions."
    }
  },
  "definitions": {
    "credit_transfer_request_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "sec_code",
        "requested_execution_date",
        "debtor",
        "credit_transfer"
      ],
      "properties": {
        "sec_code": {
          "type": "string",
          "description": "Your transaction\u2019s standard entry class (SEC) code",
          "maxLength": 3,
          "enum": [
            "CCD",
            "PPD",
            "WEB"
          ]
        },
        "duplicate_check": {
          "maximum": 124,
          "type": "number",
          "description": "Customize your duplicate check experience by providing a specific value. If no value is provided, Wells Fargo will automatically check for duplicates by default against your ACH v2 transactions from the past 124 days."
        },
        "entry_description": {
          "maxLength": 10,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Transaction description \n\n\nTransaction receiver sees the entry_description on the account posting or bank statement. Typically, you provide the transaction purpose here, example, \u201cPayroll\u201d, \u201cPremium\u201d, etc."
        },
        "requested_execution_date": {
          "description": "Value date\n\n\nWells Fargo\u2019s payment application starts processing the transaction on the value date. You can provide a value date 60   days  in future from your transaction initiation date. Wells Fargo maps requested_execution_date\nto Nacha file \u201cEffective Entry Date\u201d field.",
          "type": "string",
          "format": "date",
          "pattern": "^([1-9][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
        },
        "debtor": {
          "$ref": "#/definitions/debtor_DEF"
        },
        "credit_transfer": {
          "$ref": "#/definitions/credit_transfer_DEF"
        }
      }
    },
    "debtor_DEF": {
      "description": "Debtor\u2019s information. A debtor is a Wells Fargo client, paying a creditor using ACH credit, from a Wells Fargo account.",
      "type": "object",
      "required": [
        "ach_company_id"
      ],
      "properties": {
        "ach_company_id": {
          "maxLength": 10,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 10,
          "type": "string",
          "description": "Debtor\u2019s Wells Fargo ACH Company identification\n\nDepending on your business organization, Wells Fargo creates one or many ACH company identifications for you. Wells Fargo associates each ACH company identification to one of your Wells Fargo accounts. For a successful ACH credit, Wells Fargo debits your account associated with the ach_company_id you provide."
        },
        "name": {
          "maxLength": 16,
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s name."
        }
      }
    },
    "credit_transfer_DEF": {
      "description": "Credit transfer transaction information.",
      "type": "object",
      "required": [
        "payment",
        "creditor"
      ],
      "properties": {
        "end_to_end_id": {
          "maxLength": 15,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s reference for the transaction\n\nIf you\u2019re a third-party service provider, initiating request for a Wells Fargo client, it could be your transaction reference as well.\nWells Fargo maps end_to_end_id to Nacha file individual ID positions; ACH origination report \u201crecipient ID\u201d field ; ACH webhook recipient_id parameter."
        },
        "payment": {
          "$ref": "#/definitions/payment_DEF"
        },
        "creditor": {
          "$ref": "#/definitions/creditor2_DEF"
        },
        "remittance_information": {
          "$ref": "#/definitions/remittance_information_DEF"
        }
      }
    },
    "payment_DEF": {
      "description": "Payment information.",
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "maxLength": 11,
          "pattern": "^\\d{1,8}\\.\\d{1,2}$|^\\d{1,8}$",
          "minLength": 1,
          "type": "string",
          "description": "Transaction amount in N.NN format   \nFor an amount less than 1, a leading 0 (e.g., 0.25) before the decimal is required. Decimals (e.g., .0 or .00) for a whole number are optional.   "
        },
        "currency": {
          "maxLength": 3,
          "pattern": "^([A-Z]{3,3})$",
          "minLength": 3,
          "type": "string",
          "description": "Transaction currency code in ISO 4217 alphabetic format"
        }
      }
    },
    "creditor2_DEF": {
      "description": "Creditor\u2019s information. A creditor is an entity a Wells Fargo client is paying, using ACH credit, from a Wells Fargo account. ",
      "type": "object",
      "required": [
        "name",
        "bank_account"
      ],
      "properties": {
        "name": {
          "maxLength": 22,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Creditor\u2019s name"
        },
        "bank_account": {
          "$ref": "#/definitions/bank_account_DEF"
        }
      }
    },
    "bank_account_DEF": {
      "description": "Bank account information.",
      "type": "object",
      "required": [
        "account_type",
        "account_number",
        "routing_number"
      ],
      "properties": {
        "account_type": {
          "description": "Creditor bank account type",
          "type": "string",
          "enum": [
            "CHECKING",
            "SAVINGS",
            "LOAN",
            "GL"
          ]
        },
        "currency": {
          "maxLength": 3,
          "pattern": "^([A-Z]{3,3})$",
          "minLength": 3,
          "type": "string",
          "description": "Creditor\u2019s account currency in ISO 4217 alphabetic format"
        },
        "country_code": {
          "maxLength": 2,
          "pattern": "^[A-Z]{2,2}$",
          "minLength": 2,
          "type": "string",
          "description": "Creditor\u2019s account country code in ISO 3166 format"
        },
        "account_number_type": {
          "description": "Creditor bank account type",
          "type": "string",
          "enum": [
            "OTHER"
          ]
        },
        "account_number": {
          "maxLength": 17,
          "pattern": "^[A-Za-z0-9]+",
          "minLength": 1,
          "type": "string",
          "description": "Creditor\u2019s account number"
        },
        "routing_number_type": {
          "description": "Creditor bank\u2019s routing number type",
          "type": "string"
        },
        "routing_number": {
          "maxLength": 9,
          "pattern": "^[A-Za-z0-9]+",
          "minLength": 1,
          "type": "string",
          "description": "Creditor bank\u2019s routing number"
        }
      }
    },
    "remittance_information_DEF": {
      "description": "Remittance information",
      "type": "object",
      "properties": {
        "unstructured_addenda": {
          "type": "array",
          "description": "Information\n\nNacha operating rules, for sec_code \u201cCCD\u201d or \u201cPPD\u201d, allow one addenda per  transaction. If you want to send an addenda, provide one string within the array. Each string in the array has a maximum length of 80.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "credit_transfer_response_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "payment_id",
        "status",
        "status_as_of"
      ],
      "properties": {
        "payment_id": {
          "description": "Wells Fargo\u2019s reference for the transaction",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "status": {
          "description": "Transaction status",
          "type": "string"
        },
        "status_as_of": {
          "description": "Transaction status date time in YYYY-MM-DDTHH:MM:SS.mmmZ format (GMT)",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        }
      }
    },
    "errors_DEF": {
      "description": "",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/error_DEF"
          }
        }
      }
    },
    "error_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "error_code",
        "description"
      ],
      "properties": {
        "error_code": {
          "example": "400-008",
          "maxLength": 8,
          "minLength": 7,
          "type": "string",
          "description": "The error code."
        },
        "description": {
          "example": "Missing required field in body",
          "maxLength": 100,
          "minLength": 1,
          "type": "string",
          "description": "Description of the error."
        },
        "field_name": {
          "type": "string",
          "description": "The field name where the error occurred.",
          "example": "payment_id"
        },
        "field_value": {
          "type": "string",
          "description": "The value submitted in the request.",
          "example": 123456789
        },
        "api_specification_url": {
          "type": "string",
          "description": "A link to the API specification.",
          "example": "https://developer.wellsfargo.com/#login"
        }
      }
    },
    "direct_debit_request_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "sec_code",
        "requested_execution_date",
        "creditor",
        "direct_debit"
      ],
      "properties": {
        "sec_code": {
          "type": "string",
          "description": "Your transaction\u2019s standard entry class (SEC) code",
          "enum": [
            "CCD",
            "PPD",
            "WEB",
            "TEL"
          ]
        },
        "duplicate_check": {
          "maximum": 124,
          "type": "number",
          "description": "Customize your duplicate check experience by providing a specific value. If no value is provided, Wells Fargo will automatically check for duplicates by default against your ACH v2 transactions from the past 124 days."
        },
        "entry_description": {
          "maxLength": 10,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Transaction description \n \nTransaction receiver sees the entry_description on the account posting or bank statement. Typically, you provide the transaction purpose here, example, \u201cPayroll\u201d, \u201cPremium\u201d, etc."
        },
        "requested_execution_date": {
          "description": "Value date",
          "type": "string",
          "format": "date",
          "pattern": "^([1-9][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
        },
        "creditor": {
          "$ref": "#/definitions/creditor_DEF"
        },
        "direct_debit": {
          "$ref": "#/definitions/direct_debit_DEF"
        }
      }
    },
    "creditor_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "ach_company_id"
      ],
      "properties": {
        "ach_company_id": {
          "maxLength": 10,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 10,
          "type": "string",
          "description": "Creditor\u2019s Wells Fargo ACH Company identification\n\nDepending on your business organization, Wells Fargo creates one or many ACH company identifications for you. Wells Fargo associates each ACH company identification to one of your Wells Fargo accounts. For a successful ACH credit, Wells Fargo debits your account associated with the ach_company_id you provide."
        },
        "name ": {
          "maxLength": 16,
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s name"
        }
      }
    },
    "direct_debit_DEF": {
      "description": "Direct debit transaction information.",
      "type": "object",
      "required": [
        "payment",
        "debtor"
      ],
      "properties": {
        "end_to_end_id": {
          "maxLength": 15,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Creditor\u2019s reference for the transaction\n\nIf you\u2019re a third-party service provider, initiating request for a Wells Fargo client, it could be your transaction reference as well.\nWells Fargo maps end_to_end_id to Nacha file individual ID positions; ACH origination report \u201crecipient ID\u201d field; ACH webhook recipient_id parameter."
        },
        "payment": {
          "$ref": "#/definitions/payment_DEF"
        },
        "debtor": {
          "$ref": "#/definitions/debtor2_DEF"
        },
        "remittance_information": {
          "$ref": "#/definitions/remittance_information_DEF"
        }
      }
    },
    "debtor2_DEF": {
      "description": "Represents the entity sending money as a result of the transaction. For a direct debit transaction, the entity your company is debiting is the debtor.",
      "type": "object",
      "required": [
        "name",
        "bank_account"
      ],
      "properties": {
        "name": {
          "maxLength": 22,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s name "
        },
        "bank_account": {
          "$ref": "#/definitions/bank_account_debit_DEF"
        }
      }
    },
    "bank_account_debit_DEF": {
      "description": "Debtor\u2019s bank account information",
      "type": "object",
      "required": [
        "account_type",
        "account_number",
        "routing_number"
      ],
      "properties": {
        "account_type": {
          "type": "string",
          "description": "Debtor bank account type",
          "enum": [
            "CHECKING",
            "SAVINGS",
            "LOAN",
            "GL"
          ]
        },
        "currency": {
          "type": "string",
          "description": "Debtor\u2019s account currency in ISO 4217 alphabetic format"
        },
        "country_code ": {
          "type": "string",
          "description": "Debtor\u2019s account country code in ISO 3166 format",
          "enum": [
            "US"
          ]
        },
        "account_number_type": {
          "type": "string",
          "description": "Debtor bank account type",
          "enum": [
            "OTHER"
          ]
        },
        "account_number": {
          "maxLength": 17,
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s account number"
        },
        "routing_number_type": {
          "type": "string",
          "description": "Debtor bank\u2019s routing number type",
          "enum": [
            "USABA"
          ]
        },
        "routing_number": {
          "maxLength": 9,
          "minLength": 9,
          "type": "string",
          "description": "Debtor bank\u2019s routing number"
        }
      }
    },
    "direct_debit_response_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "payment_id",
        "status",
        "status_as_of"
      ],
      "properties": {
        "payment_id": {
          "description": "Wells Fargo\u2019s reference for the transaction",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "status": {
          "description": "Transaction status",
          "type": "string"
        },
        "status_as_of": {
          "description": "Transaction status date time in YYYY-MM-DDTHH:MM:SS.mmmZ format (GMT)",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        }
      }
    },
    "retrieve_ach_payments_response_DEF": {
      "description": "",
      "type": "object",
      "required": [
        "payment_id",
        "status_datetime",
        "status",
        "transaction_type",
        "ach_file_id",
        "submitted_date",
        "sec_code",
        "payment"
      ],
      "properties": {
        "payment_id": {
          "maxLength": 35,
          "minLength": 1,
          "type": "string",
          "description": "Wells Fargo\u2019s reference for the transaction"
        },
        "status_datetime": {
          "maxLength": 35,
          "minLength": 1,
          "type": "string",
          "description": "Transaction status date time in YYYY-MM-DDTHH:MM:SS.mmmZ format (GMT)"
        },
        "status": {
          "maxLength": 35,
          "minLength": 1,
          "type": "string",
          "description": "Transaction status"
        },
        "transaction_type": {
          "type": "string",
          "description": "ACH transaction type",
          "enum": [
            "CREDIT",
            "DEBIT"
          ]
        },
        "ach_file_id": {
          "maxLength": 10,
          "minLength": 10,
          "type": "string",
          "description": "Your Wells Fargo ACH file identification\n\nYour ACH file identification identifies you as the ACH transaction originator. Wells Fargo populates the ACH file ID in the Nacha file company/batch control record."
        },
        "submitted_date": {
          "maxLength": 10,
          "pattern": "YYYY-MM-DD",
          "minLength": 1,
          "type": "string",
          "description": "Wells Fargo\u2019s transaction receipt date"
        },
        "sec_code": {
          "type": "string",
          "description": "Your transaction\u2019s standard entry class (SEC) code"
        },
        "entry_description": {
          "maxLength": 10,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Transaction description"
        },
        "requested_execution_date": {
          "description": "Value date format: YYYY-MM-DD ",
          "type": "string",
          "format": "date",
          "pattern": "^([1-9][0-9]{3})-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
        },
        "end_to_end_id": {
          "maxLength": 15,
          "pattern": "All ASC II Printable ^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Your reference for the transaction"
        },
        "trace_number": {
          "maxLength": 15,
          "pattern": "^[A-Za-z0-9]+",
          "minLength": 15,
          "type": "string",
          "description": "ACH trace number"
        },
        "is_prenote": {
          "type": "boolean",
          "description": "ACH prenote indicator"
        },
        "discretionary_data": {
          "maxLength": 2,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Recurring, single or standing authorization indicator"
        },
        "payment": {
          "$ref": "#/definitions/retrieve_ach_payments_DEF"
        },
        "debtor": {
          "$ref": "#/definitions/retrieve_ach_payments_debtor_DEF"
        },
        "creditor": {
          "$ref": "#/definitions/retrieve_ach_payments_creditor_DEF"
        },
        "remittance_information": {
          "$ref": "#/definitions/retrieve_ach_payments_remittance_DEF"
        }
      }
    },
    "retrieve_ach_payments_DEF": {
      "description": "Payment information.",
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "amount": {
          "maxLength": 11,
          "pattern": "^\\d{1,8}\\.\\d{1,2}$|^\\d{1,8}$",
          "minLength": 1,
          "type": "string",
          "description": "Amount of the payment being made."
        },
        "currency": {
          "maxLength": 3,
          "pattern": "^([A-Z]{3,3})$",
          "minLength": 3,
          "type": "string",
          "description": "The currency code for the payment, expressed using the ISO 4217 alpha 3 currency code."
        }
      }
    },
    "retrieve_ach_payments_debtor_DEF": {
      "description": "",
      "type": "object",
      "properties": {
        "ach_company_id": {
          "maxLength": 10,
          "minLength": 10,
          "type": "string",
          "description": "Debtor\u2019s Wells Fargo ACH Company identification"
        },
        "name": {
          "maxLength": 35,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s name."
        },
        "bank_account": {
          "$ref": "#/definitions/retrieve_ach_payments_bank_account_DEF"
        }
      }
    },
    "retrieve_ach_payments_bank_account_DEF": {
      "description": "Bank account information.",
      "type": "object",
      "properties": {
        "account_type": {
          "description": "Debtor bank account type",
          "type": "string",
          "enum": [
            "CHECKING",
            "SAVINGS",
            "LOAN",
            "GL"
          ]
        },
        "currency": {
          "maxLength": 3,
          "pattern": "^([A-Z]{3,3})$",
          "minLength": 3,
          "type": "string",
          "description": "Debtor\u2019s account currency in ISO 4217 alphabetic format"
        },
        "country_code": {
          "pattern": "^[A-Z]{2,2}$",
          "minLength": 2,
          "type": "string",
          "description": "Debtor\u2019s account country code in ISO 3166 format"
        },
        "account_number_type": {
          "description": "Debtor bank account type",
          "type": "string",
          "enum": [
            "IBAN",
            "OTHER"
          ]
        },
        "account_number": {
          "maxLength": 17,
          "pattern": "^[A-Za-z0-9]+",
          "minLength": 1,
          "type": "string",
          "description": "Debtor\u2019s account number "
        },
        "routing_number_type": {
          "description": "Debtor bank\u2019s routing number type",
          "type": "string",
          "enum": [
            "USABA"
          ]
        },
        "routing_number": {
          "maxLength": 9,
          "pattern": "^[A-Za-z0-9]+",
          "minLength": 1,
          "type": "string",
          "description": "Debtor bank\u2019s routing number"
        }
      }
    },
    "retrieve_ach_payments_creditor_DEF": {
      "description": "Creditor\u2019s information ",
      "type": "object",
      "properties": {
        "ach_company_id": {
          "maxLength": 10,
          "minLength": 10,
          "type": "string",
          "description": "Creditor\u2019s Wells Fargo ACH Company identification"
        },
        "name": {
          "maxLength": 35,
          "pattern": "^[\\x20-\\x7E]+",
          "minLength": 1,
          "type": "string",
          "description": "Creditor\u2019s name"
        },
        "bank_account": {
          "$ref": "#/definitions/retrieve_ach_payments_creditor_bank_account_DEF"
        }
      }
    },
    "retrieve_ach_payments_creditor_bank_account_DEF": {
      "description": "Creditor\u2019s bank account information",
      "type": "object",
      "properties": {
        "account_type": {
          "type": "string",
          "description": "Creditor bank account type\u202f "
        },
        "currency ": {
          "maxLength": 3,
          "minLength": 3,
          "type": "string",
          "description": "Creditor\u2019s account currency in ISO 4217 alphabetic format"
        },
        "country_code ": {
          "maxLength": 2,
          "minLength": 2,
          "type": "string",
          "description": "Creditor\u2019s account country code in ISO 3166 format"
        },
        "account_number_type": {
          "type": "string",
          "description": "Creditor bank account type",
          "enum": [
            "OTHER"
          ]
        },
        "account_number ": {
          "maxLength": 17,
          "minLength": 1,
          "type": "string",
          "description": "Creditor\u2019s account number"
        },
        "routing_number_type": {
          "type": "string",
          "description": "Creditor bank\u2019s routing number type",
          "enum": [
            "USABA"
          ]
        },
        "routing_number ": {
          "type": "string",
          "description": "Creditor bank\u2019s routing number"
        }
      }
    },
    "retrieve_ach_payments_remittance_DEF": {
      "description": "Remittance information",
      "type": "object",
      "properties": {
        "unstructured_addenda": {
          "type": "array",
          "description": "Information",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-swagger-date": "2025-01-24"
}