swagger: "2.0"
x-swagger-date: 2025-04-10
produces:
  - application/json
consumes:
  - application/json
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    description: "The authorization request header should use the Bearer
      authorization scheme followed by the access token. Example: 'Bearer
      c2ebc483a02985ca9ae6f5f17ef3f454'"
    type: apiKey
security:
  - Bearer: []
basePath: /foreign-exchange
host: api.wellsfargo.com
schemes:
  - https
info:
  title: Foreign-Exchange
  version: v3
  description: The Wells Fargo Foreign Exchange API provides a full suite
    of  foreign-exchange services that you can integrate into your systems.
  x-termsAndConditions: https://developer.wellsfargo.com/tac/
  contact:
    name: Wells Fargo Gateway Support
    url: http://developer.wellsfargo.com/contact-us
    email: gateway@wellsfargo.com
paths:
  /customer-rate-sheets:
    get:
      operationId: ""
      description: Receive customized daily foreign exchange rate sheets.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - $ref: "#/parameters/get_customer_rate_sheets_customer_identifier_request_PARAM"
      responses:
        "200":
          description: OK or Successful operation
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/get_customer_rate_sheets_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: >
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Retrieve customer rate sheets
      x-scope: FX-Customer-Rate-Sheets
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /reference-rate-sheets:
    post:
      operationId: ""
      description: Retrieve a list of foreign exchange rates for a given reference date.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/post_reference_rate_sheets_request_DEF"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: "#/definitions/post_reference_rate_sheets_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: >
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Retrieve reference rate sheets
      x-scope: FX-Reference-Rate-Sheets
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /global-rate-sheets:
    get:
      operationId: ""
      description: Receive global foreign exchange rate sheets.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - $ref: "#/parameters/get_global_rate_sheets_request_rate_sheet_id_PARAM"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/get_global_rate_sheets_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: >
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Retrieve global rate sheets
      x-scope: FX-Global-Rate-Sheets
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /rates:
    get:
      operationId: ""
      description: Obtain indicative foreign exchange rates in real-time. The exchange
        rates returned cannot be used to book deals.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - $ref: "#/parameters/get_rates_buy_or_sell_PARAM"
        - $ref: "#/parameters/get_rates_base_currency_code_PARAM"
        - $ref: "#/parameters/get_rates_base_currency_amount_PARAM"
        - $ref: "#/parameters/get_rates_contra_currency_code_PARAM"
        - $ref: "#/parameters/get_rates_contra_currency_amount_PARAM"
        - $ref: "#/parameters/get_rates_receiving_method_PARAM"
        - $ref: "#/parameters/get_rates_customer_identifier_request_PARAM"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/get_real_time_rates_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Retrieve rates in real-time
      x-scope: FX-Rates
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /quotes:
    post:
      operationId: ""
      description: Get a new quote for near real-time foreign exchange rates for
        numerous timeframes. Each response will include applicable exchange
        rates along with a quote_id that can be used to book a deal.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/post_quotes_request_DEF"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: "#/definitions/post_quotes_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Request quotes
      x-scope: FX-Quotes
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /quotes/cancel:
    post:
      operationId: ""
      description: Allows to reject the requested quote.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/quote_cancel_request_DEF"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: "#/definitions/quote_cancel_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Request quotes cancel
      x-scope: FX-Quotes-Cancel
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /deals/from-quotes:
    post:
      operationId: ""
      description: Confirm your acceptance of the rates returned from the ‘FX-Quotes’
        resource by including the quote_id in the request and receive deal_id in
        the response.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/post_deals_from_quotes_request_DEF"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/post_deals_from_quotes_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Confirm deals from quotes
      x-scope: FX-Deals-From-Quotes
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /deals:
    post:
      operationId: ""
      description: Book a foreign exchange deal based on the currency details you
        provide in the request. This resource allows you to bypass the need to
        obtain a quote before confirming a deal. After submitting the request,
        you will receive a deal_id in the response.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/post_book_one_step_deals_request_DEF"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/post_book_one_step_deals_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "404":
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "405":
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "408":
          description: Request timed out
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "409":
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "429":
          description: Too Many Requests
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "500":
          description: Internal Server Error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "503":
          description: Service Unavailable
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "504":
          description: Response timeout
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "520":
          description: Unknown error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        default:
          description: unexpected error
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the response header.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
      tags:
        - Book one-step deals
      x-scope: FX-Deals-One-Step
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /deals/offset:
    post:
      operationId: ""
      description: Allow customers to send a request to offset an existing FX deal.
      parameters:
        - $ref: "#/parameters/authorization_HEADER"
        - $ref: "#/parameters/gateway_entity_id_HEADER"
        - $ref: "#/parameters/client_request_id_HEADER"
        - $ref: "#/parameters/content_type_HEADER"
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/post_deals_offset_request_DEF"
      responses:
        "200":
          description: OK or Successful Response
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: "#/definitions/post_deals_offset_response_DEF"
        "400":
          description: Bad Request
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "401":
          description: Authentication Failed
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
            gateway-request-id:
              description: A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response.
              type: string
          schema:
            $ref: "#/definitions/errors_DEF"
        "403":
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value you generate to track each API call. We recommend  generating
                a UUID value compliant with RFC 4122.  The value is echoed back
                in the response header. Wells Fargo also  generates a request
                identifier called ‘gateway-request-id’  that is returned in the
                response header.
              type: string
[...]
