swagger: '2.0'
info:
  title: Real-Time-Image-Access
  version: 'v1.0 October, 13 2023'
  contact:
    name: Wells Fargo Gateway Support
    url: 'http://developer.wellsfargo.com/contact-us'
    email: gateway@wellsfargo.com
  x-termsAndConditions: 'https://developer.wellsfargo.com/tac/'
  description: >-
    Search for and view images of paid, deposited, and returned checks, and
    deposit slips.
host: api.wellsfargo.com
basePath: /rtia/v2
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    description: >
      The authorization request header should use the Bearer authorization
      scheme

      followed by the access token. Example: 'Bearer
      c2ebc483a02985ca9ae6f5f17ef3f454'
    type: apiKey
security:
  - Bearer: []
paths:
  /images/search:
    post:
      description: >-
        provides an ability to search for items. The client specifies search
        criteria and is returned a list of matching items. For each item
        returned key information is included along with an image token (if
        available) that can be used to retrieve the image.
      parameters:
        - $ref: "#/parameters/Authorization_HEADER"
        - $ref: "#/parameters/Content-Type_HEADER"
        - $ref: '#/parameters/gateway_entity_id_HEADER'
        - $ref: '#/parameters/client_request_id_HEADER'
        - $ref: '#/parameters/ceo_company_id'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/image_search_request_DEF'
      responses:
        '200':
          schema:
            $ref: '#/definitions/image_search_response_DEF'
          description: OK or Successful operation
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response
              type: string

        '400':
          description: Bad Request
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API Name
                Authorization request. It will be returned in the header of the
                response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_400'
        '401':
          description: Authentication Failed
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_401'
        '403':
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_403'
        '404':
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_404'
        '405':
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_405'
        '408':
          description: Request timed out
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_408'
        '429':
          description: Too Many Requests
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_429'
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_500'
        '503':
          description: Service Unavailable
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_503'
        '504':
          description: Response timeout
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_504'
        '520':
          description: Unknown error
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_520'
        default:
          schema:
            $ref: '#/definitions/errors_DEF'
          description: unexpected error
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response
              type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-scope: RTIA-Images-Search
  /images/retrieve:
    post:
      description: >-
        Provides a retrieval of a selected image.  The client supplies the image
        information on the request and is returned the front and back of the
        image, and (optionally) additional details about the image.
      parameters:
        - $ref: "#/parameters/Authorization_HEADER"
        - $ref: "#/parameters/Content-Type_HEADER"
        - $ref: '#/parameters/gateway_entity_id_HEADER'
        - $ref: '#/parameters/client_request_id_HEADER'
        - $ref: '#/parameters/ceo_company_id'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/image_retrieve_request_DEF'
      responses:
        '200':
          schema:
            $ref: '#/definitions/image_retrieve_response_DEF'
          description: OK or Successful operation
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response
              type: string
        '400':
          description: Bad Request
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API Name
                Authorization request. It will be returned in the header of the
                response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_400'
        '401':
          description: Authentication Failed
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_401'
        '403':
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_403'
        '404':
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_404'
        '405':
          description: Requested method (e.g. GET/POST/PUT/DELETE) not available
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_405'
        '408':
          description: Request timed out
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_408'
        '429':
          description: Too Many Requests
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_429'
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_500'
        '503':
          description: Service Unavailable
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_503'
        '504':
          description: Response timeout
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_504'
        '520':
          description: Unknown error
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response.
              type: string
            gateway-request-id:
              description: >-
                A unique value generated by Wells Fargo Gateway to track the API
                request. It will be returned in the header of the response
              type: string
          schema:
            $ref: '#/definitions/error_response_520'
        default:
          schema:
            $ref: '#/definitions/errors_DEF'
          description: unexpected error
          headers:
            client-request-id:
              description: >-
                Value generated by your company to track the API request. It
                will be returned in the header of the response
              type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-scope: RTIA-Images-Retrieve

definitions:
  image_search_request_DEF:
    type: object
    required:
      - start_posting_date
      - end_posting_date
    properties:
      account_number_list:
        description: Bank account number.
        type: array
        maxItems: 25
        items:
          type: string
          minLength: 1
          maxLength: 17
          example: [9998887777,9998887778]
      isn_list:
        description: item sequence number number.
        type: array
        maxItems: 25
        items:
          type: string
          minLength: 1
          maxLength: 12
          example: [009917040929,009917041492]
      item_type:
        description: Type of item the image is associated with.
        type: string
        enum:
          - DEPOSITED_CHECK
          - DEPOSIT_SLIP
          - PAID_CHECK
          - RETURNED_ITEM
          - THIRD_PARTY_DRAFT
      start_posting_date:
        description: Start of date range for posting date. Format is YYYYMMDD.
        type: string
        format: date
      end_posting_date:
        description: End of date range for posting date. Format is YYYYMMDD.
        type: string
        format: date
      min_amount:
        description: Minimum amount of the item the image is associated with.
        type: number
        format: double
        example: 100.55
      max_amount:
        description: Maximum amount of the item the image is associated with.
        type: number
        format: double
        example: 100.55
      item_serial_number:
        description: >-
          Serial number associated with the item, i.e. check number or deposit
          slip serial number.
        type: string
        minLength: 1
        maxLength: 15
  image_search_response_DEF:
    properties:
      account_items:
        type: array
        items:
          $ref: '#/definitions/search_DEF'
      isn_items:
        type: array
        items:
          $ref: '#/definitions/search_DEF'

  image_retrieve_request_DEF:
    type: object
    required:
      - image_token_list
    properties:

      image_format:
        description: >-
          Indicates the image format the user wants to render, if image_format
          is not provided the dafault is DEFAULT and the image format returned
          is typically TIFF.
        type: string
        enum:
          - JPG
          - PNG
          - DEFAULT
      image_token_list:
        description: Token assigned to image to be used for retrieval.
        type: array
        maxItems: 10
        items:
          type: string
          minLength: 1
          maxLength: 20000

  image_retrieve_response_DEF:

        description: >-
          list of image_retrieve.
        type: array
        items:
          $ref: '#/definitions/image_retrieve'

  image_retrieve:
    type: object
    properties:
      image_token:
        description: >-
          image token
        type: string
      items:
        $ref: '#/definitions/items'

  items:
    type: object
    properties:
      image_front:
        description: >-
          Front of the image in TIFF(DEFAULT) or PNG or JPG G4 compressed
          format.
        type: string
      image_back:
        description: Back of the image in TIFF(DEFAULT) or PNG or JPG G4 compressed format.
        type: string
      reason_code:
        description: reason code.
        type: string

      message:
        description: message.
        type: string
  search_DEF:
    type: object
    properties:
      account_number:
        description: Bank account number.
        type: string
        minLength: 1
        maxLength: 17
        example: 9998887777
      items_count:
        description: Count of the number of items returned in response.
        type: integer
        minLength: 0
        maxLength: 100
      item_list:
        description: List of items.
        type: array
        items:
          $ref: '#/definitions/item_DEF'

  item_DEF:
    type: object
    properties:
      routing_number:
        description: Bank routing number.
        type: string
        minLength: 8
        maxLength: 9
      account_number:
        description: Bank account number.
        type: string
        minLength: 1
        maxLength: 17
        example: 9998887777
      item_type:
        description: Type of item the image is associated with.
        type: string
        enum:
          - DEPOSITED_CHECK
          - DEPOSIT_SLIP
          - PAID_CHECK
          - RETURNED_ITEM
          - THIRD_PARTY_DRAFT
      posting_date:
        description: Posting date of transaction image is associated with.
        type: string
        minLength: 8
        maxLength: 8
      amount:
        description: Amount of the transaction the image is associated with.
        type: number
        format: double
        minimum: 0.01
        maximum: 99999999.99
        example: 100.55
      item_serial_number:
        description: >-
          Serial number associated with the item, i.e. check number or deposit
          slip serial number.
        type: string
        minLength: 1
        maxLength: 15
      item_sequence_number:
        description: Item sequence number (internal to Wells Fargo).
        type: number
        format: double
      customer_reference_number:
        description: Customer reference number.
        type: string
      image_token:
        description: >-
          Token assigned to image to be used for retrieval.
        type: string
        minLength: 1
        maxLength: 2000
      reason_code:
        description: reason code.
        type: string

      message:
        description: message.
        type: string
  errors_DEF:
    type: object
    properties:
      errors:
        type: array
        description: A list of one or more errors describing the cause.
        items:
          $ref: '#/definitions/error_DEF'
  error_DEF:
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        type: string
        description: A code describing the result of processing.
        minLength: 7
        maxLength: 8
        example: 400-008
      description:
        type: string
        description: >-
          A human-readable explanation. The message is not intended for
          algorithmic processing and is subject to change.
        example: Missing required field in body
        minLength: 1
        maxLength: 100
      field_name:
        type: string
        description: The field name where the error occurred
        example: image_token
      field_value:
        type: string
        description: The field value entered in the request by the user.
        example: 123456789
      api_specification_url:
        type: string
        description: A link to the API specification
        example: 'https://developer.wellsfargo.com/#login'
  error_response_400:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: >-
          The errors object includes detailed information on the error type and
          impacted fields.
        items:
          $ref: '#/definitions/error_info_400'
  error_info_400:
    description: >-
      The errors object includes detailed information on the error type and
      impacted fields.
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 400-008
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Missing required field in body
        maxLength: 100
        minLength: 1
        type: string
        description: >-
          A human-readable explanation. The message is not intended for
          algorithmic processing and is subject to change.
      field_name:
        description: The field name where the error occurred.
        example: image_token
        type: string
      field_value:
        description: The field value entered in the request by the user.
        example: 123456789
        type: string
      api_specification_url:
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
        type: string
  error_response_401:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_401'
  error_info_401:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 401-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: API key is invalid or expired.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          API key is invalid or expired.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_403:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_403'
  error_info_403:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 403-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: >-
          Account associated with API key does not have access to the requested
          API.
        maxLength: 100
        minLength: 1
        type: string
        description: >
          A human-readable explanation. The message is not intended for
          algorithmic processing and is subject to change.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_404:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_404'
  error_info_404:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 404-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Requested API does not exist.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Requested API does not exist.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_405:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_405'
  error_info_405:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 405-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: >-
          Requested method is not supported. Check the API specification for
          supported methods.
        maxLength: 100
        minLength: 1
        type: string
        description: >
          Requested method is not supported. Check the API specification for
          supported methods.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_408:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_408'
  error_info_408:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 408-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Request timed out.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Request timed out.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_429:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_429'
  error_info_429:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 429-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Service is currently unavailable due to rate limiting.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Service is currently unavailable due to rate limiting.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_500:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_500'
  error_info_500:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 500-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Internal server error.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Internal server error.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_503:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_503'
  error_info_503:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 503-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Service unavailable.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Service unavailable.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_504:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_504'
  error_info_504:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 504-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Server timed out.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Server timed out.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'
  error_response_520:
    description: ''
    type: object
    properties:
      errors:
        type: array
        description: ''
        items:
          $ref: '#/definitions/error_info_520'
  error_info_520:
    description: ''
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        example: 520-001
        maxLength: 8
        minLength: 7
        type: string
        description: A code describing the result of processing.
      description:
        example: Unknown error occurred.
        maxLength: 100
        minLength: 1
        type: string
        description: |
          Unknown error occurred.
      api_specification_url:
        type: string
        description: A link to the API specification.
        example: 'https://developer.wellsfargo.com'

parameters:
  Authorization_HEADER:
    description: "Generate your initial API key on the [My Apps] ((Link: My Apps))
      screen and regenerate every 24 hours by calling the [Token API] ((Link:
      Documentation: How To: Authentication: Generate Keys Programmatically))."
    in: header
    maxLength: 32
    name: Authorization
    required: true
    type: string
  Content-Type_HEADER:
    description: The Content-Type header is used to indicate the media type of the
      resource. Requests must have the value application/json.Requests require
      an <<*application/json*>> value (Not applicable to <<*GET*>>
      requests).Indicates the media type of the request body. Requests must have
      the value application/json.
    in: header
    maxLength: 16
    name: Content-Type
    required: true
    type: string
  gateway_entity_id_HEADER:
    name: gateway-entity-id
    in: header
    description: >-
      Identifier describing on whose behalf the API request is being sent. This
      may represent your company, a division within your company, a third party,
      or something else. Issued by Wells Fargo.
    type: string
    required: true
    minLength: 22
    maxLength: 22
  client_request_id_HEADER:
    name: client-request-id
    in: header
    description: >-
      Unique value to track each API call; it will be returned in the header of
      every response.
    type: string
    required: true
    minLength: 1
    maxLength: 36
  ceo_company_id:
    name: ceo-company-id
    in: header
    description: >-
      If you are an ERP plug-in provider use this field to identify the company
      you are placing a call on behalf of.
    type: string
    minLength: 3
    maxLength: 20
    pattern: '^[A-Z0-9]{3,20}$'
x-wso2-security:
  apim:
    x-wso2-scopes:
      - name: RTIA-Images-Search
        description: ''
        key: RTIA-Images-Search
        roles: RES-RTIA-Images-Search
      - name: RTIA-Images-Retrieve
        description: ''
        key: RTIA-Images-Retrieve
        roles: RES-RTIA-Images-Retrieve
