{
  "swagger": "2.0",
  "x-swagger-date": "2021-02-18",
  "info": {
    "title": "Push to Card",
    "version": "v2",
    "contact": {
      "name": "Wells Fargo Gateway Support",
      "url": "https://developer.wellsfargo.com/portal/support",
      "email": "gateway@wellsfargo.com"
    },
    "x-termsAndConditions": "https://developer.wellsfargo.com/tac/",
    "description": "The Push to Card API enables businesses to securely send money directly to  U.S. consumer debit cards in near real time.  \n"
  },
  "host": "api.wellsfargo.com",
  "basePath": "/push-to-card/v2",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "in": "header",
      "name": "Authorization",
      "description": "The authorization request header should use the Bearer authorization  scheme followed by the access token.  Example- 'Bearer 2ebc483a02985ca9ae6f5f17ef3f454'\n",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "description": "Send a payment from your business bank account (sender) to a US consumer debit  card (recipient) and receive the status of the transaction. \n",
        "parameters": [
          {
            "$ref": "#/parameters/content-type_PARAM"
          },
          {
            "$ref": "#/parameters/gateway_entity_id_PARAM"
          },
          {
            "$ref": "#/parameters/client-request-id_PARAM"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The body of the API request.\n",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "payment",
                "sender",
                "recipient"
              ],
              "properties": {
                "payment": {
                  "$ref": "#/definitions/payment_DEF"
                },
                "sender": {
                  "description": "Describes the person (agent) initiating the payment on behalf  of the sender.\n",
                  "type": "object",
                  "required": [
                    "agent",
                    "from_account"
                  ],
                  "properties": {
                    "sender_type": {
                      "description": "Allows the payment originator to self-identify as a Money Service Business (MSB) or Third Party Processor (TPP).",
                      "type": "string",
                      "enum": [
                        "MSB",
                        "TPP",
                        "GEN"
                      ]
                    },
                    "agent": {
                      "$ref": "#/definitions/agent_DEF"
                    },
                    "from_account": {
                      "$ref": "#/definitions/from_account_DEF"
                    }
                  }
                },
                "ultimate_sender": {
                  "$ref": "#/definitions/ultimate_sender_DEF"
                },
                "recipient": {
                  "description": "Describes the recipient of the payment.\n",
                  "type": "object",
                  "required": [
                    "contact_information",
                    "card_information"
                  ],
                  "properties": {
                    "contact_information": {
                      "$ref": "#/definitions/contact_information_DEF"
                    },
                    "card_information": {
                      "$ref": "#/definitions/card_information_DEF"
                    }
                  }
                },
                "client_field_1": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 1\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "client_field_2": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 2\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "client_field_3": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 3\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "client_field_4": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 4\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/push_to_card_response_DEF"
            },
            "description": "Created",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Request could not be fulfilled because of incorrect syntax.\n",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Authentication error.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "No authorization for the requested resource.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Requested resource not found.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "405": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Method not supported.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Requests conflicts with another request.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Request cannot be processed.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Too many requests within a certain timeframe.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "451": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Service agreement expired.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Internal system error.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "503": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Service unavailable.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "504": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Server timed out.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "520": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Unknown error.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Create Payment"
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "x-scope": "Push-to-Card-Payments"
      }
    },
    "/payments/tokenized": {
      "post": {
        "description": "Send a payment from a business bank account (sender) to a US consumer debit  card (recipient) using a token instead of card information, and receive the status  of the transaction. \n",
        "parameters": [
          {
            "$ref": "#/parameters/content-type_PARAM"
          },
          {
            "$ref": "#/parameters/gateway_entity_id_PARAM"
          },
          {
            "$ref": "#/parameters/client-request-id_PARAM"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The body of the API request.\n",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "payment",
                "sender",
                "recipient"
              ],
              "properties": {
                "payment": {
                  "$ref": "#/definitions/payment_DEF"
                },
                "sender": {
                  "description": "Describes the person (agent) initiating the payment on behalf  of the sender.\n",
                  "type": "object",
                  "required": [
                    "agent",
                    "from_account"
                  ],
                  "properties": {
                    "sender_type": {
                      "description": "Allows the payment originator to self-identify as a Money Service Business (MSB) or Third Party Processor (TPP).",
                      "type": "string",
                      "enum": [
                        "MSB",
                        "TPP",
                        "GEN"
                      ]
                    },
                    "agent": {
                      "$ref": "#/definitions/agent_DEF"
                    },
                    "from_account": {
                      "$ref": "#/definitions/from_account_DEF"
                    }
                  }
                },
                "ultimate_sender": {
                  "$ref": "#/definitions/ultimate_sender_DEF"
                },
                "recipient": {
                  "description": "Describes the recipient of the payment.\n",
                  "type": "object",
                  "required": [
                    "contact_information",
                    "card_information"
                  ],
                  "properties": {
                    "contact_information": {
                      "$ref": "#/definitions/contact_information_DEF"
                    },
                    "card_information": {
                      "$ref": "#/definitions/card_token_information_DEF"
                    }
                  }
                },
                "client_field_1": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 1\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "client_field_2": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 2\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "client_field_3": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 3\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "client_field_4": {
                  "description": "The value that you want to appear on a transaction reconciliation report under the heading \u201cCustom Field 4\u201d.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/push_to_card_response_DEF"
            },
            "description": "Created",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Request could not be fulfilled because of incorrect syntax.\n",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Authentication error.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "No authorization for the requested resource.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Requested resource not found.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "405": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Method not supported.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Requests conflicts with another request.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "422": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Request cannot be processed.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Too many requests within a certain timeframe.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "451": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Service agreement expired.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "500": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Internal system error.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "503": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Service unavailable.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "504": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Server timed out.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          },
          "520": {
            "schema": {
              "$ref": "#/definitions/errors_DEF"
            },
            "description": "Unknown error.",
            "headers": {
              "client-request-id": {
                "description": "Identifier you generate to track each request. Echoed back from  the request.\n",
                "type": "string"
              },
              "gateway-request-id": {
                "description": "Unique request identifier generated by Wells Fargo.\n",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Create Tokenized Payment"
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "x-scope": "Push-to-Card-Payments-Tokenized"
      }
    }
  },
  "definitions": {
    "payment_DEF": {
      "description": "Describes the details of the payment.\n",
      "type": "object",
      "required": [
        "amount",
        "currency_code"
      ],
      "properties": {
        "client_reference": {
          "description": "Value you may generate to identify the payment. Special characters allowed are *._~/- \n",
          "type": "string",
          "minLength": 6,
          "maxLength": 25,
          "pattern": "^[a-zA-Z0-9,*._~/-]{6,25}$",
          "example": 123456789
        },
        "payment_type": {
          "description": "Describes the end to end transaction type of the payment.",
          "type": "string",
          "enum": [
            "B2B",
            "GDB",
            "P2P",
            "A2A"
          ]
        },
        "amount": {
          "description": "Amount of the payment.  Up to two digits are allowed after the decimal point.  Note- The min/max values for this field are the API limits.  Transaction limits are defined during on-boarding with the help of  your Implementation Consultant.\n",
          "type": "number",
          "minimum": 0.01,
          "maximum": 999999.99,
          "multipleOf": 0.01,
          "example": 1098.01
        },
        "currency_code": {
          "description": "Currency code for the payment. Currently, the only  supported currency is US Dollars. \n",
          "type": "string",
          "enum": [
            "USD"
          ]
        },
        "remittance_information": {
          "$ref": "#/definitions/remittance_information_DEF"
        }
      }
    },
    "remittance_information_DEF": {
      "description": "Describes the remittance information for the payment.\n",
      "type": "object",
      "required": [
        "statement_description"
      ],
      "properties": {
        "statement_description": {
          "description": "Transaction description you may generate that will appear on the  recipient's card statement.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 18,
          "example": "CLAIM 12345"
        }
      }
    },
    "ultimate_sender_DEF": {
      "description": "Describes the person initiating the payment.\n",
      "type": "object",
      "required": [
        "first_name",
        "last_name",
        "address"
      ],
      "properties": {
        "first_name": {
          "description": "First name of the ultimate sender.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "Jane"
        },
        "last_name": {
          "description": "Last name of the ultimate sender. \n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "Jones"
        },
        "address": {
          "type": "object",
          "description": "Describes the address of the ultimate sender. \n",
          "required": [
            "address_line_1",
            "city",
            "state",
            "postal_code",
            "country"
          ],
          "properties": {
            "address_line_1": {
              "description": "Line 1 of the ultimate sender's address.\n",
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "example": "1730 West Linda Lane"
            },
            "address_line_2": {
              "description": "Line 2 of the ultimate sender\u2019s address.\n",
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "example": "Suite A"
            },
            "city": {
              "description": "City of the ultimate sender\u2019s address.\n",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "example": "Chandler"
            },
            "state": {
              "description": "Two-letter state code of the ultimate sender\u2019s address.  Must adhere to the ISO 3166-2 standard.\n",
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Z]*$",
              "example": "AZ"
            },
            "postal_code": {
              "description": "US ZIP Code of the ultimate sender\u2019s address. Format NNNNN or NNNNN-NNNN.\n",
              "type": "string",
              "minLength": 5,
              "maxLength": 10,
              "pattern": "^[0-9]{5}(-[0-9]{4})?$",
              "example": 85224
            },
            "country": {
              "description": "Two-letter country code of the ultimate sender\u2019s address.  Currently, the only accepted value is 'US'.\n",
              "type": "string",
              "enum": [
                "US"
              ]
            }
          }
        }
      }
    },
    "agent_DEF": {
      "description": "The company representative who initiates the payment on behalf of the sender. \n",
      "type": "object",
      "required": [
        "first_name",
        "last_name",
        "phone_number"
      ],
      "properties": {
        "agent_id": {
          "description": "Agent\u2019s identifier.\n",
          "minLength": 1,
          "maxLength": 40,
          "example": "jane.jones"
        },
        "first_name": {
          "description": "Agent's first name.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "Jane"
        },
        "last_name": {
          "description": "Agent's last name.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "Jones"
        },
        "address": {
          "type": "object",
          "description": "Describes the agent's address.\n",
          "required": [
            "address_line_1",
            "city",
            "state",
            "postal_code",
            "country"
          ],
          "properties": {
            "address_line_1": {
              "description": "Line 1 of the agent\u2019s address.\n",
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "example": "1730 West Linda Lane"
            },
            "address_line_2": {
              "description": "Line 2 of the agent\u2019s address.\n",
              "type": "string",
              "minLength": 1,
              "maxLength": 50,
              "example": "Suite A"
            },
            "city": {
              "description": "City of the agent\u2019s address.\n",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "example": "Chandler"
            },
            "state": {
              "description": "Two-letter state code of the agent\u2019s address.  Must adhere to the ISO 3166-2 standard.\n",
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Z]*$",
              "example": "AZ"
            },
            "postal_code": {
              "description": "US ZIP Code of the agent\u2019s address. Format NNNNN or NNNNN-NNNN.\n",
              "type": "string",
              "minLength": 5,
              "maxLength": 10,
              "pattern": "^[0-9]{5}(-[0-9]{4})?$",
              "example": 85224
            },
            "country": {
              "description": "Two-letter country code of the agent\u2019s address.  Currently, the only accepted value is 'US'.\n",
              "type": "string",
              "enum": [
                "US"
              ]
            }
          }
        },
        "email_address": {
          "description": "Agent's email address.\n",
          "type": "string",
          "minLength": 5,
          "maxLength": 254,
          "pattern": "^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
          "example": "jane.jones@insuranceco.com"
        },
        "phone_number": {
          "description": "Agent's phone number.\n",
          "type": "string",
          "minLength": 10,
          "maxLength": 20,
          "pattern": "^[0-9]*$",
          "example": 5551112222
        }
      }
    },
    "from_account_DEF": {
      "description": "Describes the Wells Fargo account where the source of funds resides.\n",
      "type": "object",
      "required": [
        "bank_id",
        "bank_id_type",
        "bank_account_number"
      ],
      "properties": {
        "bank_id": {
          "description": "The bank ABA (RTN) Routing number for the source of funds.\n",
          "type": "string",
          "minLength": 9,
          "maxLength": 9,
          "pattern": "^[0-9]*$",
          "example": 121000248
        },
        "bank_id_type": {
          "description": "Type of bank account.\n",
          "type": "string",
          "enum": [
            "ABA"
          ]
        },
        "bank_account_number": {
          "description": "Bank account number of the source of funds.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 34,
          "pattern": "^[0-9]*$",
          "example": 1234567890
        }
      }
    },
    "contact_information_DEF": {
      "description": "Describes the recipient\u2019s contact information.\n",
      "type": "object",
      "required": [
        "first_name",
        "last_name"
      ],
      "properties": {
        "first_name": {
          "description": "Recipient's first name.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "John"
        },
        "middle_name": {
          "description": "Recipient's middle name.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "Paul"
        },
        "last_name": {
          "description": "Recipient's last name.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "example": "Appleseed"
        },
        "address": {
          "$ref": "#/definitions/address_DEF"
        },
        "email_address": {
          "description": "Recipient\u2019s email address.\n",
          "type": "string",
          "minLength": 5,
          "maxLength": 254,
          "pattern": "^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
          "example": "john.appleseed@umail.com"
        },
        "phone_number": {
          "description": "Recipient\u2019s phone number.\n",
          "type": "string",
          "minLength": 10,
          "maxLength": 20,
          "pattern": "^[0-9]*$",
          "example": 5557512346
        }
      }
    },
    "card_information_DEF": {
      "description": "Describes the recipient's card details.\n",
      "type": "object",
      "required": [
        "card_number",
        "expiration_month",
        "expiration_year"
      ],
      "properties": {
        "card_number": {
          "description": "Recipient\u2019s card number.\n",
          "type": "string",
          "minLength": 12,
          "maxLength": 19,
          "example": 1111222233334440
        },
        "expiration_month": {
          "description": "Two-digit expiration month of the recipient\u2019s card.  Format must be 'MM'.\n",
          "type": "string",
          "minLength": 2,
          "maxLength": 2,
          "example": 12
        },
        "expiration_year": {
          "description": "Four-digit expiration year of the recipient\u2019s card.  Format must be 'YYYY'.\n",
          "type": "string",
          "minLength": 4,
          "maxLength": 4,
          "example": 2022
        },
        "verification_code": {
          "description": "Recipient card\u2019s CVV/CVC.\n",
          "type": "string",
          "minLength": 3,
          "maxLength": 4,
          "example": 999
        }
      }
    },
    "card_token_information_DEF": {
      "description": "Describes the recipient's card.\n",
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "description": "Token representing the recipient\u2019s card.\n",
          "type": "string",
          "minLength": 13,
          "maxLength": 60,
          "pattern": "'^[a-zA-Z0-9]$'\n",
          "example": "5494675535526624033008"
        },
        "verification_code": {
          "description": "Recipient card\u2019s CVV/CVC.\n",
          "type": "string",
          "minLength": 3,
          "maxLength": 4,
          "example": 999
        }
      }
    },
    "address_DEF": {
      "type": "object",
      "description": "Describes the recipient's home address.\n",
      "required": [
        "address_line_1",
        "city",
        "state",
        "postal_code",
        "country"
      ],
      "properties": {
        "address_line_1": {
          "description": "Line 1 of the recipient\u2019s home address.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 50,
          "example": "1730 West Linda Lane"
        },
        "address_line_2": {
          "description": "Line 2 of the recipient\u2019s home address.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 50,
          "example": "Suite A"
        },
        "city": {
          "description": "City of the recipient\u2019s home address.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 25,
          "example": "Chandler"
        },
        "state": {
          "description": "Two-letter state code of the recipient\u2019s home address.  Must adhere to the ISO 3166-2 standard.\n",
          "type": "string",
          "minLength": 2,
          "maxLength": 2,
          "pattern": "^[A-Z]*$",
          "example": "AZ"
        },
        "postal_code": {
          "description": "US ZIP Code of the recipient\u2019s home address.  Format NNNNN or NNNNN-NNNN.\n",
          "type": "string",
          "minLength": 5,
          "maxLength": 10,
          "pattern": "^[0-9]{5}(-[0-9]{4})?$",
          "example": 85224
        },
        "country": {
          "description": "Two-letter country code of the recipient\u2019s home address.  Currently, the only accepted value is 'US'.\n",
          "type": "string",
          "enum": [
            "US"
          ]
        }
      }
    },
    "push_to_card_response_DEF": {
      "type": "object",
      "required": [
        "transaction_status",
        "transaction_id"
      ],
      "properties": {
        "transaction_status": {
          "description": "Status of the transaction. Valid values-APPROVED,-DECLINED,-ERROR,-PENDING.\n",
          "type": "string",
          "example": "APPROVED"
        },
        "transaction_id": {
          "description": "Unique identifier of the transaction, generated by Wells Fargo.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 30,
          "example": "hf0778fe746d7edb83"
        }
      }
    },
    "errors_DEF": {
      "type": "object",
      "properties": {
        "errors": {
          "description": "A list of one or more errors relating to the request.\n",
          "type": "array",
          "items": {
            "$ref": "#/definitions/error_DEF"
          }
        }
      }
    },
    "error_DEF": {
      "type": "object",
      "required": [
        "error_code",
        "description"
      ],
      "properties": {
        "error_code": {
          "description": "The error code.\n",
          "type": "string",
          "minLength": 7,
          "maxLength": 8
        },
        "description": {
          "description": "Description of the error\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 1000
        },
        "field_name": {
          "description": "The field name where the error occurred (optional).\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 20
        },
        "field_value": {
          "description": "The field value submitted in the request (optional)\n",
          "type": "string"
        },
        "api_specification_url": {
          "description": "A link to the API specification.\n",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "content-type_PARAM": {
      "name": "Content-Type",
      "in": "header",
      "description": "The Content-Type header is used to indicate the media type of the resource. Requests must have the value \u201capplication/json\u201d.\n",
      "type": "string",
      "required": true,
      "minLength": 16,
      "maxLength": 16
    },
    "gateway_entity_id_PARAM": {
      "name": "gateway-entity-id",
      "in": "header",
      "description": "Your Entity IDs are provided by Wells Fargo during initial company setup.  An Entity ID describes on whose behalf the API request is being sent.  This may represent your company, a division within your company, a third  party, or something else.\n",
      "type": "string",
      "required": true,
      "minLength": 22,
      "maxLength": 22
    },
    "client-request-id_PARAM": {
      "name": "client-request-id",
      "in": "header",
      "description": "Value you generate to track each API call that is returned in the header  of every response. Note- Generate it at your discretion, but we recommend  following the UUID version 4 (RFC 4122) form.\n",
      "type": "string",
      "required": true,
      "minLength": 1,
      "maxLength": 36
    }
  },
  "x-wso2-security": {
    "apim": {
      "x-wso2-scopes": [
        {
          "roles": "RES-P2C-Payments",
          "name": "Push-to-Card-Payments",
          "description": "Send a payment from a business bank account to a U.S. consumer debit  card and receive the status of the transaction.\n",
          "key": "Push-to-Card-Payments"
        },
        {
          "roles": "RES-P2C-Payments-Tokenized",
          "name": "Push-to-Card-Payments-Tokenized",
          "description": "Send a payment from a business bank account to a U.S. consumer debit  card using a token instead of card information, and receive the status of the transaction. \n",
          "key": "Push-to-Card-Payments-Tokenized"
        }
      ]
    }
  }
}