swagger: '2.0'
info:
  title: WF-Locations
  version: v2
  contact:
    name: Wells Fargo Gateway Support
    url: http://devstore.wellsfargo.com/store/site/pages/wfgateway/support.jag
    email: gateway@wellsfargo.com
  x-termsAndConditions: http://developer.wellsfargo.com/tac/
  description: |
    Help over 70 million customers fulfill their banking needs faster and easier with location services.
host: api.wellsfargo.com
basePath: /locator/v2
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json

securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    description: |
      The authorization request header should use the Bearer authorization scheme
      followed by the access token. Example: 'Bearer c2ebc483a02985ca9ae6f5f17ef3f454'
    type: apiKey

security:
  - Bearer: []

paths:
  /wf-locations:
    get:
      summary: |
        Provides the ability for customers to look up a Wells Fargo Bank and/or
        ATM location information and services available based on postal code,
        city & state or geo code.
      operationId: ListLocations
      parameters:
        - $ref: '#/parameters/gateway_entity_id_PARAM'
        - $ref: '#/parameters/client_request_id_PARAM'
        - in: query
          name: postal_code
          description: Five digit US zip code
          type: string
          minLength: 5
          maxLength: 5
        - name: city
          in: query
          description: US city name up to 32 characters
          type: string
          minLength: 2
          maxLength: 32
        - name: state_code
          in: query
          description: Two character US state code
          type: string
          minLength: 2
          maxLength: 2
        - name: latitude
          in: query
          description: Latitude of location.
          type: string
          minLength: 1
          maxLength: 13
        - name: longitude
          in: query
          description: Longitude of location.
          type: string
          minLength: 1
          maxLength: 13
        - name: radius
          in: query
          description: The distance from the latitude and longitude to search in miles. The default is 25 miles and the maximum is 100 miles.
          type: string
          minLength: 1
          maxLength: 3
        - name: location_type
          in: query
          description: Location_type whether it is a BRANCH or ATM.
          type: string
          minLength: 1
          maxLength: 6
        - name: appointment_type
          in: query
          description: This query parameter value should be ANY or specific appointment type (eg:NEWCONSCARD).
          type: string
          minLength: 1
          maxLength: 6  
        - name: bulletins
          in: query
          description: This is bulletin alerts and the value will be TRUE or FALSE.
          type: string
          minLength: 1
          maxLength: 18    
        - name: response_fields
          in: query
          description: |
            A filter to return a subset of fields. Multiple response_fields can be entered, including:
            - atm_deposit_cutoffs
            - atm_hours
            - atm_languages
            - atm_services_available
            - bank_deposit_cutoffs
            - bank_services_available
            - bulletins
            - holiday_hours
            - lobby_hours
            - number_of_atms
            - teller_languages
            - lobby_hours_parsed
            - appointment_information
          minLength: 1
          maxLength: 500
          type: string
      responses:
        '200':
          schema:
            $ref: '#/definitions/location_response_DEF'
          description: OK or Successful operation
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
            gateway-request-id:
              description: 'Unique identifier of the request, generated by Wells Fargo.'
              type: string
        '400':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Request could not be fulfilled because of incorrect syntax
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '401':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Authentication error (proper authentication is required)
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '403':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: No authorization for the requested resource
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '404':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Requested resource cannot be found
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '405':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Requested method not supported
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '408':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Request timed out
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '409':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Requests conflicts with another request
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '429':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Too many requests within a certain timeframe
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '451':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Upgrade to service terms required
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '500':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Internal system error
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '503':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Service unavailable
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        '520':
          schema:
            $ref: '#/definitions/errors_DEF'
          description: Unknown error
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
        default:
          schema:
            $ref: '#/definitions/errors_DEF'
          description: unexpected error
          headers:
            client-request-id:
              description: Value generated by your company to track the API request. It will be returned in the header of the response
              type: string
      tags:
        - location

definitions:
  location_response_DEF:
    type: object
    properties:
      locationResponse:
        $ref: '#/definitions/location_responses_DEF'

  location_responses_DEF:
    type: object
    properties:
      total_number_of_records:
        description: Returns a count of the number of locations retrieved
        type: string
      locations:
        description: List of locations retrieved
        type: array
        items:
          $ref: '#/definitions/location_DEF'

  location_DEF:
    properties:
      location_id:
        description: Location Id of the banking location or ATM name
        type: string
        example: AB17365
      location_type:
        description: Services available at a location vary. A coarse categorization of a location is its type, which can be 'ATM', 'Bank', or 'Bank+ATM'. 'Bank' and 'Bank+ATM' are staffed Wells Fargo locations.
        type: string
        example: Bank+ATM
      location_name:
        description: Store name of the banking location or ATM name
        type: string
        example: RINCON CENTER
      offset_from_UTC:
        description: Offset from UTC
        type: string
        example: -8
      location_url:
        description: A link to the corresponding page on the Wells Fargo website for the store.
        type: string
        example: https://www.wellsfargo.com/locator/bank/101__MISSION__ST__STE__100_SAN__FRANCISCO_CA_94105/
      address:
        $ref: '#/definitions/address_DEF'
      geo_location:
        $ref: '#/definitions/geographic_point_DEF'
      distance:
        description: Distance in miles from the query point
        type: string
        example: 0.73 MILES
      lobby_hours:
        $ref: '#/definitions/lobby_hours_DEF'
      lobby_hours_parsed:
        $ref: '#/definitions/lobby_hours_parsed_DEF'  
      bank_services_available:
        $ref: '#/definitions/bank_services_available_DEF'
      bank_deposit_cutoffs:
        $ref: '#/definitions/bank_deposit_cutoffs_DEF'
      teller_languages:
        $ref: '#/definitions/teller_languages_DEF'
      number_of_atms:
        description: Number of ATMs
        type: string
        example: '4'
      atm_hours:
        description: The hours of the ATM open
        type: string
        example: Hours Vary or 24 Hours
      atm_deposit_cutoffs:
        $ref: '#/definitions/atm_deposit_cutoffs_DEF'
      atm_services_available:
        $ref: '#/definitions/atm_services_available_DEF'
      atm_languages:
        $ref: '#/definitions/atm_languages_DEF'
      appointment_information:
        $ref: '#/definitions/appointment_type_DEF'  
      bulletins:
        $ref: '#/definitions/bulletins_DEF'
      holiday_hours:
        $ref: '#/definitions/holiday_hours_DEF'

  address_DEF:
    type: object
    description: The postal address of a location.
    properties:
      address_line_1:
        description: The street address for the location.
        type: string
        example: 101 MISSION ST STE 100
      city:
        description: The city for this location.
        type: string
        example: SAN FRANCISCO
      state_code:
        description: The USPS two character state code.
        type: string
        example: CA
      postal_code:
        description: The U.S. zip code can be 5 or 9 digits.
        type: string
        example: 94105
      phone_number:
        description: The public phone number for this location.
        type: string
        example: 4157779497

  atm_deposit_cutoffs_DEF:
    type: object
    description: The ATM deposit cutoffs
    properties:
      atm_deposit_cutoff:
        type: array
        items:
          $ref: '#/definitions/location_hours_DEF'

  atm_languages_DEF:
    type: object
    description: The list of languages supported at the ATMs
    properties:
      atm_language:
        type: array
        items:
          $ref: '#/definitions/language_DEF'

  atm_services_available_DEF:
    type: object
    description: Services available at ATM.
    properties:
      atm_service:
        type: array
        items:
          description: A code that identifies the ATM Device features such as Talking, Merchant Deposit, Cash Only.
          type: string

  bank_deposit_cutoffs_DEF:
    type: object
    description: Last hour that a deposit can be made in at a bank for it to be recorded for that day.
    properties:
      bank_deposit_cutoff:
        type: array
        items:
          $ref: '#/definitions/location_hours_DEF'

  bank_services_available_DEF:
    type: object
    description: The banking services available in the store.
    properties:
      bank_service:
        type: array
        items:
          description: The name of the service that may be offered at this outlet.
          type: string
          example: Pin Activation

  bulletins_DEF:
    type: object
    properties:
      bulletin:
        type: array
        items:
          $ref: '#/definitions/bulletin_DEF'

  bulletin_DEF:
    type: object
    properties:
      effectiveDateTime:
        description: The date/time the bulletin is effective.
        type: string
      endDateTime:
        description: The date/time the bulletin ends.
        type: string
      message:
        description: The message associated with this bulletin.
        type: string

  errors_DEF:
    type: object
    properties:
      errors:
        type: array
        description: A list of one or more errors describing the cause.
        items:
          $ref: '#/definitions/error_DEF'

  error_DEF:
    type: object
    required:
      - error_code
      - description
    properties:
      error_code:
        type: string
        description: A code describing the result of processing.
        minLength: 7
        maxLength: 8
        example: '400-008'
      description:
        type: string
        description: |
          A human-readable explanation. The message is not intended for algorithmic
          processing and is subject to change.
        example: Missing required field in body
        minLength: 1
        maxLength: 100
      field_name:
        type: string
        description: The field name where the error occurred
        example: payment_id
      field_value:
        type: string
        description: Field value entered in the request by the user.
        example: 123456789
      api_specification_url:
        type: string
        description: A link to the API specification
        example: https://developer.wellsfargo.com/#login

  geographic_point_DEF:
    type: object
    description: A point on the earth's surface given as latitude and longitutde.
    properties:
      latitude:
        description: |
          Angular distance north or south of the earth's equator, measured in decimal degrees
          along a meridian.
        type: string
        example: 37.79243900
      longitude:
        description: |
          The angular distance on the earth's surface, measured east or west from the prime
          meridian at Greenwich, England, to the meridian passing through a position, expressed in decimal degrees
        type: string
        example: -122.39404100

  holiday_hours_DEF:
    type: object
    description: The list of holidays where this location is closed or has shortened hours.
    properties:
      holiday_hour:
        type: array
        items:
          $ref: '#/definitions/location_hours_DEF'

  language_DEF:
    type: object
    properties:
      code:
        description: ISO-639-2 language code
        type: string
        minLength: 1
        maxLength: 8
        example: ITA
      description:
        description: A natural language description
        type: string
        minLength: 1
        maxLength: 60
        example: ITALIAN

  appointment_type_DEF:
    type: object
    properties:
      code:
        description: Appointment activity code
        type: string
        minLength: 1
        maxLength: 18
        example: NEWSMBUSCARD
      description:
        description: Appointment activity code description
        type: string
        minLength: 1
        maxLength: 60
        example: HOME MORTGAGE CONSULTANT - IN-PERSON

  lobby_hours_DEF:
    type: object
    description: The hours the lobby is open.
    properties:
      lobby_hour:
        type: array
        items:
          $ref: '#/definitions/location_hours_DEF'

  location_hours_DEF:
    type: object
    description: The location's hours of availability on a particular day.
    properties:
      day:
        type: string
        example: MON-FRI
      status:
        type: string
        example: 09:00 AM - 06:00 PM

  lobby_hours_parsed_DEF:
    type: object
    description: The hours the lobby is open.
    properties:
      lobby_hour_parsed:
        type: array
        items:
          $ref: '#/definitions/location_hours_parsed_DEF'

  location_hours_parsed_DEF:
    type: object
    description: The location's hours of availability on a particular day.
    properties:
      day_of_the_week_number:
        type: string
        example: 1
      day_of_the_week_code:
        type: string
        example: MON
      start_time:
        type: string
        example: 09:00
      end_time:
        type: string
        example: 18:00  

  teller_languages_DEF:
    type: object
    description: The list of languages spoken by tellers at this location.
    properties:
      teller_language:
        type: array
        items:
          $ref: '#/definitions/language_DEF'


parameters:

  gateway_entity_id_PARAM:
    name: gateway-entity-id
    in: header
    description: Identifier describing on whose behalf the API request is being sent. This may represent your company, a division within your company, a third party, or something else. Issued by Wells Fargo.
    type: string
    required: true
    minLength: 22
    maxLength: 22

  client_request_id_PARAM:
    name: client-request-id
    in: header
    description: Unique value to track each API call; it will be returned in the header of every response.
    type: string
    required: true
    minLength: 1
    maxLength: 36
