{
  "swagger": "2.0",
  "info": {
    "title": "Account and Transaction API Specification",
    "version": "v3.1.8"
  },
  "host": "eu1.anypoint.mulesoft.com",
  "basePath": "/mocking/api/v1/links/239c903d-c171-4669-9677-1e147f307f6f/open-banking/v3.1/aisp",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "http://",
    "description": "Swagger for Account and Transaction API Specification",
    "x-amf-title": "Account and Transaction API Specification"
  },
  "paths": {
    "/account-access-consents": {
      "post": {
        "operationId": "CreateAccountAccessConsents",
        "description": "Create Account Access Consents",
        "parameters": [
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "title": "body",
              "description": "Default",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data",
                "Risk"
              ],
              "properties": {
                "Data": {
                  "$ref": "#/definitions/Data"
                },
                "Risk": {
                  "title": "Risk",
                  "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.",
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account Access Consents Created",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response201",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data",
                "Risk"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_1"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                },
                "Risk": {
                  "title": "Risk",
                  "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.",
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response201",
                  "description": "",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Data",
                    "Risk"
                  ],
                  "properties": {
                    "Meta": {
                      "title": "Meta",
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "LastAvailableDateTime": {
                          "title": "LastAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "FirstAvailableDateTime": {
                          "title": "FirstAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "TotalPages": {
                          "title": "TotalPages",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "Data": {
                      "$ref": "#/definitions/Data_1"
                    },
                    "Links": {
                      "$ref": "#/definitions/Links"
                    },
                    "Risk": {
                      "title": "Risk",
                      "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response201",
                  "description": ""
                }
              }
            ]
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          }
        },
        "security": [
          {
            "auth": [
              "accounts"
            ]
          }
        ]
      }
    },
    "/account-access-consents/{ConsentId}": {
      "get": {
        "operationId": "GetAccountAccessConsentsConsentId",
        "description": "Get Account Access Consents",
        "parameters": [
          {
            "name": "ConsentId",
            "description": "ConsentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Access Consents Read",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response200",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data",
                "Risk"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_1"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                },
                "Risk": {
                  "title": "Risk",
                  "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.",
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response200",
                  "description": "",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Data",
                    "Risk"
                  ],
                  "properties": {
                    "Meta": {
                      "title": "Meta",
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "LastAvailableDateTime": {
                          "title": "LastAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "FirstAvailableDateTime": {
                          "title": "FirstAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "TotalPages": {
                          "title": "TotalPages",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "Data": {
                      "$ref": "#/definitions/Data_1"
                    },
                    "Links": {
                      "$ref": "#/definitions/Links"
                    },
                    "Risk": {
                      "title": "Risk",
                      "description": "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response200",
                  "description": ""
                }
              }
            ]
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          }
        },
        "security": [
          {
            "auth": [
              "accounts"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteAccountAccessConsentsConsentId",
        "description": "Delete Account Access Consents",
        "parameters": [
          {
            "name": "ConsentId",
            "description": "ConsentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Account Access Consents Deleted",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          }
        },
        "security": [
          {
            "auth": [
              "accounts"
            ]
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "operationId": "GetAccounts",
        "description": "Get Accounts",
        "parameters": [
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts Read",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response200",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_2"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response200",
                  "description": "",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Data"
                  ],
                  "properties": {
                    "Meta": {
                      "title": "Meta",
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "LastAvailableDateTime": {
                          "title": "LastAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "FirstAvailableDateTime": {
                          "title": "FirstAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "TotalPages": {
                          "title": "TotalPages",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "Data": {
                      "$ref": "#/definitions/Data_2"
                    },
                    "Links": {
                      "$ref": "#/definitions/Links"
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response200",
                  "description": ""
                }
              }
            ]
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response500",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          }
        },
        "security": [
          {
            "auth": [
              "accounts"
            ]
          }
        ]
      }
    },
    "/accounts/{AccountId}": {
      "get": {
        "operationId": "GetAccountsAccountId",
        "description": "Get Accounts",
        "parameters": [
          {
            "name": "AccountId",
            "description": "AccountId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts Read",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response200",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_2"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response200",
                  "description": "",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Data"
                  ],
                  "properties": {
                    "Meta": {
                      "title": "Meta",
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "LastAvailableDateTime": {
                          "title": "LastAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "FirstAvailableDateTime": {
                          "title": "FirstAvailableDateTime",
                          "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                          "type": "string",
                          "format": "date-time"
                        },
                        "TotalPages": {
                          "title": "TotalPages",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "Data": {
                      "$ref": "#/definitions/Data_2"
                    },
                    "Links": {
                      "$ref": "#/definitions/Links"
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response200",
                  "description": ""
                }
              }
            ]
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response400",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json; charset=utf-8",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "Errors",
                    "Message",
                    "Code"
                  ],
                  "properties": {
                    "Id": {
                      "title": "Id",
                      "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "Errors": {
                      "title": "Errors",
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/definitions/OBError1"
                      }
                    },
                    "Message": {
                      "title": "Message",
                      "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "Code": {
                      "title": "Code",
                      "description": "High level textual error code, to help categorize the errors.",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    }
                  }
                }
              },
              {
                "mediaType": "application/jose+jwe",
                "schema": {
                  "title": "response403",
                  "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation."
                }
              }
            ]
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
[...]
