{
  "swagger": "2.0",
  "info": {
    "title": "Confirmation of Funds API Specification",
    "version": "v3.1.8"
  },
  "host": "eu1.anypoint.mulesoft.com",
  "basePath": "/mocking/api/v1/links/ad7d96e7-daed-4687-a943-b956319033c5/open-banking/v3.1/cbpii",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "http://",
    "description": "Swagger for Confirmation of Funds API Specification",
    "x-amf-title": "Confirmation of Funds API Specification"
  },
  "paths": {
    "/funds-confirmation-consents": {
      "post": {
        "operationId": "CreateFundsConfirmationConsents",
        "description": "Create Funds Confirmation Consent",
        "parameters": [
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "title": "body",
              "description": "Default",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Data": {
                  "$ref": "#/definitions/Data"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Funds Confirmation Consent Created",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response201",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_1"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [
              "fundsconfirmations"
            ]
          }
        ]
      }
    },
    "/funds-confirmation-consents/{ConsentId}": {
      "get": {
        "operationId": "GetFundsConfirmationConsentsConsentId",
        "description": "Get Funds Confirmation Consent",
        "parameters": [
          {
            "name": "ConsentId",
            "description": "ConsentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Funds Confirmation Consent Read",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response200",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_1"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [
              "fundsconfirmations"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteFundsConfirmationConsentsConsentId",
        "description": "Delete Funds Confirmation Consent",
        "parameters": [
          {
            "name": "ConsentId",
            "description": "ConsentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Funds Confirmation Consent Deleted",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [
              "fundsconfirmations"
            ]
          }
        ]
      }
    },
    "/funds-confirmations": {
      "post": {
        "operationId": "CreateFundsConfirmations",
        "description": "Create Funds Confirmation",
        "parameters": [
          {
            "name": "x-fapi-auth-date",
            "description": "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "in": "header",
            "type": "string",
            "pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Authorization",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "title": "body",
              "description": "Default",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Data": {
                  "$ref": "#/definitions/Data_2"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Funds Confirmation Created",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response201",
              "description": "",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Data"
              ],
              "properties": {
                "Meta": {
                  "title": "Meta",
                  "description": "Meta Data relevant to the payload",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "LastAvailableDateTime": {
                      "title": "LastAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "FirstAvailableDateTime": {
                      "title": "FirstAvailableDateTime",
                      "description": "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalPages": {
                      "title": "TotalPages",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "Data": {
                  "$ref": "#/definitions/Data_3"
                },
                "Links": {
                  "$ref": "#/definitions/Links"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response400",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response403",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "title": "Retry-After",
                "description": "Number in seconds to wait",
                "type": "string"
              },
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "x-fapi-interaction-id": {
                "title": "x-fapi-interaction-id",
                "description": "An RFC4122 UID used as a correlation id.",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "title": "response500",
              "description": "An array of detail error codes, and messages, and URLs to documentation to help remediation.",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "Errors",
                "Message",
                "Code"
              ],
              "properties": {
                "Id": {
                  "title": "Id",
                  "description": "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "Errors": {
                  "title": "Errors",
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": false,
                  "items": {
                    "$ref": "#/definitions/OBError1"
                  }
                },
                "Message": {
                  "title": "Message",
                  "description": "Brief Error message, e.g., 'There is something wrong with the request parameters provided'",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "Code": {
                  "title": "Code",
                  "description": "High level textual error code, to help categorize the errors.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                }
              }
            }
          }
        },
        "security": [
          {
            "auth": [
              "fundsconfirmations"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "Data": {
      "title": "Data",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "DebtorAccount"
      ],
      "properties": {
        "ExpirationDateTime": {
          "title": "ExpirationDateTime",
          "description": "Specified date and time the funds confirmation authorisation will expire.\n If this is not populated, the authorisation will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
          "type": "string",
          "format": "date-time"
        },
        "DebtorAccount": {
          "$ref": "#/definitions/DebtorAccount"
        }
      }
    },
    "Data_1": {
      "title": "Data",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "ConsentId",
        "CreationDateTime",
        "Status",
        "StatusUpdateDateTime",
        "DebtorAccount"
      ],
      "properties": {
        "ConsentId": {
          "title": "ConsentId",
          "description": "Unique identification as assigned to identify the funds confirmation consent resource.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "CreationDateTime": {
          "title": "CreationDateTime",
          "description": "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
          "type": "string",
          "format": "date-time"
        },
        "Status": {
          "title": "Status",
          "description": "Specifies the status of consent resource in code form.",
          "enum": [
            "Authorised",
            "AwaitingAuthorisation",
            "Rejected",
            "Revoked"
          ],
          "type": "string"
        },
        "StatusUpdateDateTime": {
          "title": "StatusUpdateDateTime",
          "description": "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
          "type": "string",
          "format": "date-time"
        },
        "ExpirationDateTime": {
          "title": "ExpirationDateTime",
          "description": "Specified date and time the funds confirmation authorisation will expire.\nIf this is not populated, the authorisation will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
          "type": "string",
          "format": "date-time"
        },
        "DebtorAccount": {
          "$ref": "#/definitions/DebtorAccount"
        }
      }
    },
    "Links": {
      "title": "Links",
      "description": "Links relevant to the payload",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "Self"
      ],
      "properties": {
        "Self": {
          "title": "Self",
          "type": "string"
        },
        "First": {
          "title": "First",
          "type": "string"
        },
        "Prev": {
          "title": "Prev",
          "type": "string"
        },
        "Next": {
          "title": "Next",
          "type": "string"
        },
        "Last": {
          "title": "Last",
          "type": "string"
        }
      }
    },
    "OBError1": {
      "title": "OBError1",
      "type": "object",
      "minProperties": 1,
      "additionalProperties": true,
      "required": [
        "ErrorCode",
        "Message"
      ],
      "properties": {
        "ErrorCode": {
          "title": "ErrorCode",
          "description": "Low level textual error code, e.g., UK.OBIE.Field.Missing",
          "type": "string"
        },
        "Message": {
          "title": "Message",
          "description": "A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future'\n\nOBIE doesn't standardise this field\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 500
        },
        "Path": {
          "title": "Path",
          "description": "Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency",
          "type": "string",
          "minLength": 1,
          "maxLength": 500
        },
        "Url": {
          "title": "Url",
          "description": "URL to help remediate the problem, or provide more information, or to API Reference, or help etc",
          "type": "string"
        }
      }
    },
    "Data_2": {
      "title": "Data",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "ConsentId",
        "Reference",
        "InstructedAmount"
      ],
      "properties": {
        "ConsentId": {
          "title": "ConsentId",
          "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "Reference": {
          "title": "Reference",
          "description": "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "InstructedAmount": {
          "$ref": "#/definitions/InstructedAmount"
        }
      }
    },
    "Data_3": {
      "title": "Data",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "FundsConfirmationId",
        "ConsentId",
        "CreationDateTime",
        "FundsAvailable",
        "Reference",
        "InstructedAmount"
      ],
      "properties": {
        "FundsConfirmationId": {
          "title": "FundsConfirmationId",
          "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation resource.",
          "type": "string",
          "minLength": 1,
          "maxLength": 40
        },
        "ConsentId": {
          "title": "ConsentId",
          "description": "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource.",
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "CreationDateTime": {
          "title": "CreationDateTime",
          "description": "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00",
          "type": "string",
          "format": "date-time"
        },
        "FundsAvailable": {
          "title": "FundsAvailable",
          "description": "Flag to indicate the result of a confirmation of funds check.",
          "type": "boolean"
        },
        "Reference": {
          "title": "Reference",
          "description": "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction.",
          "type": "string",
          "minLength": 1,
          "maxLength": 35
        },
        "InstructedAmount": {
          "$ref": "#/definitions/InstructedAmount"
        }
      }
    },
    "DebtorAccount": {
      "title": "DebtorAccount",
      "description": "Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied.",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "SchemeName",
        "Identification"
      ],
      "properties": {
        "SchemeName": {
          "title": "SchemeName",
          "description": "Name of the identification scheme, in a coded form as published in an external list.",
          "type": "string"
        },
        "Identification": {
          "title": "Identification",
          "description": "Identification assigned by an institution to identify an account. This identification is known by the account owner.",
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "Name": {
          "title": "Name",
          "description": "Name of the account, as assigned by the account servicing institution.\n\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.\n",
          "type": "string",
          "minLength": 1,
          "maxLength": 350
        },
        "SecondaryIdentification": {
          "title": "SecondaryIdentification",
          "description": "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).",
          "type": "string",
          "minLength": 1,
          "maxLength": 34
        }
      }
    },
    "InstructedAmount": {
      "title": "InstructedAmount",
      "description": "Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency.",
      "type": "object",
      "additionalProperties": true,
      "required": [
        "Amount",
        "Currency"
      ],
      "properties": {
        "Amount": {
          "title": "Amount",
          "description": "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.",
          "type": "string",
          "pattern": "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
        },
        "Currency": {
          "title": "Currency",
          "description": "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\".",
          "type": "string",
          "pattern": "^[A-Z]{3,3}$"
        }
      }
    }
  },
  "securityDefinitions": {
    "auth": {
      "type": "oauth2",
      "authorizationUrl": "",
      "tokenUrl": "https://api.bankofireland.com/as/token.oauth2",
      "scopes": {
        "fundsconfirmations": "null"
      },
      "x-amf-settings": {
        "authorizationGrants": [
          "client_credentials"
        ]
      }
    }
  }
}
