{
  "swagger": "2.0",
  "info": {
    "title": "Open Data API",
    "version": "v1.0"
  },
  "host": "developer.openbanking.org.uk",
  "basePath": "/reference-implementation/open-banking/v1.0",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "http://",
    "description": "Welcome to the Open Banking Open Data API specification. This is a working draft\nreflecting the progress of the Implementation Entity Working Group.\n",
    "x-amf-title": "Home"
  },
  "paths": {
    "/fca-service-metrics/pca": {
      "head": {
        "description": "Retrieve metadata about the current set of all FCA personal current account.",
        "consumes": [
          "application/prs.openbanking.opendata.v1.0+json"
        ],
        "produces": [
          "application/prs.openbanking.opendata.v1.0+json"
        ],
        "parameters": [
          {
            "name": "If-Modified-Since",
            "description": "Used for conditional request, to retrieve data\nonly if modified since a given date\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "If-None-Match",
            "description": "Used for conditional request, to retrieve data only\nif the given Etag value does not match\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns metadata about this resource via HTTP headers. No actual content is returned\nwhen this method is invoked.\n",
            "headers": {
              "Strict-Transport-Security": {
                "x-amf-required": true,
                "description": "Ensures that the endpoint will only be accessed via HTTPS, for a period of up to one year.\n",
                "default": "max-age=31536000",
                "type": "string"
              },
              "X-Frame-Options": {
                "x-amf-required": true,
                "description": "Ensures that the content served by this endpoint cannot be loaded in an embedded IFRAME element.\n",
                "default": "DENY",
                "type": "string"
              },
              "ETag": {
                "x-amf-required": true,
                "description": "Textual value used for determining freshness of content being served.\n",
                "type": "string"
              },
              "Content-Type": {
                "x-amf-required": true,
                "default": "application/prs.openbanking.opendata.v1.0+json",
                "type": "string"
              },
              "X-Content-Type-Options": {
                "x-amf-required": true,
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing\n",
                "default": "nosniff",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Failure. You have sent a request which could not be understood.\n",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/http-error-400"
            }
          },
          "408": {
            "description": "Failure. Your client has failed to submit a request, and a timeout has occurred.\n",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/http-error-408"
            }
          },
          "429": {
            "description": "Failure. You have requested this resource too often. Slow down.\n",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/http-error-429"
            }
          },
          "500": {
            "description": "Failure. An error occurred on the server. No further information is available.\n",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/http-error-500"
            }
          },
          "503": {
            "description": "Failure. The service is temporarily unavailable.\n",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/http-error-503"
            }
          }
        }
      },
      "get": {
        "description": "Retrieve information about all FCA personal current account.",
        "consumes": [
          "application/prs.openbanking.opendata.v1.0+json"
        ],
        "produces": [
          "application/prs.openbanking.opendata.v1.0+json"
        ],
        "parameters": [
          {
            "name": "If-Modified-Since",
            "description": "Used for conditional request, to retrieve data\nonly if modified since a given date\n",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "If-None-Match",
            "description": "Used for conditional request, to retrieve data only\nif the given Etag value does not match\n",
            "required": true,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Strict-Transport-Security": {
                "x-amf-required": true,
                "description": "Ensures that the endpoint will only be accessed via HTTPS, for a period of up to one year.\n",
                "default": "max-age=31536000",
                "type": "string"
              },
              "X-Frame-Options": {
                "x-amf-required": true,
                "description": "Ensures that the content served by this endpoint cannot be loaded in an embedded IFRAME element.\n",
                "default": "DENY",
                "type": "string"
              },
              "ETag": {
                "x-amf-required": true,
                "description": "Textual value used for determining freshness of content being served.\n",
                "type": "string"
              },
              "Content-Type": {
                "x-amf-required": true,
                "default": "application/prs.openbanking.opendata.v1.0+json",
                "type": "string"
              },
              "X-Content-Type-Options": {
                "x-amf-required": true,
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing\n",
                "default": "nosniff",
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/prs.openbanking.opendata.v1.0+json",
            "schema": {
              "title": "FCA personal current account",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "meta",
                "data"
              ],
              "properties": {
                "meta": {
                  "title": "Meta data",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "LastUpdated",
                    "TotalResults",
                    "Agreement",
                    "License",
                    "TermsOfUse"
                  ],
                  "properties": {
                    "LastUpdated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalResults": {
                      "type": "integer"
                    },
                    "Agreement": {
                      "enum": [
                        "Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"
                      ],
                      "type": "string"
                    },
                    "License": {
                      "description": "Open Banking License",
                      "enum": [
                        "https://www.openbanking.org.uk/open-licence"
                      ],
                      "type": "string",
                      "format": "uri"
                    },
                    "TermsOfUse": {
                      "description": "Open Banking Terms of Use",
                      "enum": [
                        "https://www.openbanking.org.uk/terms"
                      ],
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "data": {
                  "type": "array",
                  "items": {
                    "title": "FCA Personal Current Account",
                    "description": "Open Banking FCA Personal Current Account product data details",
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "Brand"
                    ],
                    "properties": {
                      "Brand": {
                        "title": "Brand",
                        "description": "Brand owned by an organisation",
                        "type": "array",
                        "items": {
                          "description": "Brand owned by an organisation",
                          "type": "object",
                          "additionalProperties": true,
                          "required": [
                            "BrandName"
                          ],
                          "properties": {
                            "BrandName": {
                              "title": "BrandName",
                              "description": "Brand Name that an organisation uses to market its products or services to a consumer",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 140
                            },
                            "PublicationDate": {
                              "title": "PublicationDate",
                              "description": "Date when this metrics was made available.",
                              "type": "string",
                              "format": "date"
                            },
                            "MeasurementPeriodStartDate": {
                              "title": "MeasurementPeriodStartDate",
                              "description": "The start date of the current account measurement period",
                              "type": "string",
                              "format": "date"
                            },
                            "MeasurementPeriodEndDate": {
                              "title": "MeasurementPeriodEndDate",
                              "description": "The end date of the current account measurement period",
                              "type": "string",
                              "format": "date"
                            },
                            "Notes": {
                              "title": "Notes",
                              "description": "Specify any note that helps Banks to describe the Service Metrics Data related to a particular Brand. One example to describe, why the Service Metrics data is not available.",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 2000
                            },
                            "ServicesMatterAvailability": {
                              "title": "ServicesMatterAvailability",
                              "description": "This section hold info related to Matters(Services) which can be discussed by Banks customer.",
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "ServicesMatterAvailabilityDetails"
                              ],
                              "properties": {
                                "ServicesMatterAvailabilityDetails": {
                                  "title": "ServicesMatterAvailabilityDetails",
                                  "description": "Hold info related to Services which can be discussed by an account holder",
                                  "type": "array",
                                  "minItems": 1,
                                  "items": {
                                    "description": "Hold info related to Services which can be discussed by an account holder",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "required": [
                                      "MatterType",
                                      "ServiceMatterAvailabilityMethod"
                                    ],
                                    "properties": {
                                      "MatterType": {
                                        "title": "MatterType",
                                        "enum": [
                                          "HelpOpeningAccount",
                                          "CheckBalanceTransaction",
                                          "CancellingCheque",
                                          "CashWithdrawalForexOutsideUK",
                                          "CollectPaymentViaCard",
                                          "SendingMoneyOutsideUK",
                                          "ReportFraudulentIncident",
                                          "DenialLackOfFunds",
                                          "Other",
                                          "PayingInCheque",
                                          "ProgressAccountCardSuspension",
                                          "ProblemUsingMobileInternetBanking",
                                          "SendingMoneyWithinUK",
                                          "AccessViaPowerOfAttorney"
                                        ],
                                        "type": "string"
                                      },
                                      "24HourHelp": {
                                        "title": "24HourHelp",
                                        "description": "Indicates whether this contact type  is available 24 hours.",
                                        "enum": [
                                          "InSomeCases",
                                          "NotPossible",
                                          "No",
                                          "Yes"
                                        ],
                                        "type": "string"
                                      },
                                      "OtherMatterType": {
                                        "title": "OtherMatterType",
                                        "description": "Other code set which is not available in the standard MatterAvailabilityCode set",
                                        "type": "array",
                                        "items": {
                                          "description": "Other code set which is not available in the standard MatterAvailabilityCode set",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "Name",
                                            "Description"
                                          ],
                                          "properties": {
                                            "Code": {
                                              "title": "Code",
                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                              "type": "string",
                                              "pattern": "^\\w{0,4}$",
                                              "minLength": 0,
                                              "maxLength": 4
                                            },
                                            "Name": {
                                              "title": "Name",
                                              "description": "Long name associated with the code",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "Description": {
                                              "title": "Description",
                                              "description": "Description to describe the purpose of the code",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 350
                                            }
                                          }
                                        }
                                      },
                                      "ContactDetails": {
                                        "title": "ContactDetails",
                                        "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                        "type": "array",
                                        "items": {
                                          "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "ContactType",
                                            "ContactContent"
                                          ],
                                          "properties": {
                                            "ContactType": {
                                              "title": "ContactType",
                                              "description": "Contact type such Phone, Fax and email",
                                              "enum": [
                                                "Email",
                                                "MobileApp",
                                                "Other",
                                                "Phone",
                                                "WebChatApp"
                                              ],
                                              "type": "string"
                                            },
                                            "ContactContent": {
                                              "title": "ContactContent",
                                              "description": "Collection of information that identifies a phone/ email/WebChat/ Mobile App or other communication channel, as defined by telecom services.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "ContactDescription": {
                                              "title": "ContactDescription",
                                              "description": "Description of contact such as main phone number, alternate phone number and WebChat App name.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "OtherContactType": {
                                              "title": "OtherContactType",
                                              "description": "Other contact type which is not in the standard code list",
                                              "type": "object",
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ],
                                              "properties": {
                                                "Code": {
                                                  "title": "Code",
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "title": "Name",
                                                  "description": "Long name associated with the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "title": "Description",
                                                  "description": "Description to describe the purpose of the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "ServiceMatterAvailabilityMethod": {
                                        "title": "ServiceMatterAvailabilityMethod",
                                        "description": "Store info related to Matters(services) which an account holder can contact the bank and discuss about them",
                                        "type": "array",
                                        "minItems": 1,
                                        "items": {
                                          "description": "Store info related to Matters(services) which an account holder can contact the bank and discuss about them",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "MatterMethodType"
                                          ],
                                          "properties": {
                                            "MatterMethodType": {
                                              "title": "MatterMethodType",
                                              "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                              "enum": [
                                                "InternetBanking",
                                                "MobileBanking",
                                                "Other",
                                                "Telephone"
                                              ],
                                              "type": "string"
                                            },
                                            "24HourAvailable": {
                                              "title": "24HourAvailable",
                                              "description": "Indicates whether this contact type  is available 24 hours.",
                                              "enum": [
                                                "InSomeCases",
                                                "NotPossible",
                                                "No",
                                                "Yes"
                                              ],
                                              "type": "string"
                                            },
                                            "ServiceLevelDescription": {
                                              "title": "ServiceLevelDescription",
                                              "description": "Summary description for the availability of this service.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "Note": {
                                              "title": "Note",
                                              "description": "Any info which supports the Contact Availability Method.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "OtherContactMethodType": {
                                              "title": "OtherContactMethodType",
                                              "description": "Other code set which is not available in the standard code set",
                                              "type": "array",
                                              "items": {
                                                "description": "Other code set which is not available in the standard code set",
                                                "type": "object",
                                                "additionalProperties": true,
                                                "required": [
                                                  "Name",
                                                  "Description"
                                                ],
                                                "properties": {
                                                  "Code": {
                                                    "title": "Code",
                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                    "type": "string",
                                                    "pattern": "^\\w{0,4}$",
                                                    "minLength": 0,
                                                    "maxLength": 4
                                                  },
                                                  "Name": {
                                                    "title": "Name",
                                                    "description": "Long name associated with the code",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                  },
                                                  "Description": {
                                                    "title": "Description",
                                                    "description": "Description to describe the purpose of the code",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 350
                                                  }
                                                }
                                              }
                                            },
                                            "Day": {
                                              "title": "Day",
                                              "description": "Days on which a service is available for either discussion or action",
                                              "type": "array",
                                              "items": {
                                                "description": "Days on which a service is available for either discussion or action",
                                                "type": "object",
                                                "additionalProperties": true,
                                                "required": [
                                                  "Name",
                                                  "AvailableHours"
                                                ],
                                                "properties": {
                                                  "Name": {
                                                    "title": "Name",
                                                    "description": "Specifies the day of the week",
                                                    "enum": [
                                                      "Friday",
                                                      "Monday",
                                                      "Saturday",
                                                      "Sunday",
                                                      "Thursday",
                                                      "Tuesday",
                                                      "Wednesday"
                                                    ],
                                                    "type": "string"
                                                  },
                                                  "Notes": {
                                                    "title": "Notes",
                                                    "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "AvailableHours": {
                                                    "title": "AvailableHours",
                                                    "description": "Availability details for a service",
                                                    "type": "array",
                                                    "minItems": 1,
                                                    "items": {
                                                      "description": "Availability details for a service",
                                                      "type": "object",
                                                      "additionalProperties": true,
                                                      "required": [
                                                        "OpeningTime",
                                                        "ClosingTime"
                                                      ],
                                                      "properties": {
                                                        "OpeningTime": {
                                                          "title": "OpeningTime",
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        },
                                                        "ClosingTime": {
                                                          "title": "ClosingTime",
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "NonStandardAvailability": {
                                              "title": "NonStandardAvailability",
                                              "description": "Non-standard hours of availability for a service supported by an organisation",
                                              "type": "array",
                                              "items": {
                                                "description": "Non-standard hours of availability for a service supported by an organisation",
                                                "type": "object",
                                                "additionalProperties": true,
                                                "required": [
                                                  "Name"
                                                ],
                                                "properties": {
                                                  "Name": {
                                                    "title": "Name",
                                                    "description": "Name provided for non-standard opening periods e.g. Christmas, shrimp season or annual maintenance",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 140
                                                  },
                                                  "StartDate": {
                                                    "title": "StartDate",
                                                    "description": "Start date of the non standard availability",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "EndDate": {
                                                    "title": "EndDate",
                                                    "description": "End date of the non standard availability",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "ServiceLevelDescription": {
                                                    "title": "ServiceLevelDescription",
                                                    "description": "Summary description for the availability of this service.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Notes": {
                                                    "title": "Notes",
                                                    "description": "Notes related to the Non-standard hours e.g. During shrimp season, the branch has extended opening hours",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Day": {
                                                    "title": "Day",
                                                    "description": "Days on which a service is available for either discussion or action",
                                                    "type": "array",
                                                    "maxItems": 7,
                                                    "minItems": 0,
                                                    "items": {
                                                      "description": "Days on which a service is available for either discussion or action",
                                                      "type": "object",
                                                      "additionalProperties": true,
                                                      "required": [
                                                        "Name",
                                                        "AvailableHours"
                                                      ],
                                                      "properties": {
                                                        "Name": {
                                                          "title": "Name",
                                                          "description": "Specifies the day of the week",
                                                          "enum": [
                                                            "Friday",
                                                            "Monday",
                                                            "Saturday",
                                                            "Sunday",
                                                            "Thursday",
                                                            "Tuesday",
                                                            "Wednesday"
                                                          ],
                                                          "type": "string"
                                                        },
                                                        "Notes": {
                                                          "title": "Notes",
                                                          "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 2000
                                                        },
                                                        "AvailableHours": {
                                                          "title": "AvailableHours",
                                                          "description": "Availability details for a service",
                                                          "type": "array",
                                                          "minItems": 1,
                                                          "items": {
                                                            "description": "Availability details for a service",
                                                            "type": "object",
                                                            "additionalProperties": true,
                                                            "required": [
                                                              "OpeningTime",
                                                              "ClosingTime"
                                                            ],
                                                            "properties": {
                                                              "OpeningTime": {
                                                                "title": "OpeningTime",
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              },
                                                              "ClosingTime": {
                                                                "title": "ClosingTime",
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "ServiceMatterContactDetails": {
                              "title": "ServiceMatterContactDetails",
                              "description": "This section holds info related to communication contacts which can be used by banks customer to avail the banks services.",
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "MatterAvailabilityMethod"
                              ],
                              "properties": {
                                "MatterAvailabilityMethod": {
                                  "title": "MatterAvailabilityMethod",
                                  "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                  "type": "array",
                                  "minItems": 1,
                                  "items": {
                                    "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "required": [
                                      "MatterMethodType",
                                      "ContactTypeDetails"
                                    ],
                                    "properties": {
                                      "MatterMethodType": {
                                        "title": "MatterMethodType",
                                        "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                        "enum": [
                                          "InternetBanking",
                                          "MobileBanking",
                                          "Other",
                                          "Telephone"
                                        ],
                                        "type": "string"
                                      },
                                      "OtherContactMethodType": {
                                        "title": "OtherContactMethodType",
                                        "description": "Other code set which is not available in the standard ContactAvailabilityMethodType code set.",
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                          "Name",
                                          "Description"
                                        ],
                                        "properties": {
                                          "Code": {
                                            "title": "Code",
                                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                                            "type": "string",
                                            "pattern": "^\\w{0,4}$",
                                            "minLength": 0,
                                            "maxLength": 4
                                          },
                                          "Name": {
                                            "title": "Name",
                                            "description": "Long name associated with the code",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 70
                                          },
                                          "Description": {
                                            "title": "Description",
                                            "description": "Description to describe the purpose of the code",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 350
                                          }
                                        }
                                      },
                                      "ContactTypeDetails": {
                                        "title": "ContactTypeDetails",
                                        "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                        "type": "array",
                                        "minItems": 1,
                                        "items": {
                                          "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "ContactType",
                                            "ContactContent"
                                          ],
                                          "properties": {
                                            "ContactType": {
                                              "title": "ContactType",
                                              "description": "Contact type such Phone, Fax and email",
                                              "enum": [
                                                "Email",
                                                "MobileApp",
                                                "Other",
                                                "Phone",
                                                "WebChatApp"
                                              ],
                                              "type": "string"
                                            },
                                            "ContactContent": {
                                              "title": "ContactContent",
                                              "description": "Collection of information that identifies a phone/ email/WebChat/ Mobile App or other communication channel, as defined by telecom services.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "ContactDescription": {
                                              "title": "ContactDescription",
                                              "description": "Description of contact such as main phone number, alternate phone number and WebChat App name.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "OtherContactType": {
                                              "title": "OtherContactType",
                                              "description": "Other contact type which is not in the standard code list",
                                              "type": "object",
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ],
                                              "properties": {
                                                "Code": {
                                                  "title": "Code",
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "title": "Name",
                                                  "description": "Long name associated with the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "title": "Description",
                                                  "description": "Description to describe the purpose of the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "ServicesActionAvailability": {
                              "title": "ServicesActionAvailability",
                              "description": "This section hold info related to Services which can be actioned by an account holder",
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "ServicesActionAvailabilityDetails"
                              ],
                              "properties": {
                                "ServicesActionAvailabilityDetails": {
                                  "title": "ServicesActionAvailabilityDetails",
                                  "description": "How and when , an account holder can do action on a particular service e.g. Checking  account balance.",
                                  "type": "array",
                                  "minItems": 1,
                                  "items": {
                                    "description": "How and when , an account holder can do action on a particular service e.g. Checking  account balance.",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "required": [
                                      "ActionType",
                                      "ServiceActionAvailabilityMethod"
                                    ],
                                    "properties": {
                                      "ActionType": {
                                        "title": "ActionType",
                                        "description": "Services which can be actioned by account holder",
                                        "enum": [
                                          "AccessingTransHistory",
                                          "CheckingBalance",
                                          "CancellingCheque",
                                          "SendingMoneyOutsideUK",
                                          "Other",
                                          "PayingInCheque",
                                          "SendingMoneyWithinUK",
                                          "SettingStandingOrder"
                                        ],
                                        "type": "string"
                                      },
                                      "24HourAvailable": {
                                        "title": "24HourAvailable",
                                        "description": "Indicates whether this Service is available to be actioned 24hours",
                                        "enum": [
                                          "InSomeCases",
                                          "NotPossible",
                                          "No",
                                          "Yes"
                                        ],
                                        "type": "string"
                                      },
                                      "OtherActionType": {
                                        "title": "OtherActionType",
                                        "description": "Other code set which is not available in the standard ActionAvailabilityCode set",
                                        "type": "array",
                                        "items": {
                                          "description": "Other code set which is not available in the standard ActionAvailabilityCode set",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "Name",
                                            "Description"
                                          ],
                                          "properties": {
                                            "Code": {
                                              "title": "Code",
                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                              "type": "string",
                                              "pattern": "^\\w{0,4}$",
                                              "minLength": 0,
                                              "maxLength": 4
                                            },
                                            "Name": {
                                              "title": "Name",
                                              "description": "Long name associated with the code",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "Description": {
                                              "title": "Description",
                                              "description": "Description to describe the purpose of the code",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 350
                                            }
                                          }
                                        }
                                      },
                                      "ExecutionChannelDetails": {
                                        "title": "ExecutionChannelDetails",
                                        "description": "Communication device number or electronic address used for execution an action(service) within the banking domain",
                                        "type": "array",
                                        "items": {
                                          "description": "Communication device number or electronic address used for execution an action(service) within the banking domain",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "ExecutionChannelType",
                                            "ChannelContent"
                                          ],
                                          "properties": {
                                            "ExecutionChannelType": {
                                              "title": "ExecutionChannelType",
                                              "description": "Channel type such Phone, Fax and email which can be used to do Action ",
                                              "enum": [
                                                "Email",
                                                "MobileApp",
                                                "Other",
                                                "Phone",
                                                "WebChatApp"
                                              ],
                                              "type": "string"
                                            },
                                            "ChannelContent": {
                                              "title": "ChannelContent",
                                              "description": "Collection of information that identifies a phone/Fax number/ email/WebChat or other communication channel, as defined by telecom services.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "ChannelDescription": {
                                              "title": "ChannelDescription",
                                              "description": "Description of channel such as main phone number, alternate phone number, Telephone banking number, Internet Banking website and Mobile App name.",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "OtherChannelType": {
                                              "title": "OtherChannelType",
                                              "description": "Other channel type which is not in the standard code list",
                                              "type": "object",
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ],
                                              "properties": {
                                                "Code": {
                                                  "title": "Code",
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "title": "Name",
                                                  "description": "Long name associated with the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "title": "Description",
                                                  "description": "Description to describe the purpose of the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "ServiceActionAvailabilityMethod": {
                                        "title": "ServiceActionAvailabilityMethod",
                                        "description": "Methods through which this service can be actioned by account holder",
                                        "type": "array",
                                        "minItems": 1,
                                        "items": {
                                          "description": "Methods through which this service can be actioned by account holder",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "ActionMethodType"
                                          ],
                                          "properties": {
                                            "ActionMethodType": {
                                              "title": "ActionMethodType",
                                              "description": "Method through a service can be actioned by account holder.",
                                              "enum": [
                                                "TelephoneBanking",
                                                "InternetBanking",
                                                "MobileBanking",
                                                "Other"
                                              ],
                                              "type": "string"
                                            },
                                            "ServiceLevelDescription": {
                                              "title": "ServiceLevelDescription",
                                              "description": "Describe the availability of this service like 24*7*365",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "Note": {
                                              "title": "Note",
                                              "description": "Any info which supports action availability method for a service",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "OtherActionMethodType": {
                                              "title": "OtherActionMethodType",
                                              "description": "Other code set which is not available in the standard ActionMethodTypeCode set.",
                                              "type": "object",
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ],
                                              "properties": {
                                                "Code": {
                                                  "title": "Code",
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "title": "Name",
                                                  "description": "Long name associated with the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "title": "Description",
                                                  "description": "Description to describe the purpose of the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              }
                                            },
                                            "Day": {
                                              "title": "Day",
                                              "description": "Days on which a service is available for either discussion or action",
                                              "type": "array",
                                              "items": {
                                                "description": "Days on which a service is available for either discussion or action",
                                                "type": "object",
                                                "additionalProperties": true,
                                                "required": [
                                                  "Name",
                                                  "AvailableHours"
                                                ],
                                                "properties": {
                                                  "Name": {
                                                    "title": "Name",
                                                    "description": "Specifies the day of the week",
                                                    "enum": [
                                                      "Friday",
                                                      "Monday",
                                                      "Saturday",
                                                      "Sunday",
                                                      "Thursday",
                                                      "Tuesday",
                                                      "Wednesday"
                                                    ],
                                                    "type": "string"
                                                  },
                                                  "Notes": {
                                                    "title": "Notes",
                                                    "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "AvailableHours": {
                                                    "title": "AvailableHours",
                                                    "description": "Availability details for a service",
                                                    "type": "array",
                                                    "minItems": 1,
                                                    "items": {
                                                      "description": "Availability details for a service",
                                                      "type": "object",
                                                      "additionalProperties": true,
                                                      "required": [
                                                        "OpeningTime",
                                                        "ClosingTime"
                                                      ],
                                                      "properties": {
                                                        "OpeningTime": {
                                                          "title": "OpeningTime",
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        },
                                                        "ClosingTime": {
                                                          "title": "ClosingTime",
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "NonStandardAvailability": {
                                              "title": "NonStandardAvailability",
                                              "description": "Non-standard hours of availability for a service supported by an organisation",
                                              "type": "array",
                                              "items": {
                                                "description": "Non-standard hours of availability for a service supported by an organisation",
                                                "type": "object",
                                                "additionalProperties": true,
                                                "required": [
                                                  "Name"
                                                ],
                                                "properties": {
                                                  "Name": {
                                                    "title": "Name",
                                                    "description": "Name provided for non-standard opening periods e.g. Christmas, shrimp season or annual maintenance",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 140
                                                  },
                                                  "StartDate": {
                                                    "title": "StartDate",
                                                    "description": "Start date of the non standard availability",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "EndDate": {
                                                    "title": "EndDate",
                                                    "description": "End date of the non standard availability",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "ServiceLevelDescription": {
                                                    "title": "ServiceLevelDescription",
                                                    "description": "Summary description for the availability of this service.",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Notes": {
                                                    "title": "Notes",
                                                    "description": "Notes related to the Non-standard hours e.g. During shrimp season, the branch has extended opening hours",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Day": {
                                                    "title": "Day",
                                                    "description": "Days on which a service is available for either discussion or action",
                                                    "type": "array",
                                                    "maxItems": 7,
                                                    "minItems": 0,
                                                    "items": {
                                                      "description": "Days on which a service is available for either discussion or action",
                                                      "type": "object",
                                                      "additionalProperties": true,
                                                      "required": [
                                                        "Name",
                                                        "AvailableHours"
                                                      ],
                                                      "properties": {
                                                        "Name": {
                                                          "title": "Name",
                                                          "description": "Specifies the day of the week",
                                                          "enum": [
                                                            "Friday",
                                                            "Monday",
                                                            "Saturday",
                                                            "Sunday",
                                                            "Thursday",
                                                            "Tuesday",
                                                            "Wednesday"
                                                          ],
                                                          "type": "string"
                                                        },
                                                        "Notes": {
                                                          "title": "Notes",
                                                          "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 2000
                                                        },
                                                        "AvailableHours": {
                                                          "title": "AvailableHours",
                                                          "description": "Availability details for a service",
                                                          "type": "array",
                                                          "minItems": 1,
                                                          "items": {
                                                            "description": "Availability details for a service",
                                                            "type": "object",
                                                            "additionalProperties": true,
                                                            "required": [
                                                              "OpeningTime",
                                                              "ClosingTime"
                                                            ],
                                                            "properties": {
                                                              "OpeningTime": {
                                                                "title": "OpeningTime",
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              },
                                                              "ClosingTime": {
                                                                "title": "ClosingTime",
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "OperationalSecurityIncidentMetrics": {
                              "title": "OperationalSecurityIncidentMetrics",
                              "description": "This section holds info related to operational and security metrics.",
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "OperationalSecurityIncidentMetricsDetails"
                              ],
                              "properties": {
                                "OperationalSecurityIncidentMetricsDetails": {
                                  "title": "OperationalSecurityIncidentMetricsDetails",
                                  "description": "Hold info related to Operation and Security Incident Metrics details",
                                  "type": "array",
                                  "minItems": 1,
                                  "items": {
                                    "description": "Hold info related to Operation and Security Incident Metrics details",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "required": [
                                      "IncidentMetricsType",
                                      "IncidentDetails"
                                    ],
                                    "properties": {
                                      "IncidentMetricsType": {
                                        "title": "IncidentMetricsType",
                                        "description": "Incident metrics type",
                                        "enum": [
                                          "IncidentsAffectingInternetBanking",
                                          "IncidentsAffectingMobBanking",
                                          "Other",
                                          "IncidentsAffectingTelBanking",
                                          "TotalNumberIncidentReported"
                                        ],
                                        "type": "string"
                                      },
                                      "Note": {
                                        "title": "Note",
                                        "description": "Any info which banks wants provide with the support of Operation Security Incident",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 2000
                                      },
                                      "OtherIncidentMetricsType": {
                                        "title": "OtherIncidentMetricsType",
                                        "description": "Other code set which is not available in the standard code set.",
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                          "Name",
                                          "Description"
                                        ],
                                        "properties": {
                                          "Code": {
                                            "title": "Code",
                                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                                            "type": "string",
                                            "pattern": "^\\w{0,4}$",
                                            "minLength": 0,
                                            "maxLength": 4
                                          },
                                          "Name": {
                                            "title": "Name",
                                            "description": "Long name associated with the code",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 70
                                          },
                                          "Description": {
                                            "title": "Description",
                                            "description": "Description to describe the purpose of the code",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 350
                                          }
                                        }
                                      },
                                      "IncidentDetails": {
                                        "title": "IncidentDetails",
                                        "description": "Operational and security incident metrics details",
                                        "type": "array",
                                        "minItems": 1,
                                        "items": {
                                          "description": "Operational and security incident metrics details",
                                          "type": "object",
                                          "additionalProperties": true,
                                          "required": [
                                            "IncidentReportingType",
                                            "FromDate",
                                            "ToDate",
                                            "IncidentCount"
                                          ],
                                          "properties": {
                                            "IncidentReportingType": {
                                              "title": "IncidentReportingType",
                                              "description": "Operational and security incident reporting period type",
                                              "enum": [
                                                "Other",
                                                "Quarterly",
                                                "Yearly"
                                              ],
                                              "type": "string"
                                            },
                                            "FromDate": {
                                              "title": "FromDate",
                                              "description": "Operational and Security incident measurement period start date",
                                              "type": "string",
                                              "format": "date"
                                            },
                                            "ToDate": {
                                              "title": "ToDate",
                                              "description": "Operational and Security incident measurement period end date",
                                              "type": "string",
                                              "format": "date"
                                            },
                                            "IncidentCount": {
                                              "title": "IncidentCount",
                                              "description": "Number of times this incident happened in the measurement period",
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "OtherIncidentReportingType": {
                                              "title": "OtherIncidentReportingType",
                                              "description": "Other code set which is not available in the standard code set.",
                                              "type": "object",
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ],
                                              "properties": {
                                                "Code": {
                                                  "title": "Code",
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "title": "Name",
                                                  "description": "Long name associated with the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "title": "Description",
                                                  "description": "Description to describe the purpose of the code",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "ComplaintsData": {
                              "title": "ComplaintsData",
                              "description": "This section holds info related to complaints data.",
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "CompliantsDataDetails"
                              ],
                              "properties": {
                                "CompliantsDataDetails": {
                                  "title": "CompliantsDataDetails",
                                  "description": "Section describing complaints data related to a bank brand",
                                  "type": "object",
                                  "additionalProperties": false,
[...]
