openapi: "3.0.1"
info:
  title: "Confirmation of Funds API"
  description: >
    In this document, you'll find the steps your organization needs to take to use our API services. Included in this guide are details of request and response messages used to support your organization’s integration.
    The intended audience for this document are **Technical Architects**, **Development Engineers**, **Test Engineers**, and **Operation & Maintenance Engineers** involved in development and support of your organization’s integration.
    Setting up our API Services is best completed with the assistance of your organization’s IT team, or someone with experience and knowledge of application programming interfaces. This should include experience with **JSON payloads**, **security** and **public key infrastructure (PKI)**.
    This Document describes the following request and response structure of **HSBC MI Vision - Confirmation of Funds API**. For detail implementation guidelines, please refer to the respective section of Documentation page.
  version: "3.1.11"
tags:
  - name: "Funds Confirmation Consent"
    description: "Endpoints to create, retrieve and delete funds confirmation consent"
  - name: "Funds Confirmation Data"
    description: "Endpoints to check funds availability on consented accounts"
paths:
  /funds-confirmation-consents:
    post:
      tags:
        - "Funds Confirmation Consent"
      summary: "Create Funds Confirmation Consent"
      description: This API enables TPP to create a funds confirmation consent. Product type supported is Credit Cards.
      operationId: "CreateFundsConfirmationConsents"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization1"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OBFundsConfirmationConsent1"
        description: Request body contains all relevant fields to be sent in the request for /funds-confirmation-consents
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201FundsConfirmationConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - BearerAuth: []
          TPPOAuth2Security:
            - "fundsconfirmations"
  /funds-confirmation-consents/{ConsentId}:
    get:
      tags:
        - "Funds Confirmation Consent"
      summary: "Get Funds Confirmation Consent"
      description: This API enables TPP to retrieve a funds confirmation consent. Product types supported are Business Current Account, Deposit Accounts, Credit Cards, Foreign Currency Account and Global Wallet.
      operationId: "GetFundsConfirmationConsentsConsentId"
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization1"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200FundsConfirmationConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - BearerAuth: []
          TPPOAuth2Security:
            - "fundsconfirmations"
    delete:
      tags:
        - "Funds Confirmation Consent"
      summary: "Delete Funds Confirmation Consent"
      description: This API enables TPP to delete a funds confirmation consent. Product types supported are Business Current Account, Deposit Accounts, Credit Cards, Foreign Currency Account and Global Wallet.
      operationId: "DeleteFundsConfirmationConsentsConsentId"
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization1"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "204":
          $ref: "#/components/responses/204FundsConfirmationConsentsConsentIdDeleted"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - BearerAuth: []
          TPPOAuth2Security:
            - "fundsconfirmations"
  /funds-confirmations:
    post:
      tags:
        - "Funds Confirmation Data"
      summary: "Create Funds Confirmation"
      description: This API enables TPP to create funds confirmation. Product types supported are Business Current Account, Deposit Accounts, Credit Cards, Foreign Currency Account and Global Wallet.
      operationId: "CreateFundsConfirmations"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization2"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OBFundsConfirmation1"
        description: "Default"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201FundsConfirmationsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - BearerAuth: []
          PSUOAuth2Security:
            - "fundsconfirmations"
servers:
  - url: "https://sandbox.ob.mivision.hsbc.co.uk/mock/obie/open-banking/v3.1/cbpii"
    description: "Sandbox Base URL"
components:
  parameters:
    ConsentId:
      name: "ConsentId"
      in: "path"
      description: "ConsentId"
      required: true
      schema:
        type: "string"
      example: "764331140"
    Authorization1:
      in: "header"
      name: "Authorization"
      required: true
      description: "An authorisation token which was obtained from an authorisation server using Client Credentials Grant (https://www.rfc-editor.org/rfc/rfc6749#section-4.4). The obtained token must be sent using 'Bearer' scheme (https://tools.ietf.org/html/rfc6750#section-2) for this request."
      schema:
        type: "string"
      example: "Bearer GhHumL9VYAha...mlSLaT5RqYvlN"
    Authorization2:
      in: "header"
      name: "Authorization"
      required: true
      description: "An authorisation token which was obtained from an authorisation server using Authorisation Code Grant (https://www.rfc-editor.org/rfc/rfc6749#section-4.1). The obtained token must be sent using 'Bearer' scheme (https://tools.ietf.org/html/rfc6750#section-2) for this request."
      schema:
        type: "string"
      example: "Bearer GhHumL9VYAha...mlSLaT5RqYvlN"
    x-customer-user-agent:
      in: "header"
      name: "x-customer-user-agent"
      description: "Indicates the user-agent that the PSU is using."
      required: false
      schema:
        type: "string"
      example: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"
    x-fapi-customer-ip-address:
      in: "header"
      name: "x-fapi-customer-ip-address"
      required: false
      description: "The PSU's IP address if the PSU is currently logged in with the TPP."
      schema:
        type: "string"
        pattern: ^((((25[0-5]|2[0-4]\d|[0-1]?\d?\d)(\.(25[0-5]|2[0-4]\d|[0-1]?\d?\d)){3}\s?)|(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))\s?),?\s?)+$
      example: "12.201.45.125"
    x-fapi-auth-date:
      in: "header"
      name: "x-fapi-auth-date"
      required: false
      description: "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC"
      schema:
        type: "string"
        pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
      example: "Wed, 30 Nov 2022 15:05:25 UTC"
    x-fapi-interaction-id:
      in: "header"
      name: "x-fapi-interaction-id"
      required: false
      description: "An RFC4122 UID used as a correlation id."
      schema:
        type: "string"
      example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
  responses:
    201FundsConfirmationConsentsCreated:
      description: "Funds Confirmation Consent Created"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OBFundsConfirmationConsentResponse1"
    200FundsConfirmationConsentsConsentIdRead:
      description: "Funds Confirmation Consent Read"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OBFundsConfirmationConsentResponse1"
    204FundsConfirmationConsentsConsentIdDeleted:
      description: "Funds Confirmation Consent Deleted"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
    201FundsConfirmationsCreated:
      description: "Funds Confirmation Created"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OBFundsConfirmationResponse1"
    400Error:
      description: "Bad request"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
    401Error:
      description: "Unauthorized"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
    403Error:
      description: "Forbidden"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
    405Error:
      description: "Method Not Allowed"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
    406Error:
      description: "Not Acceptable"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
    415Error:
      description: "Unsupported Media Type"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
    429Error:
      description: "Too Many Requests"
      headers:
        Retry-After:
          description: "Number in seconds to wait"
          schema:
            type: "integer"
          example: 2
        x-fapi-interaction-id:
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
    500Error:
      description: "Internal Server Error"
      headers:
        x-fapi-interaction-id:
          required: true
          description: "An RFC4122 UID used as a correlation id."
          schema:
            type: "string"
          example: "f8273b70-d5c0-4ef7-b3ba-2b3400fe1956"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authorization scheme used to authenticate & authorize access to a protected resource on a web server. It is used in conjunction with the OAuth 2.0 protocol for securing API endpoints.
    TPPOAuth2Security:
      type: "oauth2"
      description: "TPP client credential authorisation flow with the ASPSP. TokenURL to be used by TPP to obtain a token. Check the well-known configuration endpoint, the 'token_endpoint' property."
      flows:
        clientCredentials:
          tokenUrl: "/obie/open-banking/v1.1/oauth2/token"
          scopes:
            fundsconfirmations: "Funds confirmation entitlement"
    PSUOAuth2Security:
      type: "oauth2"
      description: "OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU. Authorization URL to be used by TPP to redirect the PSU in order to start consent authorization journey. Check the well-known configuration endpoint, the 'authorization_endpoint' property. TokenURL to be used by TPP to obtain a token. Check the well-known configuration endpoint, the 'token_endpoint' property."
      flows:
        authorizationCode:
          authorizationUrl: "/obie/open-banking/v1.1/oauth2/authorize"
          tokenUrl: "/obie/open-banking/v1.1/oauth2/token"
          scopes:
            fundsconfirmations: "Funds confirmation entitlement"
  schemas:
    Links:
      type: "object"
      description: "Links relevant to the payload"
      properties:
        Self:
          description: "A link to the same resource used for the current request"
          type: "string"
          format: "uri"
          example: "https://secure.sandbox.ob.mivision.hsbc.co.uk/obie/open-banking/v3.1/cbpii/funds-confirmation-consents/1234567890"
      additionalProperties: false
      required:
        - "Self"
    OBError1:
      type: "object"
      properties:
        ErrorCode:
          description: "Low level textual error code, e.g., UK.OBIE.Field.Missing"
          type: "string"
          enum:
            - "UK.OBIE.Field.Expected"
            - "UK.OBIE.Field.Invalid"
            - "UK.OBIE.Field.InvalidDate"
            - "UK.OBIE.Field.Missing"
            - "UK.OBIE.Field.Unexpected"
            - "UK.OBIE.Header.Invalid"
            - "UK.OBIE.Header.Missing"
            - "UK.OBIE.Reauthenticate"
            - "UK.OBIE.Resource.ConsentMismatch"
            - "UK.OBIE.Resource.InvalidConsentStatus"
            - "UK.OBIE.Resource.InvalidFormat"
            - "UK.OBIE.Resource.NotFound"
            - "UK.OBIE.Rules.AfterCutOffDateTime"
            - "UK.OBIE.Rules.DuplicateReference"
            - "UK.OBIE.Signature.Invalid"
            - "UK.OBIE.Signature.InvalidClaim"
            - "UK.OBIE.Signature.Malformed"
            - "UK.OBIE.Signature.Missing"
            - "UK.OBIE.Signature.MissingClaim"
            - "UK.OBIE.Signature.Unexpected"
            - "UK.OBIE.UnexpectedError"
            - "UK.OBIE.Unsupported.AccountIdentifier"
            - "UK.OBIE.Unsupported.AccountSecondaryIdentifier"
            - "UK.OBIE.Unsupported.Currency"
            - "UK.OBIE.Unsupported.Frequency"
            - "UK.OBIE.Unsupported.LocalInstrument"
            - "UK.OBIE.Unsupported.Scheme"
          example: "UK.OBIE.Field.InvalidDate"
        Message:
          description: "A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future'\nOBIE doesn't standardise this field"
          type: "string"
          minLength: 1
          maxLength: 500
          example: "Provided expiration date is not valid"
        Path:
          description: "Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency"
          type: "string"
          minLength: 1
          maxLength: 500
          example: "Data.ExpirationDateTime"
        Url:
          description: "URL to help remediate the problem, or provide more information, or to API Reference, or help etc"
          type: "string"
      required:
        - "ErrorCode"
        - "Message"
      additionalProperties: false
      minProperties: 1
    OBErrorResponse1:
      description: "An array of detail error codes, and messages, and URLs to documentation to help remediation."
      type: "object"
      properties:
        Code:
          description: "High level textual error code, to help categorize the errors."
          type: "string"
          minLength: 1
          maxLength: 40
          example: "ERR-4231"
        Id:
          description: "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors."
          type: "string"
          minLength: 1
          maxLength: 40
          example: "c7cd8b64-50e8-48dd-9085-8981941abe0a"
        Message:
          description: "Brief Error message, e.g., 'There is something wrong with the request parameters provided'"
          type: "string"
          minLength: 1
          maxLength: 500
          example: "There is something wrong with the request parameters provided"
        Errors:
          items:
            $ref: "#/components/schemas/OBError1"
          type: "array"
          minItems: 1
      required:
        - "Code"
        - "Message"
        - "Errors"
      additionalProperties: false
    OBFundsConfirmation1:
      type: "object"
      required:
        - "Data"
      properties:
        Data:
          type: "object"
          required:
            - "ConsentId"
            - "Reference"
            - "InstructedAmount"
          properties:
            ConsentId:
              description: "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource."
              type: "string"
              minLength: 1
              maxLength: 128
              example: "2537482945"
            Reference:
              description: "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction."
              type: "string"
              minLength: 1
              maxLength: 35
              example: 12345
            InstructedAmount:
              type: "object"
              required:
                - "Amount"
                - "Currency"
              description: "Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency."
              properties:
                Amount:
                  description: "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                  type: "string"
                  pattern: "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                  example: 0.01
                Currency:
                  description: "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\". Currency in the request should match the Account Currency of the PSU, for which the PSU has given consent."
                  type: "string"
                  pattern: "^[A-Z]{3,3}$"
                  example: GBP
      additionalProperties: false
    OBFundsConfirmationConsent1:
      type: "object"
      required:
        - "Data"
      properties:
        Data:
          type: "object"
          required:
            - "DebtorAccount"
          properties:
            ExpirationDateTime:
              description: "Specified date and time the funds confirmation authorisation will expire.\n If this is not populated, the authorisation will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
              example: "2023-10-05T10:53:10+00:00"
            DebtorAccount:
              type: "object"
              required:
                - "SchemeName"
                - "Identification"
              description: "Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied."
              properties:
                SchemeName:
                  description: "Name of the identification scheme, in a coded form as published in an external list."
                  type: "string"
                  enum:
                    - "UK.OBIE.PAN"
                  example: "UK.OBIE.PAN"
                Identification:
                  description: "Identification assigned by an institution to identify an account. This identification is known by the account owner."
                  type: "string"
                  minLength: 1
                  maxLength: 256
                  example: 40010600962147
                Name:
                  description: "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account."
                  type: "string"
                  minLength: 1
                  maxLength: 350
                  example: ABC
                SecondaryIdentification:
                  description: "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
                  type: "string"
                  minLength: 1
                  maxLength: 34
                  example: Roll 56922
      additionalProperties: false
    OBFundsConfirmationConsentResponse1:
      type: "object"
      required:
        - "Data"
      properties:
        Data:
          type: "object"
          required:
            - "ConsentId"
            - "CreationDateTime"
            - "Status"
            - "StatusUpdateDateTime"
            - "DebtorAccount"
          properties:
            ConsentId:
              description: "Unique identification as assigned to identify the funds confirmation consent resource."
              type: "string"
              minLength: 1
              maxLength: 128
              example: "62f58a32-4eb8-4b13-a378-206ba088f1c2"
            CreationDateTime:
              description: "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
              example: "2023-10-05T10:43:10+00:00"
            Status:
              description: "Specifies the status of consent resource in code form."
              type: "string"
              enum:
                - "Authorised"
                - "AwaitingAuthorisation"
                - "Rejected"
                - "Revoked"
              example: "AwaitingAuthorisation"
            StatusUpdateDateTime:
              description: "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
              example: "2023-10-15T10:43:10+00:00"
            ExpirationDateTime:
              description: "Specified date and time the funds confirmation authorisation will expire.\nIf this is not populated, the authorisation will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
              example: "2023-10-05T10:53:10+00:00"
            DebtorAccount:
              type: "object"
              required:
                - "SchemeName"
                - "Identification"
              description: "Unambiguous identification of the account of the debtor to which a confirmation of funds consent will be applied."
              properties:
                SchemeName:
                  description: "Name of the identification scheme, in a coded form as published in an external list."
                  type: "string"
                  enum:
                    - "UK.OBIE.PAN"
                  example: "UK.OBIE.PAN"
                Identification:
                  description: "Identification assigned by an institution to identify an account. This identification is known by the account owner."
                  type: "string"
                  minLength: 1
                  maxLength: 256
                  example: 40010600962147
                Name:
                  description: "Name of the account, as assigned by the account servicing institution.\nUsage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account."
                  type: "string"
                  minLength: 1
                  maxLength: 350
                  example: ABC
                SecondaryIdentification:
                  description: "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
                  type: "string"
                  minLength: 1
                  maxLength: 34
                  example: Roll 56922
        Links:
          $ref: "#/components/schemas/Links"
      additionalProperties: false
    OBFundsConfirmationResponse1:
      type: "object"
      required:
        - "Data"
      properties:
        Data:
          type: "object"
          required:
            - "FundsConfirmationId"
            - "ConsentId"
            - "CreationDateTime"
            - "FundsAvailable"
            - "Reference"
            - "InstructedAmount"
          properties:
            FundsConfirmationId:
              description: "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation resource."
              type: "string"
              minLength: 1
              maxLength: 40
              example: "ba7501a1-aa4d-4d82-b6a9-48cb5c7abd7f"
            ConsentId:
              description: "Unique identification as assigned by the ASPSP to uniquely identify the funds confirmation consent resource."
              type: "string"
              minLength: 1
              maxLength: 128
              example: "2537482945"
            CreationDateTime:
              description: "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
              example: "2023-10-05T10:43:10+00:00"
            FundsAvailable:
              description: "Flag to indicate the result of a confirmation of funds check."
              type: "boolean"
              example: "true"
            Reference:
              description: "Unique reference, as assigned by the CBPII, to unambiguously refer to the request related to the payment transaction."
              type: "string"
              minLength: 1
              maxLength: 35
              example: "12345"
            InstructedAmount:
              type: "object"
              required:
                - "Amount"
                - "Currency"
              description: "Amount of money to be confirmed as available funds in the debtor account. Contains an Amount and a Currency."
              properties:
                Amount:
                  description: "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                  type: "string"
                  pattern: "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                  example: 0.01
                Currency:
                  description: "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                  type: "string"
                  pattern: "^[A-Z]{3,3}$"
                  example: GBP
        Links:
          $ref: "#/components/schemas/Links"
      additionalProperties: false